<!-- Toast Success Message -->
<p-toast key="success" position="top-right" class="success-toast">
  <ng-template let-message pTemplate="message">
    <div class="p-toast-message p-toast-message-info" style="flex: 1">
      <div class="p-toast-message-content">
        <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>

        <div class="p-toast-message-text">
          <div class="p-toast-summary">{{ message.summary }}</div>
          <div class="p-toast-detail">{{ message.detail }}</div>
        </div>
      </div>
    </div>
  </ng-template>
</p-toast>

<!-- Toast Error Message -->
<p-toast key="error" position="top-right" class="error-toast">
  <ng-template let-message pTemplate="message">
    <div class="p-toast-message p-toast-message-info" style="flex: 1">
      <div class="p-toast-message-content">
        <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>

        <div class="p-toast-message-text">
          <div class="p-toast-summary">{{ message.summary }}</div>
          <div class="p-toast-detail">{{ message.detail }}</div>
        </div>
      </div>
    </div>
  </ng-template>
</p-toast>

<!-- Toast Warning Message -->
<p-toast key="warning" position="top-right" class="warning-toast">
  <ng-template let-message pTemplate="message">
    <div class="p-toast-message p-toast-message-info" style="flex: 1">
      <div class="p-toast-message-content">
        <i class="pi pi-info-circle" style="font-size: 3rem"></i>

        <div class="p-toast-message-text">
          <div class="p-toast-summary">{{ message.summary }}</div>
          <div class="p-toast-detail">{{ message.detail }}</div>
        </div>
      </div>
    </div>
  </ng-template>
</p-toast>

<div class="row layout-spacing layout-top-spacing" id="cancel-row">
  <div class="col-lg-12">
    <div class="widget-content searchable-container list">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 text-sm-left layout-spacing">
          <h6>{{docCustomer?.dk000custoid}} - {{docCustomer?.dk006fulname}} </h6>
          <hr>
          <div class="d-flex justify-content-sm-start justify-content-center">
            <svg
              id="add-user"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="feather feather-user-plus"
              (click)="addAddressModal()"
            >
              <path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
              <circle cx="8.5" cy="7" r="4"></circle>
              <line x1="20" y1="8" x2="20" y2="14"></line>
              <line x1="23" y1="11" x2="17" y2="11"></line>
            </svg>
            
            <ul class="navbar-item flex-row ml-md-0 ml-md-auto">
              <li class="nav-item align-self-center search-animated">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-search toggle-search"
                >
                  <circle cx="11" cy="11" r="8"></circle>
                  <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                </svg>
                <!-- <div class="form-inline search-full form-inline search" role="search">
                  <div class="search-bar">
                    <input 
                    [(ngModel)]="searchValue"
                    type="text" 
                    class="form-control search-form-control ml-lg-auto" 
                    placeholder="Cari data alamat kustomer..." />
                  </div>
                </div> -->

                <div class="form-inline search-full form-inline search">
                  <div class="search-bar">
                    <input pInputText type="text" class="form-control search-form-control ml-lg-auto"
                      (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Cari data alamat kustomer lainnya..." />
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Modal Create Address -->
      <div
        class="modal fade"
        [ngClass]="modalAddAddress ? 'show' : ''"
        id="addCAddressModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="addAddressModalTitle"
        aria-hidden="true"
        (click)="closed($event)"
      >
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header" style="justify-content: center">
              <h6>Tambah Alamat Baru Kustomer Lainnya</h6>
            </div>
            <div class="modal-body">
              <i class="flaticon-cancel-12 close" data-dismiss="modal"></i>
              <div class="add-contact-box">
                <div class="add-contact-content">
                  <form [formGroup]="addressForm" novalidate>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="contact-occupation">
                          <i class="flaticon-fill-area"></i>
                          <input
                            type="text"
                            formControlName="ak009namalen"
                            (change)="checkName($event)"
                            class="form-control"
                            placeholder="Full Name"
                          />
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6">
                        <div class="contact-phone">
                          <i class="flaticon-telephone"></i>
                          <select
                            formControlName="ak010country"
                            class="form-control"
                            (change)="countryAddressChange($event)"
                            [(ngModel)]="selectedCountry"
                          >
                          <option [value]="" selected [attr.disabled]="true">Select Country</option>
                          <option *ngFor="let data of country; let i = index" [value]="data.id">{{ data.name }}</option>
                          </select>
                          <span class="validation-text"></span>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="contact-phone">
                          <i class="flaticon-telephone"></i>
                          <select
                            formControlName="ak012prefect"
                            class="form-control"
                            (change)="provinceAddressChange($event)"
                            [(ngModel)]="selectedProvince"
                          >
                            <option value="" selected [attr.disabled]="true">Select Province</option>
                            <option *ngFor="let data of province; let i = index" [value]="data.id">
                              {{ data.name }}
                            </option>
                          </select>
                          <span class="validation-text"></span>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12">
                        <div class="contact-occupation">
                          <i class="flaticon-fill-area"></i>
                          <input
                            type="text"
                            formControlName="ak013citynam"
                            class="form-control"
                            placeholder="City Name"
                          />
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6">
                        <div class="contact-occupation">
                          <i class="flaticon-fill-area"></i>
                          <input
                            type="text"
                            formControlName="ak011postnum"
                            class="form-control"
                            placeholder="Post Code"
                          />
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="contact-occupation">
                          <i class="flaticon-fill-area"></i>
                          <input
                            type="text"
                            formControlName="ak015telpnum"
                            class="form-control"
                            placeholder="Phone Number"
                          />
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12">
                        <div class="contact-phone">
                          <i class="flaticon-telephone"></i>
                          <textarea
                            cols="50"
                            rows="4"
                            class="form-control"
                            formControlName="ak014lainnya"
                            placeholder="Address"
                          >
                          </textarea>
                          <span class="validation-text"></span>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12">
                        <div class="contact-location">
                          <i class="flaticon-location-1"></i>
                          <input
                            type="textarea"
                            formControlName="ak016geopoin"
                            class="form-control"
                            placeholder="Coordinate"
                            [(ngModel)]="selectedGeo"
                          />
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button (click)="addAddress()" class="btn">
                Apply <i class="fas fa-cog fa-spin" [hidden]="!isLoading"></i>
              </button>

              <button class="btn" data-dismiss="modal" (click)="removeModalCreate()">
                <i class="flaticon-delete-1"></i> Cancel
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal Update Address -->
      <div
        class="modal fade"
        [ngClass]="modalAddress ? 'show' : ''"
        id="addCAddressModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="addAddressModalTitle"
        aria-hidden="true"
        (click)="closed($event)"
      >
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header" style="justify-content: center">
              <h6>Update Alamat Kustomer</h6>
            </div>
            <div class="modal-body">
              <i class="flaticon-cancel-12 close" data-dismiss="modal"></i>
              <div class="add-contact-box">
                <div class="add-contact-content">
                  <form [formGroup]="addressForm" novalidate>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="contact-occupation">
                          <i class="flaticon-fill-area"></i>
                          <input
                            type="text"
                            formControlName="ak009namalen"
                            (change)="checkName($event)"
                            class="form-control"
                            placeholder="Full Name"
                          />
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6">
                        <div class="contact-phone">
                          <i class="flaticon-telephone"></i>
                          <select
                            formControlName="ak010country"
                            class="form-control"
                            [(ngModel)]="selectedCountry"
                            (change)="countryAddressChange($event)"
                          >
                            <option value="">Select Country</option>
                            <option value="81">Jepang</option>
                            <option value="62">Indonesia</option>
                          </select>
                          <span class="validation-text"></span>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="contact-phone">
                          <i class="flaticon-telephone"></i>
                          <select
                            formControlName="ak012prefect"
                            class="form-control"
                            (change)="provinceAddressChange($event)"
                          >
                            <option value="">Select Province</option>
                            <option *ngFor="let data of province; let i = index" [value]="data.id">
                              {{ data.name }}
                            </option>
                          </select>
                          <span class="validation-text"></span>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12">
                        <div class="contact-occupation">
                          <i class="flaticon-fill-area"></i>
                          <input
                            type="text"
                            formControlName="ak013citynam"
                            class="form-control"
                            placeholder="City Name"
                          />
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6">
                        <div class="contact-occupation">
                          <i class="flaticon-fill-area"></i>
                          <input
                            type="text"
                            formControlName="ak011postnum"
                            class="form-control"
                            placeholder="Post Code"
                          />
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="contact-occupation">
                          <i class="flaticon-fill-area"></i>
                          <input
                            type="text"
                            formControlName="ak015telpnum"
                            class="form-control"
                            placeholder="Phone Number"
                          />
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12">
                        <div class="contact-phone">
                          <i class="flaticon-telephone"></i>
                          <textarea
                                cols="50"
                                rows="4"
                                class="form-control"
                                formControlName="ak014lainnya"
                                placeholder="Address"
                              >
                          </textarea>
                          <span class="validation-text"></span>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12">
                        <div class="contact-location">
                          <i class="flaticon-location-1"></i>
                          <input
                            type="textarea"
                            formControlName="ak016geopoin"
                            class="form-control"
                            placeholder="Coordinate"
                          />
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="modal-footer" style="display: block">
              <div class="float-left">
                <button class="btn btn-danger" data-dismiss="modal" (click)="deleteAddress()">
                  <i class="flaticon-delete-1"></i> Remove
                </button>
              </div>
              <div class="float-right">
                <button (click)="updateAddress()" class="btn">
                  Apply <i class="fas fa-cog fa-spin" [hidden]="!isLoading"></i>
                </button>

                <button class="btn" data-dismiss="modal" (click)="removeModal()">
                  <i class="flaticon-delete-1"></i> Cancel
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="searchable-items list">
        <app-loader [isLoading]="isLoading"></app-loader>

        <div class="table-responsive user-list">
          <p-table
            #dt
            [autoLayout]="true"
            [value]="address | async | searchFilter: searchValue"
            [paginator]="true"
            [rows]="20"
            [showCurrentPageReport]="true"
            [columns]="selectedColumns"
            class="table"
          >
            <ng-template pTemplate="caption">
              <div class="n-chk" style="margin-bottom: 20px;">
                <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header" [showHeader]="false"
                  selectedItemsLabel="{0} column selected" [style]="{minWidth: '200px'}" placeholder="Choose Columns">
                </p-multiSelect>
              </div>
            </ng-template>

            <ng-template pTemplate="header" let-columns>
              <tr>
                <ng-container *ngFor="let col of columns">
                  <th pSortableColumn="{{col.field}}">
                    {{col.header}} <p-sortIcon field="{{col.field}}"></p-sortIcon>
                  </th>
                </ng-container>

                <!-- <th pSortableColumn="ak009namalen">Nama Lengkap <p-sortIcon field="ak009namalen"></p-sortIcon></th>
                <th pSortableColumn="ak012prefect">Province <p-sortIcon field="ak012prefect"></p-sortIcon></th>
                <th pSortableColumn="ak013citynam">City <p-sortIcon field="ak013citynam"></p-sortIcon></th>
                <th style="width:30%" pSortableColumn="ak014lainnya">Address <p-sortIcon field="ak014lainnya"></p-sortIcon></th>
                <th pSortableColumn="ak011postnum">Post Code <p-sortIcon field="ak011postnum"></p-sortIcon></th>
                <th pSortableColumn="ak015telpnum">Telp  <p-sortIcon field="ak015telpnum"></p-sortIcon></th> -->
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-address let-columns="columns">
              <tr>
                <ng-container *ngFor="let col of columns">
                  <td *ngIf="col.field == 'ak009namalen'" class="action" (click)="lulaName(address); $event.stopPropagation()">
                    {{address.ak009namalen}}
                  </td>
                  <td *ngIf="col.field == 'ak012prefect'">
                    {{province[address.ak012prefect - 1].name}}
                  </td>
                  <td *ngIf="col.field == 'ak014lainnya'" style="white-space: normal; min-width: 300px;">
                    {{address.ak014lainnya | slice:0:300}}
                  </td>
                  <td *ngIf="col.field != 'ak009namalen' && col.field != 'ak012prefect' && col.field != 'ak014lainnya'">
                    {{address[col.field]}}
                  </td>
                </ng-container>

                <!-- <td class="action" (click)="lulaName(address); $event.stopPropagation()">{{ address.ak009namalen }}</td>
                <td>{{ province[address.ak012prefect - 1].name }}</td>
                <td>{{ address.ak013citynam }}</td>
                <td>{{ address.ak014lainnya | slice:0:300 }}</td>
                <td>{{ address.ak011postnum }}</td>
                <td>{{ address.ak015telpnum }}</td> -->
                <!-- <ng-container *ngFor="let address of user.dk008address">
                  <td>{{ address.dk011postnum }}</td>
                  <td>
                    <span>
                      {{ province[address.dk012prefect - 1].name }}
                    </span>
                  </td>
                  <td>{{ address.dk013citynam }}</td>
                  <td>
                    <span>
                      {{ address.dk014lainnya }}
                    </span>
                  </td>
                </ng-container> -->
              </tr>
            </ng-template>
          </p-table>
          
          <!-- <table class="table">
            <thead>
              <tr>
                <th>Full Name</th>
                <th>Province</th>
                <th>City</th>
                <th>Address</th>
                <th>Post Code</th>
                <th>Telp</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of address | async; let i = index">
                <td class="action">
                  <span (click)="lulaName(data); $event.stopPropagation()">{{ data.ak009namalen }} </span>
                </td>
                <ng-container *ngFor="let address of data.ak008address">
                  <td>
                    <span>
                      {{ province[address.ak012prefect - 1].name }}
                    </span>
                  </td>
                  <td>{{ address.ak013citynam }}</td>
                  <td>
                    <span>
                      {{ address.ak014lainnya }}
                    </span>
                  </td>
                  <td>{{ address.ak011postnum }}</td>
                </ng-container>
                <td>{{ data.ak015telpnum }}</td>
              </tr>
            </tbody>
          </table> -->
        </div>

        <div class="text-center" *ngIf="dataAddress == undefined">
          There is no data. Please add first...
        </div>
      </div>
    </div>
  </div>
</div>

<div [ngClass]="modalAddAddress ? 'show' : ''" class="modal-backdrop fade"></div>
<div [ngClass]="modalAddress ? 'show' : ''" class="modal-backdrop fade"></div>
<div [ngClass]="modalListAddress ? 'show' : ''" class="modal-backdrop fade"></div>
