<!-- Toast Success Message -->
<p-toast key="success" position="top-right" class="success-toast">
  <ng-template let-message pTemplate="message">
    <div class="p-toast-message p-toast-message-info" style="flex: 1">
      <div class="p-toast-message-content">
        <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>

        <div class="p-toast-message-text">
          <div class="p-toast-summary">{{ message.summary }}</div>
          <div class="p-toast-detail">{{ message.detail }}</div>
        </div>
      </div>
    </div>
  </ng-template>
</p-toast>

<!-- Toast Error Message -->
<p-toast key="error" position="top-right" class="error-toast">
  <ng-template let-message pTemplate="message">
    <div class="p-toast-message p-toast-message-info" style="flex: 1">
      <div class="p-toast-message-content">
        <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>

        <div class="p-toast-message-text">
          <div class="p-toast-summary">{{ message.summary }}</div>
          <div class="p-toast-detail">{{ message.detail }}</div>
        </div>
      </div>
    </div>
  </ng-template>
</p-toast>

<div class="row layout-spacing layout-top-spacing" id="cancel-row">
  <div class="col-lg-12">
    <div class="widget-content searchable-container list">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 text-sm-right text-center layout-spacing align-self-center">
          <div class="d-flex justify-content-sm-start justify-content-center">
            <!-- <svg id="add-user" xmlns="http://www.w3.org/2000/svg" width="33.438" height="22" viewBox="0 0 33.438 22"
                            (click)="addModal()">
                            <g id="Barang" transform="translate(-162.658 -442)">
                                <g id="Group_1" data-name="Group 1" transform="translate(162 441)">
                                    <path id="Path_1" data-name="Path 1" d="M12,2,2,7l10,5L22,7Z" fill="none" stroke="#009688"
                                        stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                                    <path id="Path_2" data-name="Path 2" d="M2,17l10,5,10-5" fill="none" stroke="#009688" stroke-linecap="round"
                                        stroke-linejoin="round" stroke-width="2" />
                                    <path id="Path_3" data-name="Path 3" d="M2,12l10,5,10-5" fill="none" stroke="#009688" stroke-linecap="round"
                                        stroke-linejoin="round" stroke-width="2" />
                                </g>
                                <line id="Line_2" data-name="Line 2" y2="6" transform="translate(192.096 450.028)" fill="none" stroke="#009688"
                                    stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                                <line id="Line_3" data-name="Line 3" x1="6" transform="translate(189.096 453.028)" fill="none" stroke="#009688"
                                    stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                            </g>
                        </svg> -->
          </div>

          <!-- Modal Update Transaction -->
          <div
            class="modal fade"
            [ngClass]="modalDetail ? 'show' : ''"
            id="addTransModal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="addTransModalTitle"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
              <div class="modal-content">
                <div class="modal-header" style="justify-content: center">
                  <h6>Update Kontainer - Otewe</h6>
                </div>
                <div class="modal-body">
                  <i class="flaticon-cancel-12 close" data-dismiss="modal"></i>
                  <div class="add-contact-box">
                    <div class="add-contact-content">
                      <form [formGroup]="transactionForm" novalidate>
                        <div class="row">
                          <div class="col-md-4">
                            <div class="contact-occupation">
                              <i class="flaticon-fill-area"></i>
                              <input
                                type="datetime-local"
                                formControlName="dn307expordt"
                                class="form-control"
                                placeholder="Export Date"
                                disabled
                              />
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="contact-phone">
                              <i class="flaticon-telephone"></i>
                              <input
                                type="text"
                                formControlName="dn308whatbox"
                                class="form-control"
                                placeholder="Box Number"
                                disabled
                              />
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="contact-phone">
                              <i class="flaticon-telephone"></i>
                              <input
                                type="number"
                                formControlName="dn302qantity"
                                class="form-control"
                                placeholder="Quantity"
                                disabled
                              />
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-4">
                            <div class="contact-occupation">
                              <i class="flaticon-fill-area"></i>
                              <input
                                type="text"
                                formControlName="dn100merchid"
                                class="form-control"
                                placeholder="Merchant ID"
                                disabled
                              />
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="contact-occupation">
                              <i class="flaticon-fill-area"></i>
                              <input
                                type="text"
                                formControlName="dn101bymaker"
                                class="form-control"
                                placeholder="Make By"
                                disabled
                              />
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="contact-occupation">
                              <i class="flaticon-fill-area"></i>
                              <input
                                type="text"
                                formControlName="dn102bseries"
                                class="form-control"
                                placeholder="Series Name"
                                disabled
                              />
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-4">
                            <div class="contact-occupation">
                              <i class="flaticon-fill-area"></i>
                              <input
                                type="text"
                                formControlName="dn103handler"
                                class="form-control"
                                placeholder="Nama Barang"
                                disabled
                              />
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="contact-occupation">
                              <i class="flaticon-fill-area"></i>
                              <input
                                type="text"
                                formControlName="dn104release"
                                class="form-control"
                                placeholder="Release Date"
                                disabled
                              />
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="contact-location">
                              <i class="flaticon-location-1"></i>
                              <input
                                type="text"
                                formControlName="dn200nokirim"
                                class="form-control"
                                placeholder="No Kirim"
                              />
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-12">
                            <div class="contact-occupation">
                              <i class="flaticon-fill-area"></i>
                              <textarea
                                cols="50"
                                rows="2"
                                class="form-control"
                                disabled
                                formControlName="dn105catatan"
                                placeholder="Catatan Barang"
                              >
                              </textarea>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-6">
                            <div class="contact-occupation">
                              <i class="flaticon-fill-area"></i>
                              <input
                                type="text"
                                formControlName="dn000custoid"
                                class="form-control"
                                placeholder="Customer ID"
                                disabled
                              />
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="contact-phone">
                              <i class="flaticon-telephone"></i>
                              <input
                                type="text"
                                formControlName="dn006fulname"
                                class="form-control"
                                placeholder="Full Name"
                                disabled
                              />
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-12">
                            <div class="contact-phone">
                              <i class="flaticon-telephone"></i>
                              <textarea
                                cols="50"
                                rows="2"
                                class="form-control"
                                disabled
                                formControlName="dn005catatan"
                                placeholder="Catatan Kustomer"
                              >
                              </textarea>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-6">
                            <div class="contact-location">
                              <i class="flaticon-location-1"></i>
                              <input
                                type="number"
                                formControlName="dn303dealprc"
                                class="form-control"
                                placeholder="Deal Price"
                              />
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="contact-location">
                              <i class="flaticon-location-1"></i>
                              <input
                                type="number"
                                formControlName="dn304paypric"
                                class="form-control"
                                placeholder="Payment Price"
                              />
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-12">
                            <div class="contact-location">
                              <i class="flaticon-location-1"></i>
                              <textarea
                                cols="50"
                                rows="2"
                                class="form-control"
                                formControlName="dn305catatan"
                                placeholder="Catatan Transaksi"
                              >
                              </textarea>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-4">
                            <div class="contact-location">
                              <i class="flaticon-location-1"></i>
                              <input
                                type="text"
                                formControlName="dn312alterby"
                                class="form-control"
                                placeholder="Alter By"
                                disabled
                              />
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="contact-location">
                              <i class="flaticon-location-1"></i>
                              <input
                                type="text"
                                formControlName="dn309statudt"
                                class="form-control"
                                placeholder="Status Date"
                                disabled
                              />
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="contact-location">
                              <i class="flaticon-location-1"></i>
                              <input
                                type="number"
                                formControlName="dn310sstatus"
                                class="form-control"
                                placeholder="Status Transsaksi"
                                disabled
                              />
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="modal-footer" style="display: block">
                  <!-- <button class="btn btn-danger" data-dismiss="modal" (click)="deleteTransaction()" style="float: left">
                    <i class="flaticon-delete-1"></i> Remove
                  </button> -->

                  <button (click)="updateTransaction()" class="btn">
                    Apply <i class="fas fa-cog fa-spin" [hidden]="!isLoading"></i>
                  </button>

                  <button class="btn" data-dismiss="modal" (click)="removeModalTrans()">
                    <i class="flaticon-delete-1"></i> Cancel
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="searchable-items list">
        <app-loader [isLoading]="isLoading"></app-loader>

        <div class="table-responsive user-list">
          <table class="table">
            <thead>
              <tr>
                <th>Merchant ID</th>
                <th>Export Date</th>
                <th>What Box</th>
                <th>Quantity</th>
                <th>Nama Barang</th>
                <th>Customer ID</th>
                <th>Full Name</th>
                <th>No Kirim</th>
                <th>Deal Price</th>
                <th>Payment Price</th>
                <th>Catatan Transaksi</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of readData; let i = index">
                <ng-container *ngFor="let status of data.dn311mystatu">
                  <ng-container *ngIf="status.dn310sstatus == 3">
                    <td (click)="lulaId(data); $event.stopPropagation()">{{ data.dn100merchid }}</td>
                    <td>{{ data.dn307expordt | date: 'yyyy/MM/dd HH:mm' }}</td>
                    <td>{{ data.dn308whatbox }}</td>
                    <td>{{ data.dn302qantity }}</td>
                    <ng-container *ngFor="let by of data.dn106itemnam">
                      <td>{{ by.dn103handler }}</td>
                    </ng-container>
                    <td>{{ data.dn000custoid }}</td>
                    <td>{{ data.dn006fulname }}</td>
                    <td>{{ data.dn200nokirim }}</td>
                    <ng-container *ngFor="let pay of data.dn301payment">
                      <td>{{ pay.dn303dealprc }}</td>
                      <td>{{ pay.dn304paypric }}</td>
                    </ng-container>
                    <td>{{ data.dn305catatan }}</td>
                    <td>
                      <div class="action">
                        <ul class="list-actions">
                          <!-- <li>
                            <a
                              (click)="noKemas(data); $event.stopPropagation()"
                              class="bs-tooltip"
                              data-toggle="tooltip"
                              data-placement="top"
                              title="Ganti No Kemas"
                              data-original-title="Edit"
                            >
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="feather feather-edit-2 text-success"
                              >
                                <path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path>
                              </svg>
                            </a>
                          </li> -->
                          <li>
                            <a
                              (click)="moveStatus(data); $event.stopPropagation()"
                              data-toggle="tooltip"
                              data-placement="top"
                              title="Barang Sudah Sampai"
                              data-original-title="Delete"
                            >
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="feather feather-box text-warning"
                              >
                                <path
                                  d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"
                                ></path>
                                <polyline points="3.27 6.96 12 12.01 20.73 6.96"></polyline>
                                <line x1="12" y1="22.08" x2="12" y2="12"></line>
                              </svg>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </td>
                  </ng-container>
                </ng-container>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="text-center" *ngIf="readData == ''">There is no data...</div>
      </div>
    </div>
  </div>
</div>

<div [ngClass]="modalAdd ? 'show' : ''" class="modal-backdrop fade"></div>
<div [ngClass]="modalDetail ? 'show' : ''" class="modal-backdrop fade"></div>
<div [ngClass]="modalKirim ? 'show' : ''" class="modal-backdrop fade"></div>
