<!-- Toast Success Message -->
<p-toast key="success" position="top-right" class="success-toast">
  <ng-template let-message pTemplate="message">
    <div class="p-toast-message p-toast-message-info" style="flex: 1">
      <div class="p-toast-message-content">
        <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>

        <div class="p-toast-message-text">
          <div class="p-toast-summary">{{ message.summary }}</div>
          <div class="p-toast-detail">{{ message.detail }}</div>
        </div>
      </div>
    </div>
  </ng-template>
</p-toast>

<!-- Toast Error Message -->
<p-toast key="error" position="top-right" class="error-toast">
  <ng-template let-message pTemplate="message">
    <div class="p-toast-message p-toast-message-info" style="flex: 1">
      <div class="p-toast-message-content">
        <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>

        <div class="p-toast-message-text">
          <div class="p-toast-summary">{{ message.summary }}</div>
          <div class="p-toast-detail">{{ message.detail }}</div>
        </div>
      </div>
    </div>
  </ng-template>
</p-toast>

<div class="row layout-spacing layout-top-spacing" id="cancel-row">
  <div class="col-lg-12">
    <div class="widget-content searchable-container list">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 text-sm-right text-center layout-spacing align-self-center">
          <div class="d-flex justify-content-sm-start justify-content-center">
            <ul class="navbar-item flex-row no-space">
              <li class="nav-item align-self-center search-animated">
                <div class="row">
                  <div class="col-md-12 text-center">
                    <div class="contact-location export">
                      <label>Export &nbsp;</label>
                      <div class="n-chk form-check form-check-inline">
                        <label class="new-control new-radio new-radio-text radio-primary">
                          <!-- <input type="radio" class="new-control-input" name="export-box" value="1" (click)="onChangeExport($event)"> -->
                          <button [attr.disabled]="true" class="btn">A</button>
                        </label>
                      </div>
                      <div class="n-chk form-check form-check-inline">
                        <label class="new-control new-radio new-radio-text radio-primary">
                          <!-- <input type="radio" class="new-control-input" name="export-box" value="2" (click)="onChangeExport($event)"> -->
                          <button [attr.disabled]="true" class="btn">B</button>
                        </label>
                      </div>
                      <div class="n-chk form-check form-check-inline">
                        <label class="new-control new-radio new-radio-text radio-primary">
                          <!-- <input type="radio" class="new-control-input" name="export-box" value="3" (click)="onChangeExport($event)"> -->
                          <button [attr.disabled]="true"[value]="3" class="btn">C</button>
                        </label>
                      </div>
                      <div class="n-chk form-check form-check-inline">
                        <label class="new-control new-radio new-radio-text radio-primary">
                          <!-- <input type="radio" class="new-control-input" name="export-box" value="4" (click)="onChangeExport($event)"> -->
                          <button [attr.disabled]="true" [value]="4" class="btn">D</button>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>

            <ul class="navbar-item flex-row ml-md-0 ml-md-auto">
              <li class="nav-item align-self-center search-animated">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-search toggle-search"
                >
                  <circle cx="11" cy="11" r="8"></circle>
                  <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                </svg>
                <!-- <div class="form-inline search-full form-inline search" role="search">
                  <div class="search-bar">
                    <input 
                    [(ngModel)]="searchValue"
                    type="text" 
                    class="form-control search-form-control ml-lg-auto" 
                    placeholder="Cari data transaksi setok..." />
                  </div>
                </div> -->

                <div class="form-inline search-full form-inline search">
                  <div class="search-bar">
                    <input pInputText type="text" class="form-control search-form-control ml-lg-auto"
                      (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Cari data transaksi setok..." />
                  </div>
                </div>
              </li>
            </ul>
          </div>

          <!-- Modal Update Transaction -->
          <div class="modal fade" [ngClass]="modalDetail ? 'show' : ''" id="addTransModal" tabindex="-1" role="dialog"
            aria-labelledby="addTransModalTitle" aria-hidden="true" (click)="closed($event)">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header" style="justify-content: center">
                  <h6>Update Transaction - Setok</h6>
                </div>
                <div class="modal-body">
                  <i class="flaticon-cancel-12 close" data-dismiss="modal"></i>
                  <div class="add-contact-box">
                    <div class="add-contact-content">
                      <form [formGroup]="transactionForm" novalidate>
                        <div class="row">
                          <div class="col-md-6 text-left">
                            <div class="contact-location">
                              <p-dropdown class="form-control" [options]="readDataCustomer | async"
                                [(ngModel)]="selectedData" [ngModelOptions]="{standalone: true}"
                                optionLabel="dk006fulname" [filter]="true" filterBy="dk006fulname" [showClear]="false"
                                placeholder="Select User">
                                <ng-template pTemplate="selectedItem">
                                  <div class="user-item user-item-value" *ngIf="selectedData">
                                    <div class="result-dropdown">
                                      <div class="select-user">{{selectedData.dk006fulname}} -
                                        {{selectedData.dk000custoid}}</div>
                                    </div>
                                  </div>
                                </ng-template>
                                <ng-template let-user pTemplate="item">
                                  <div class="custom-dropdown">
                                    <div class="user-item">
                                      <div (click)="userId($event, user)">{{user.dk006fulname}} - {{user.dk000custoid}}
                                      </div>
                                    </div>
                                  </div>
                                </ng-template>
                              </p-dropdown>
                            </div>
                          </div>

                          <div class="col-md-6">
                            <div class="contact-location">
                              <i class="flaticon-location-1"></i>
                              <input type="text" formControlName="dn107barcoid" class="form-control"
                                placeholder="Barcode ID" [attr.disabled]="true" />
                            </div>
                          </div>
                          <!-- <div class="col-md-6">
                                      <div class="contact-occupation">
                                        <i class="flaticon-fill-area"></i>
                                        <input
                                          type="text"
                                          formControlName="dn000custoid"
                                          class="form-control"
                                          placeholder="Customer ID"
                                           [attr.disabled]="true"
                                        />
                                        <select
                                          class="form-control"
                                          formControlName="dn000custoid"
                                          (change)="selectCustomer($event)"
                                        >
                                          <option value=""  [attr.disabled]="true" selected>Select Customer ID:</option>
                                          <option *ngFor="let item of readDataCustomer | async" [value]="item.dk000custoid">
                                            {{ item.dk000custoid }}
                                          </option>
                                        </select>
                                      </div>
                                    </div>
                                    <div class="col-md-6">
                                      <div class="contact-phone">
                                        <i class="flaticon-telephone"></i>
                                        <input
                                          type="text"
                                          formControlName="dn006fulname"
                                          class="form-control"
                                          placeholder="Full Name"
                                           [attr.disabled]="true"
                                        />
                                      </div>
                                    </div> -->
                        </div>

                        <div class="row">
                          <div class="col-md-12 text-center">
                            <!-- <div class="contact-phone">
                                        <i class="flaticon-telephone"></i>
                                        <input
                                          type="text"
                                          formControlName="dn308whatbox"
                                          class="form-control"
                                          placeholder="What Box"
                                        />
                                      </div> -->
                            <div class="contact-location">
                              <label>Pilih Kotak &nbsp;</label>

                              <div class="n-chk form-check form-check-inline">
                                <label class="new-control new-radio new-radio-text radio-classic-primary">
                                  <input type="radio" class="new-control-input" formControlName="dn308whatbox"
                                    [checked]="0" [value]="0" value="0" (click)="onChangeWhatbox($event)" [attr.disabled]="true">
                                  <span class="new-control-indicator"></span><span class="new-radio-content">&nbsp;
                                    Out</span>
                                </label>
                              </div>
                              <div class="n-chk form-check form-check-inline">
                                <label class="new-control new-radio new-radio-text radio-classic-primary">
                                  <input type="radio" class="new-control-input" formControlName="dn308whatbox"
                                    [checked]="1" [value]="1" value="1" (click)="onChangeWhatbox($event)" [attr.disabled]="true">
                                  <span class="new-control-indicator"></span><span class="new-radio-content">&nbsp;
                                    A</span>
                                </label>
                              </div>
                              <div class="n-chk form-check form-check-inline">
                                <label class="new-control new-radio new-radio-text radio-classic-primary">
                                  <input type="radio" class="new-control-input" formControlName="dn308whatbox"
                                    [checked]="2" [value]="2" value="2" (click)="onChangeWhatbox($event)" [attr.disabled]="true">
                                  <span class="new-control-indicator"></span><span class="new-radio-content">&nbsp;
                                    B</span>
                                </label>
                              </div>
                              <div class="n-chk form-check form-check-inline">
                                <label class="new-control new-radio new-radio-text radio-classic-primary">
                                  <input type="radio" class="new-control-input" formControlName="dn308whatbox"
                                    [checked]="3" [value]="3" value="3" (click)="onChangeWhatbox($event)" [attr.disabled]="true">
                                  <span class="new-control-indicator"></span><span class="new-radio-content">&nbsp;
                                    C</span>
                                </label>
                              </div>
                              <div class="n-chk form-check form-check-inline">
                                <label class="new-control new-radio new-radio-text radio-classic-primary">
                                  <input type="radio" class="new-control-input" formControlName="dn308whatbox"
                                    [checked]="4" [value]="4" value="4" (click)="onChangeWhatbox($event)" [attr.disabled]="true">
                                  <span class="new-control-indicator"></span><span class="new-radio-content">&nbsp;
                                    D</span>
                                </label>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-4">
                            <div class="contact-occupation">
                              <i class="flaticon-fill-area"></i>
                              <input type="text" formControlName="dn307expordt" class="form-control"
                                placeholder="Export Date" [attr.disabled]="true"/>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="contact-location">
                              <i class="flaticon-location-1"></i>
                              <input type="text" formControlName="dn200kemasid" class="form-control"
                                placeholder="Kemas Id" [attr.disabled]="true" />
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="contact-phone">
                              <i class="flaticon-telephone"></i>
                              <input type="number" formControlName="dn302qantity" class="form-control"
                                placeholder="Quantity"/>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-4">
                            <div class="contact-occupation">
                              <i class="flaticon-fill-area"></i>
                              <input type="text" formControlName="dn300transid" class="form-control"
                                placeholder="Transaction ID" [attr.disabled]="true" />
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="contact-location">
                              <i class="flaticon-location-1"></i>
                              <input type="number" formControlName="dn303dealprc" class="form-control"
                                placeholder="Deal Price" />
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="contact-location">
                              <i class="flaticon-location-1"></i>
                              <input type="number" formControlName="dn304paypric" class="form-control"
                                placeholder="Payment Price" />
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-12">
                            <div class="contact-location">
                              <i class="flaticon-location-1"></i>
                              <textarea cols="50" rows="2" class="form-control" formControlName="dn305catatan"
                                placeholder="Catatan Transaksi">
                                        </textarea>
                            </div>
                          </div>
                        </div>

                        <hr class="default">

                        <div class="row">
                          <div class="col-md-6">
                            <div class="contact">
                              <i class="flaticon-fill-area"></i>
                              <input type="text" formControlName="dn103handler" class="form-control"
                                placeholder="Nama Barang" [attr.disabled]="true" />
                            </div>
                          </div>

                          <div class="col-md-6">
                            <div class="contact">
                              <i class="flaticon-fill-area"></i>
                              <input type="text" formControlName="dn102bseries" class="form-control"
                                placeholder="Series Name" [attr.disabled]="true" />
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-6">
                            <div class="contact-occupation">
                              <i class="flaticon-fill-area"></i>
                              <input type="text" formControlName="dn101bymaker" class="form-control"
                                placeholder="Make By" [attr.disabled]="true" />
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="contact-occupation">
                              <i class="flaticon-fill-area"></i>
                              <input type="text" formControlName="dn104release" class="form-control"
                                placeholder="Release Date" [attr.disabled]="true" />
                            </div>
                          </div>
                        </div>

                        <hr class="default">

                        <div class="row">
                          <div class="col-md-4">
                            <div class="contact">
                              <i class="flaticon-location-1"></i>
                              <input type="text" formControlName="dn312alterby" class="form-control"
                                placeholder="Alter By" [attr.disabled]="true" />
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="contact">
                              <i class="flaticon-location-1"></i>
                              <input type="text" formControlName="dn309statudt" class="form-control"
                                placeholder="Status Date" [attr.disabled]="true" />
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="contact">
                              <i class="flaticon-location-1"></i>
                              <input type="number" formControlName="dn310sstatus" class="form-control"
                                placeholder="Status Transsaksi" [attr.disabled]="true" />
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="modal-footer" style="display: block">
                  <button class="btn btn-danger" data-dismiss="modal" [attr.disabled]="true" style="float: left">
                    <i class="flaticon-delete-1"></i> Remove
                  </button>

                  <button (click)="updateTransaction()" class="btn">
                    Apply <i class="fas fa-cog fa-spin" [hidden]="!isLoading"></i>
                  </button>

                  <button class="btn" data-dismiss="modal" (click)="removeModalTrans()">
                    <i class="flaticon-delete-1"></i> Cancel
                  </button>
                </div>
              </div>
            </div>
          </div>

          <!-- Modal Photo Barang -->
          <div class="modal fade" [ngClass]="modalPhoto ? 'show' : ''" id="photoModal" tabindex="-1" role="dialog"
            aria-labelledby="photoModal" aria-hidden="true" (click)="closed($event)">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
              <div class="modal-content image-detail-modal">
                <div class="modal-body">
                  <div class="add-contact-box">
                    <div class="add-contact-content">
                      <img src="{{ pictureFile }}" alt="Upload foto barang" title="Upload foto barang"
                        class="img-fluid upload" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>

    <div class="searchable-items list">
      <app-loader [isLoading]="isLoading"></app-loader>
  
      <div class="table-responsive user-list">
        <p-table #dt [autoLayout]="true" [value]="readData | searchFilter: searchValue" [paginator]="true" [rows]="20" [showCurrentPageReport]="true"
          [resizableColumns]="true" [columns]="selectedColumns" class="table">
  
          <ng-template pTemplate="caption">
            <div class="n-chk" style="margin-bottom: 20px;">
              <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header" [showHeader]="false"
                selectedItemsLabel="{0} column selected" [style]="{minWidth: '200px'}" placeholder="Choose Columns">
              </p-multiSelect>
            </div>
          </ng-template>
          
          <ng-template pTemplate="header" let-columns>
            <tr>
              <!-- <th></th> -->
              <ng-container *ngFor="let col of columns">
                <th pSortableColumn="{{col.field}}">
                  {{col.header}} <p-sortIcon field="{{col.field}}"></p-sortIcon>
                </th>
              </ng-container>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-data let-columns="columns">
            <tr>
              <!-- <td>
                <div class="action">
                  <ul class="list-actions">
                    <li>
                      <a (click)="moveStatus(data); $event.stopPropagation()" data-toggle="tooltip" data-placement="top"
                        title="Barang Sudah Lunas?" data-original-title="Delete">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                          stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-box text-warning">
                          <path
                            d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z">
                          </path>
                          <polyline points="3.27 6.96 12 12.01 20.73 6.96"></polyline>
                          <line x1="12" y1="22.08" x2="12" y2="12"></line>
                        </svg>
                      </a>
                    </li>
                  </ul>
                </div>
              </td> -->
              <ng-container *ngFor="let col of columns">
                <td *ngIf="col.field == 'dn107barcoid'" class="action" (click)="lulaId(data); $event.stopPropagation()">
                  {{data.dn107barcoid}}
                </td>
                <td *ngIf="col.field == 'dn307expordt'">
                  {{data.dn307expordt?.seconds * 1000 | date: 'MM/dd/yyyy, hh:mm:ss a'}}
                </td>
                <td *ngIf="col.field == 'dn111fotobrg'" class="action item-photo" (click)="lulaPhoto(data); $event.stopPropagation()">
                  <span *ngIf="!data.dn111fotobrg">
                    <img src="{{ noImage }}" />
                  </span>
                  <span *ngIf="data.dn111fotobrg">
                    <img src="{{ data.dn111fotobrg }}" />
                  </span>
                </td>
                <td *ngIf="col.field == 'dn305catatan'" style="white-space: normal; min-width: 300px;">
                  {{data.dn305catatan | slice:0:300}}
                </td>
                <td *ngIf="col.field == 'dn308whatbox'">
                  <span *ngIf="data.dn308whatbox == 0">Out</span>
                  <span *ngIf="data.dn308whatbox == 1">A</span>
                  <span *ngIf="data.dn308whatbox == 2">B</span>
                  <span *ngIf="data.dn308whatbox == 3">C</span>
                  <span *ngIf="data.dn308whatbox == 4">D</span>
                </td>
                <td *ngIf="col.field != 'dn107barcoid' && col.field != 'dn307expordt' && col.field != 'dn111fotobrg' && col.field != 'dn305catatan' && col.field != 'dn308whatbox'">
                  {{data[col.field]}}
                </td>
              </ng-container>
            </tr>
          </ng-template>
        </p-table>
      </div>
  
      <div class="text-center" *ngIf="readData == ''">There is no data...</div>
    </div>
  </div>
</div>

<div [ngClass]="modalPhoto ? 'show' : ''" class="modal-backdrop fade"></div>
<div [ngClass]="modalDetail ? 'show' : ''" class="modal-backdrop fade"></div>