<div class="sub-header-container">
  <header class="header navbar navbar-expand-sm">
    <a (click)="toggleSideMenu()" class="sidebarCollapse" data-placement="bottom"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="feather feather-menu"
      >
        <line x1="3" y1="12" x2="21" y2="12"></line>
        <line x1="3" y1="6" x2="21" y2="6"></line>
        <line x1="3" y1="18" x2="21" y2="18"></line>
      </svg>
    </a>

    <ul class="navbar-nav flex-row">
      <li>
        <div class="page-header">
          <nav class="breadcrumb-one" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
            </ol>
          </nav>
        </div>
      </li>
    </ul>
    <!-- <ul class="navbar-nav flex-row ml-auto">
      <li class="nav-item more-dropdown">
        <div class="dropdown custom-dropdown-icon" ngbDropdown display="dynamic" placement="bottom-right">
          <a class="dropdown-toggle btn" role="button" id="customDropdown" data-toggle="dropdown" ngbDropdownToggle
            ><span>Settings</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="feather feather-chevron-down"
            >
              <polyline points="6 9 12 15 18 9"></polyline>
            </svg>
          </a>

          <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu aria-labelledby="customDropdown">
            <a class="dropdown-item" data-value="Settings" href="javascript:void(0);">Settings</a>
            <a class="dropdown-item" data-value="Mail" href="javascript:void(0);">Mail</a>
            <a class="dropdown-item" data-value="Print" href="javascript:void(0);">Print</a>
            <a class="dropdown-item" data-value="Download" href="javascript:void(0);">Download</a>
            <a class="dropdown-item" data-value="Share" href="javascript:void(0);">Share</a>
          </div>
        </div>
      </li>
    </ul> -->
  </header>
</div>
