.content-section {
  padding: 36px 75px;
}

.invoice-inbox {
  .inv-not-selected {
    line-height: calc(100vh - 197px);
    font-size: 30px;
    color: #eee;
  }
}

.invoice {
  .inv-number {
    span {
      position: relative;
      top: 1px;
    }
    svg {
      cursor: pointer;
    }
  }

  .content-section {
    .inv--head-section {
      margin-bottom: 20px;
    }

    .inv--product-table-section {
      margin-top: 10px;
      margin-bottom: 0px;
    }

    .inv--head-section {
      h3.in-heading {
        color: #eee;
      }
    }

    .inv--detail-section .inv-list-number {
      margin-bottom: 0;
    }

    .inv-list-number {
      &.address {
        height: 60px;
      }
    }
  }
}

.company-info {
  img {
    width: 235px;
  }
}

hr {
  margin-top: 11px;
  margin-bottom: 11px;
  border-top: 1px solid #ddd;

  &.dashed {
    border-top: 2px dashed #ddd;
  }
}

.inv--thankYou p {
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
}

.invoice .content-section {
  height: auto;
  position: relative;
  // margin-bottom: 55px;
  // padding-bottom: 79px;

  p {
    margin: 0;
  }

  // &::after {
  //     content: '';
  //     border-left: 2px dashed;
  //     height: 100%;
  //     position: absolute;
  //     left: 50%;
  //     margin-left: -3px;
  //     top: 0;
  // }

  .head-address {
    font-size: 24px;
    // height: 145px;
  }
}

.invoice-list {
  &:nth-child(odd) {
    .content-section {
      // border-bottom: 2px dashed;
    }
  }
}
