<div class="invoice layout-top-spacing">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <div class="app-hamburger-container">
      <div class="hamburger">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-menu chat-menu d-xl-none"
        >
          <line x1="3" y1="12" x2="21" y2="12"></line>
          <line x1="3" y1="6" x2="21" y2="6"></line>
          <line x1="3" y1="18" x2="21" y2="18"></line>
        </svg>
      </div>
    </div>
    <div class="doc-container">
      <div class="invoice-container">
        <div class="invoice-inbox ps" style="min-height: 735px">
          <div class="inv-not-selected" *ngIf="readData == ''">There is no data...</div>

          <app-loader [isLoading]="isLoading"></app-loader>

          <div class="invoice-header-section" style="display: flex">
            <h4 class="inv-number">
              <!-- <svg routerLink="/shipment-paid" viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2"
                fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
                <line x1="19" y1="12" x2="5" y2="12"></line>
                <polyline points="12 19 5 12 12 5"></polyline>
              </svg>
              <span>Invoice {{ idCustom }}</span> -->
            </h4>
            <div class="invoice-action" (click)="printInvoice()">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-printer action-print"
                data-toggle="tooltip"
                data-placement="top"
                data-original-title="Reply"
              >
                <polyline points="6 9 6 2 18 2 18 9"></polyline>
                <path d="M6 18H4a2 2 0 0 1-2-2v-5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-2"></path>
                <rect x="6" y="14" width="12" height="8"></rect>
              </svg>
            </div>
          </div>

          <div id="ct" class="" style="display: block">
            <div class="invoice-list" *ngFor="let data of readData">
              <div class="content-section animated animatedFadeInUp fadeInUp">
                <div class="row inv--head-section">
                  <div class="col-sm-6 col-12">
                    <div class="align-self-center head-address">
                      <div class="inv-for">To: &nbsp;</div>
                      <div class="inv-boyd">
                        <p class="inv-customer-post" *ngIf="data.hi011postnum == ''">-</p>
                        <p class="inv-customer-post" *ngIf="data.hi011postnum != ''">{{ data.hi011postnum }}</p>
                        <p class="inv-customer-pre">{{ province[data.hi012prefect - 1]?.name }} - {{data.hi013citynam}}</p>
                        <p class="inv-customer-other">{{ data.hi014lainnya }}</p>
                        <p class="inv-customer-name">{{ data.hi009namalen }}</p>
                        <p class="inv-email-address">{{ data.hi015telpnum }}</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-12">
                    <div class="align-self-center head-address">
                      <div class="inv-for">From: &nbsp;</div>
                      <div class="inv-boyd">
                        <p class="inv-customer-post" *ngIf="data.hi011postnum == ''">-</p>
                        <p class="inv-customer-post" *ngIf="data.hi011postnum != ''">{{ readDataCustomer?.dk011postnum }}</p>
                        <p class="inv-customer-pre">{{ province[readDataCustomer?.dk012prefect - 1]?.name }} - {{readDataCustomer?.dk013citynam}}</p>
                        <p class="inv-customer-other">{{ readDataCustomer?.dk014lainnya }}</p>
                        <p class="inv-customer-name">{{ readDataCustomer?.dk006fulname }}</p>
                        <p class="inv-email-address">{{ readDataCustomer?.dk015telpnum }}</p>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="col-sm-6 col-12 align-self-center text-sm-right">
                    <div class="company-info">
                      <img src="assets/logo.png" alt="Logo Lullabywinds" />
                    </div>
                  </div> -->
                </div>

                <div class="row inv--detail-section">
                  <div class="col-sm-12 align-self-center">
                    <p class="inv-list-number">
                      <span class="inv-title">
                        <span>Kemas: {{ idCustom }} - Kurir: {{data.hi206resinum}}, {{textKurir}}</span>
                      </span>
                    </p>
                  </div>
                </div>

                <hr class="dashed" />

                <div class="row inv--detail-section">
                  <div class="col-sm-6 align-self-center text-sm-left">
                    <div class="align-self-center head-address">
                      <div class="inv-for">
                        <div class="inv-email-address">Date: &nbsp;</div>
                        <div class="inv-email-address">CustoID: &nbsp;</div>
                        <div class="inv-email-address">To: &nbsp;</div>
                      </div>
                      <div class="inv-body">
                        <p class="inv-customer-name">{{ data.hi209statudt?.seconds * 1000 | date: 'MM/dd/yyyy, hh:mm:ss a' }}, {{ data.hi210statuss }} ({{textStatus}})</p>
                        <p class="inv-email-address">{{ data.hi000custoid }}, {{ data.hi006fulname }}</p>
                        <p class="inv-customer-name" *ngIf="data.hi011postnum == ''">-</p>
                        <p class="inv-customer-name" *ngIf="data.hi011postnum != ''">{{ data.hi011postnum }}</p>
                        <p class="inv-customer-name">{{ province[data.hi012prefect - 1].name }} - {{data.hi013citynam}}</p>
                        <p class="inv-customer-name">{{ data.hi014lainnya }}</p>
                        <p class="inv-customer-name">{{ data.hi009namalen }}</p>
                        <p class="inv-email-address">{{ data.hi015telpnum }}</p>
                      </div>                     
                    </div>
                    <br>
                    <div class="inv-title">
                      <span>Kemas: {{ idCustom }} - Kurir: {{data.hi206resinum}}, {{textKurir}}</span>
                    </div>
                  </div>
                  <div class="col-sm-6 align-self-center text-sm-left">
                    <div class="align-self-center head-address">
                      <div class="inv-for">
                        <div class="inv-email-address">Date: &nbsp;</div>
                        <div class="inv-email-address">CustoID: &nbsp;</div>
                        <div class="inv-email-address">To: &nbsp;</div>
                      </div>
                      <div class="inv-body">
                        <p class="inv-customer-name">{{ data.hi209statudt?.seconds * 1000 | date: 'MM/dd/yyyy, hh:mm:ss a' }}, {{ data.hi210statuss }} ({{textStatus}})</p>
                        <p class="inv-email-address">{{ data.hi000custoid }}, {{ data.hi006fulname }}</p>
                        <p class="inv-customer-name" *ngIf="data.hi011postnum == ''">-</p>
                        <p class="inv-customer-name" *ngIf="data.hi011postnum != ''">{{ data.hi011postnum }}</p>
                        <p class="inv-customer-name">{{ province[data.hi012prefect - 1].name }} - {{data.hi013citynam}}</p>
                        <p class="inv-customer-name">{{ data.hi014lainnya }}</p>
                        <p class="inv-customer-name">{{ data.hi009namalen }}</p>
                        <p class="inv-email-address">{{ data.hi015telpnum }}</p>
                      </div>                     
                    </div>
                    <br>
                    <div class="inv-title">
                      <span>Kemas: {{ idCustom }} - Kurir: {{data.hi206resinum}}, {{textKurir}}</span>
                    </div>
                  </div>
                </div>

                <hr />

                <div class="row inv--detail-section">
                  <div class="col-sm-6 align-self-center text-sm-left">
                    <p class="inv-list-number">
                      <span class="inv-title">
                        <ng-container *ngFor="let data of dataTransaction">
                          <p class="inv-street-addr">
                            {{ data.dn107barcoid }}, {{ data.dn101bymaker }}, {{ data.dn102bseries }}, {{ data.dn103handler }}, x{{ data.dn302qantity }}
                          </p>
                        </ng-container>
                      </span>
                    </p>
                  </div>
                  <div class="col-sm-6 align-self-center text-sm-left">
                    <p class="inv-list-number">
                      <span class="inv-title">
                        <ng-container *ngFor="let data of dataTransaction">
                          <p class="inv-street-addr">
                            {{ data.dn107barcoid }}, {{ data.dn101bymaker }}, {{ data.dn102bseries }}, {{ data.dn103handler }}, x{{ data.dn302qantity }}
                          </p>
                        </ng-container>
                      </span>
                    </p>
                  </div>
                </div>

                <hr />

                <div class="row inv--detail-section">
                  <div class="col-sm-6 align-self-center text-sm-left">
                    <p class="inv-list-number"></p>
                  </div>
                  <div class="col-sm-6 align-self-center text-sm-left">
                    <p class="inv-list-number">
                      <span class="inv-title">
                        <p class="inv-customer-name" style="margin-bottom: 45px">
                          Total: {{ dataLength }} jenis / {{ quantity }} pcs
                        </p>
                        <p class="inv-street-addr">[Cek Isi I]______[Cek Isi II]______[Bubble]______[Packing]______</p>
                      </span>
                    </p>
                  </div>
                </div>

                <hr class="dashed" />
              </div>
            </div>
          </div>

          <!-- <div class="ps__rail-x" style="left: 0px; bottom: 0px">
            <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px"></div>
          </div>
          <div class="ps__rail-y" style="top: 0px; right: 0px">
            <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px"></div>
          </div>
          <div class="ps__rail-x" style="left: 0px; bottom: 0px">
            <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px"></div>
          </div>
          <div class="ps__rail-y" style="top: 0px; right: 0px">
            <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px"></div>
          </div> -->
        </div>

        <!-- <div class="inv--thankYou" style="display: block">
          <div class="row">
            <div class="col-sm-12 col-12">
              <p class="">Thank you for shopping with us.</p>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
