<!-- Toast Success Message -->
<p-toast key="success" position="top-right" class="success-toast">
  <ng-template let-message pTemplate="message">
    <div class="p-toast-message p-toast-message-info" style="flex: 1">
      <div class="p-toast-message-content">
        <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>

        <div class="p-toast-message-text">
          <div class="p-toast-summary">{{ message.summary }}</div>
          <div class="p-toast-detail">{{ message.detail }}</div>
        </div>
      </div>
    </div>
  </ng-template>
</p-toast>

<!-- Toast Error Message -->
<p-toast key="error" position="top-right" class="error-toast">
  <ng-template let-message pTemplate="message">
    <div class="p-toast-message p-toast-message-info" style="flex: 1">
      <div class="p-toast-message-content">
        <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>

        <div class="p-toast-message-text">
          <div class="p-toast-summary">{{ message.summary }}</div>
          <div class="p-toast-detail">{{ message.detail }}</div>
        </div>
      </div>
    </div>
  </ng-template>
</p-toast>

<!-- Toast Warning Message -->
<p-toast key="warning" position="top-right" class="warning-toast">
  <ng-template let-message pTemplate="message">
    <div class="p-toast-message p-toast-message-info" style="flex: 1">
      <div class="p-toast-message-content">
        <i class="pi pi-info-circle" style="font-size: 3rem"></i>

        <div class="p-toast-message-text">
          <div class="p-toast-summary">{{ message.summary }}</div>
          <div class="p-toast-detail">{{ message.detail }}</div>
        </div>
      </div>
    </div>
  </ng-template>
</p-toast>

<div class="row layout-spacing layout-top-spacing" id="cancel-row">
  <div class="col-lg-12">
    <div class="widget-content searchable-container list">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 text-sm-right text-center layout-spacing align-self-center">
          <div class="d-flex justify-content-sm-start justify-content-center">
            <svg
              id="add-user"
              xmlns="http://www.w3.org/2000/svg"
              width="33.438"
              height="22"
              viewBox="0 0 33.438 22"
              (click)="addModal()"
            >
              <g id="Barang" transform="translate(-162.658 -442)">
                <g id="Group_1" data-name="Group 1" transform="translate(162 441)">
                  <path
                    id="Path_1"
                    data-name="Path 1"
                    d="M12,2,2,7l10,5L22,7Z"
                    fill="none"
                    stroke="#009688"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                  />
                  <path
                    id="Path_2"
                    data-name="Path 2"
                    d="M2,17l10,5,10-5"
                    fill="none"
                    stroke="#009688"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                  />
                  <path
                    id="Path_3"
                    data-name="Path 3"
                    d="M2,12l10,5,10-5"
                    fill="none"
                    stroke="#009688"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                  />
                </g>
                <line
                  id="Line_2"
                  data-name="Line 2"
                  y2="6"
                  transform="translate(192.096 450.028)"
                  fill="none"
                  stroke="#009688"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                />
                <line
                  id="Line_3"
                  data-name="Line 3"
                  x1="6"
                  transform="translate(189.096 453.028)"
                  fill="none"
                  stroke="#009688"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                />
              </g>
            </svg>
            <ul class="navbar-item flex-row ml-md-0 ml-md-auto">
              <li class="nav-item align-self-center search-animated">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-search toggle-search"
                >
                  <circle cx="11" cy="11" r="8"></circle>
                  <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                </svg>
                <!-- <div class="form-inline search-full form-inline search" role="search">
                  <div class="search-bar">
                    <input 
                    [(ngModel)]="searchValue"
                    type="text" 
                    class="form-control search-form-control ml-lg-auto" 
                    placeholder="Cari data barang..." />
                  </div>
                </div> -->

                <div class="form-inline search-full form-inline search">
                  <div class="search-bar">
                    <input pInputText type="text" class="form-control search-form-control ml-lg-auto"
                      (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Cari data barang..." />
                  </div>
                </div>
              </li>
            </ul>
          </div>

          <!-- Modal Create Goods -->
          <div
            class="modal fade"
            [ngClass]="modalAdd ? 'show' : ''"
            id="addContactModal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="addContactModalTitle"
            aria-hidden="true"
            (click)="closed($event)"
          >
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header" style="justify-content: center">
                  <h6>Create New Merchandise</h6>
                </div>
                <div class="modal-body">
                  <i class="flaticon-cancel-12 close" data-dismiss="modal"></i>
                  <div class="add-contact-box">
                    <div class="add-contact-content">                      
                      <form [formGroup]="goodsForm" novalidate>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="input-group">
                              <input type="text" formControlName="dm107barcoid" class="form-control" (input)="checkBarcode($event)"
                                placeholder="Barcode ID Barang" />
                              <div class="input-group-append">
                                <span class="input-group-text" id="search-unique" (click)="getBarcode()">Check</span>
                              </div>
                            </div>
                          </div>                         
                        </div>

                        <div class="row">
                          <div class="col-md-6">
                            <div class="contact-phone">
                              <i class="flaticon-telephone"></i>
                              <input
                                type="text"
                                formControlName="dm103handler"
                                class="form-control"
                                placeholder="Nama Barang"
                              />
                            </div>                           
                          </div>

                          <div class="col-md-6">
                            <div class="contact-phone">
                              <i class="flaticon-telephone"></i>
                              <input
                                type="text"
                                formControlName="dm102bseries"
                                class="form-control"
                                placeholder="Series Name"
                              />
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-6">
                            <div class="contact-occupation">
                              <i class="flaticon-fill-area"></i>
                              <input
                                type="text"
                                formControlName="dm101bymaker"
                                class="form-control"
                                placeholder="Make By"
                              />
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="contact-occupation">
                              <i class="flaticon-fill-area"></i>
                              <input
                                type="datetime-local"
                                formControlName="dm104release"
                                class="form-control"
                                placeholder="Release Date"
                              />
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-12">
                            <div class="contact-occupation">
                              <i class="flaticon-location-1"></i>
                              <textarea
                                cols="50"
                                rows="4"
                                class="form-control"
                                formControlName="dm105catatan"
                                placeholder="Catatan Barang"
                              >
                              </textarea>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-12 text-center">
                            <div class="contact-occupation">
                              <button (click)="selectFile()" class="btn btn-small">
                                Upload Foto 
                              </button>
                              <!-- <button (click)="selectCamera()" class="btn btn-small">
                                Take Camera 
                              </button> -->
                            </div>
                          </div>
                        </div>    

                        <div class="row">
                          <div class="col-md-12 text-center">
                            <div class="contact-occupation">
                              <input type="file" (change)="uploadPicture($event)" #addAvatar hidden />
                              <img
                                src="{{ pictureFile }}"
                                alt="Upload foto barang"
                                title="Upload foto barang"
                                class="img-fluid upload"
                              />
                            </div>
                          </div>
                          <!-- <div class="col-md-6 text-center">
                            <div class="contact-occupation">
                              <input type="file" (change)="uploadPicture($event)" hidden />
                              <img
                                src="{{ pictureCamera }}"
                                alt="Upload foto barang dari kamera"
                                title="Upload foto barang dari kamera"
                                class="img-fluid upload"
                                (click)="selectCamera()"
                              />
                            </div>
                          </div> -->
                        </div>                                            
                      </form>
                      <div class="progress" [class.active]="isActive">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [style.width]="progressBar + '%'" aria-valuenow="progressBar" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <hr>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button (click)="addGoods()" class="btn" [disabled]="!dataUnique">
                    Apply <i class="fas fa-cog fa-spin" [hidden]="!isLoading"></i>
                  </button>

                  <button class="btn" data-dismiss="modal" (click)="removeModalAdd()">
                    <i class="flaticon-delete-1"></i> Cancel
                  </button>
                </div>
              </div>
            </div>
          </div>

          <!-- Modal Update Barang -->
          <div
            class="modal fade"
            [ngClass]="modalDetail ? 'show' : ''"
            id="updateCustomerModal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="updateCustomer"
            aria-hidden="true"
            (click)="closed($event)"
          >
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header" style="justify-content: center">
                  <h6>Update Data Barang</h6>
                </div>
                <div class="modal-body">
                  <div class="add-contact-box">
                    <div class="add-contact-content">
                      <form [formGroup]="goodsForm" novalidate>
                        
                        <div class="row" style="padding-bottom: 20px;">
                          <div class="col-md-12">
                            <div class="contact-phone">
                              <i class="flaticon-telephone"></i>
                              <input
                                type="text"
                                formControlName="dm100merchid"
                                class="form-control"
                                placeholder="Merchant ID"
                                [attr.disabled]="false"
                              />
                            </div>                           
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-12">
                            <div class="input-group">
                              <input type="text" formControlName="dm107barcoid" class="form-control" (input)="checkBarcode($event)"
                                placeholder="Barcode ID Barang" />
                              <div class="input-group-append">
                                <span class="input-group-text" id="search-unique" (click)="getBarcode()">Check</span>
                              </div>
                            </div>
                          </div> 
                        </div>

                        <div class="row">
                          <div class="col-md-6">
                            <div class="contact-phone">
                              <i class="flaticon-telephone"></i>
                              <input
                                type="text"
                                formControlName="dm103handler"
                                class="form-control"
                                placeholder="Nama Barang"
                              />
                            </div>                           
                          </div>

                          <div class="col-md-6">
                            <div class="contact-phone">
                              <i class="flaticon-telephone"></i>
                              <input
                                type="text"
                                formControlName="dm102bseries"
                                class="form-control"
                                placeholder="Series Name"
                              />
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-6">
                            <div class="contact-occupation">
                              <i class="flaticon-fill-area"></i>
                              <input
                                type="text"
                                formControlName="dm101bymaker"
                                class="form-control"
                                placeholder="Make By"
                              />
                            </div>    
                          </div>
                          <div class="col-md-6">
                            <div class="contact-occupation">
                              <i class="flaticon-fill-area"></i>
                              <input
                                type="datetime-local"
                                formControlName="dm104release"
                                class="form-control"
                                placeholder="Release Date"
                              />
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-12">
                            <div class="contact-occupation">
                              <i class="flaticon-location-1"></i>
                              <textarea
                                cols="50"
                                rows="4"
                                class="form-control"
                                formControlName="dm105catatan"
                                placeholder="Catatan Barang"
                              >
                              </textarea>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-12 text-center">
                            <div class="contact-occupation">
                              <button (click)="selectFile()" class="btn btn-small">
                                Upload Foto 
                              </button>
                              <!-- <button (click)="selectCamera()" class="btn btn-small">
                                Take Camera
                              </button> -->
                            </div>
                          </div>
                        </div>    

                        <div class="row">
                          <div class="col-md-12 text-center">
                            <div class="contact-occupation">
                              <input type="file" (change)="uploadPicture($event)" #addAvatar hidden />
                              <img
                                src="{{ pictureFile }}"
                                alt="Upload foto barang"
                                title="Upload foto barang"
                                class="img-fluid upload"
                              />
                            </div>
                          </div>
                          <!-- <div class="col-md-6 text-center">
                            <div class="contact-occupation">
                              <input type="file" (change)="uploadPicture($event)" hidden />
                              <img
                                src="{{ pictureCamera }}"
                                alt="Upload foto barang dari kamera"
                                title="Upload foto barang dari kamera"
                                class="img-fluid upload"
                                (click)="selectCamera()"
                              />
                            </div>
                          </div> -->
                        </div> 
                        
                        <div class="row">
                          <div class="col-md-12">
                            <div class="contact-location">
                              <i class="flaticon-location-1"></i>
                              <input
                                type="text"
                                formControlName="dm109created"
                                class="form-control"
                                placeholder="Create Date"
                                [attr.disabled]="true"
                              />
                            </div>
                          </div>
                        </div>
                      </form>
                      <div class="progress" [class.active]="isActive">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [style.width]="progressBar + '%'" aria-valuenow="progressBar" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <hr>
                    </div>
                  </div>
                </div>
                <div class="modal-footer" style="display: block">
                  <button class="btn btn-danger" data-dismiss="modal" (click)="deleteGoods()" style="float: left">
                    <i class="flaticon-delete-1"></i> Remove
                  </button>

                  <button (click)="updateGoods()" class="btn" [disabled]="!dataUnique">
                    Apply <i class="fas fa-cog fa-spin" [hidden]="!isLoading"></i>
                  </button>

                  <button class="btn" data-dismiss="modal" (click)="removeModal()">
                    <i class="flaticon-delete-1"></i> Cancel
                  </button>
                </div>
              </div>
            </div>
          </div>

          <!-- Modal Create Transaction -->
          <div
            class="modal fade"
            [ngClass]="modalAddress ? 'show' : ''"
            id="addCAddressModal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="addAddressModalTitle"
            aria-hidden="true"
            (click)="closed($event)"
          >
            <div class="modal-dialog modal-dialog-centered modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header" style="justify-content: center">
                  <h6>Create New Transaction</h6>
                </div>
                <div class="modal-body">
                  <i class="flaticon-cancel-12 close" data-dismiss="modal"></i>
                  <div class="add-contact-box">
                    <div class="add-contact-content">
                      <div class="row">
                        <div class="col-md-12 text-left">
                          <p-dropdown class="form-control" [options]="readDataCustomer | async" [(ngModel)]="selectedData" optionLabel="dk006fulname" [filter]="true" filterBy="dk006fulname"
                            [showClear]="false" placeholder="Select User">
                            <ng-template pTemplate="selectedItem">
                              <div class="user-item user-item-value" *ngIf="selectedData">
                                <div class="result-dropdown">
                                  <div class="select-user">{{selectedData.dk006fulname}} - {{selectedData.dk000custoid}}</div>
                                </div>
                              </div>
                            </ng-template>
                            <ng-template let-user pTemplate="item">
                              <div class="custom-dropdown" (click)="userId($event, user)">
                                <div class="user-item">
                                  <div>{{user.dk006fulname}} - {{user.dk000custoid}}</div>
                                </div>
                              </div>
                            </ng-template>
                          </p-dropdown>
                        </div>
                      </div> 
                      <form [formGroup]="transactionForm" novalidate>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="contact-phone">
                              <i class="flaticon-telephone"></i>
                              <input
                                type="number"
                                formControlName="dn302qantity"
                                class="form-control"
                                placeholder="Quantity"
                              />
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="contact-location">
                              <i class="flaticon-location-1"></i>
                              <input
                                type="number"
                                formControlName="dn303dealprc"
                                class="form-control"
                                placeholder="Deal Price"
                              />
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="contact-location">
                              <i class="flaticon-location-1"></i>
                              <input
                                type="number"
                                formControlName="dn304paypric"
                                class="form-control"
                                placeholder="Payment Price"
                              />
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-12">
                            <div class="contact-location">
                              <i class="flaticon-location-1"></i>
                              <textarea
                                cols="50"
                                rows="2"
                                class="form-control"
                                formControlName="dn305catatan"
                                placeholder="Catatan Barang"
                              >
                              </textarea>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>

                    <!-- <div class="searchable-items list">
                      <app-loader [isLoading]="isLoading"></app-loader>

                      <div class="text-center page-wrap">
                        <button class="btn btn btn-info btn-sm float-left" (click)="prevPage()"
                          [disabled]="disable_prev || !(pagination_clicked_count>0)">Previous</button> <b>Page no: </b>
                        <button class="btn btn btn-info btn-sm float-right" (click)="nextPage()" [disabled]="disable_next">Next</button>
                      </div> 

                      <div class="table-responsive customer-list">
                        <p-table
                          [value]="readDataCustomer | async"
                          [paginator]="true"
                          [rows]="10"
                          [showCurrentPageReport]="true"
                          class="table"
                        >
                          <ng-template pTemplate="header">
                            <tr>
                              <th>Customer</th>
                              <th>Email</th>
                              <th>Fullname</th>
                              <th>Kode Pos</th>
                              <th>Provinsi</th>
                              <th>Kota</th>
                              <th>Address</th>
                              <th>No Telp</th>
                              <th>Catatan</th>
                            </tr>
                          </ng-template>
                          <ng-template pTemplate="body" let-customer>
                            <tr
                              (click)="userId($event, customer); $event.stopPropagation()"
                              [class.highlighted]="customer.dk000custoid === currentUser"
                            >
                              <td>{{ customer.dk000custoid }}</td>
                              <td>{{ customer.dk001emaddre }}</td>
                              <td>{{ customer.dk006fulname }}</td>
                              <td>{{ customer.dk011postnum }}</td>
                              <td>
                                <span>
                                  {{ province[customer.dk012prefect - 1].name }}
                                </span>
                              </td>
                              <td>{{ customer.dk013citynam }}</td>
                              <td>
                                <span>
                                  {{ customer.dk014lainnya | slice:0:300 }}
                                </span>
                              </td>
                              <td>{{ customer.dk015telpnum }}</td>
                              <td>{{ customer.dk005catatan | slice:0:300 }}</td>
                            </tr>
                          </ng-template>
                        </p-table>
                      </div>

                      <div class="text-center" *ngIf="dataCustomer == undefined">
                        There is no data. Please add first...
                      </div>
                    </div> -->
                  </div>
                </div>
                <div class="modal-footer">
                  <button (click)="addTransaction()" class="btn">
                    Apply <i class="fas fa-cog fa-spin" [hidden]="!isLoading"></i>
                  </button>

                  <button class="btn" data-dismiss="modal" (click)="removeModalTrans()">
                    <i class="flaticon-delete-1"></i> Cancel
                  </button>
                </div>
              </div>
            </div>
          </div>

          <!-- Modal Update Transaction -->
          <!-- <div class="modal fade" [ngClass]="modalAddress ? 'show' : ''" id="addCAddressModal" tabindex="-1" role="dialog"
            aria-labelledby="addAddressModalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header" style="justify-content: center;">
                  <h6>Create New Transaction</h6>
                </div>
                <div class="modal-body">
                  <i class="flaticon-cancel-12 close" data-dismiss="modal"></i>
                  <div class="add-contact-box">
                    <div class="add-contact-content">
                      <form [formGroup]="transactionForm" novalidate>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="contact-occupation">
                              <i class="flaticon-fill-area"></i>
                              <input type="datetime-local" formControlName="dn307expordt" class="form-control"
                                placeholder="Export Date" />
                            </div>
                          </div>
                        </div>
          
                        <div class="row">
                          <div class="col-md-6">
                            <div class="contact-phone">
                              <i class="flaticon-telephone"></i>
                              <input type="text" formControlName="dn308whatbox" class="form-control" placeholder="Box Number" />
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="contact-phone">
                              <i class="flaticon-telephone"></i>
                              <input type="number" formControlName="dn302qantity" class="form-control" placeholder="Quantity" />
                            </div>
                          </div>
                        </div>
          
                        <div class="row">
                          <div class="col-md-12">
                            <div class="contact-occupation">
                              <i class="flaticon-fill-area"></i>
                              <input type="text" formControlName="dn100merchid" class="form-control" placeholder="Merchant ID" />
                            </div>
                          </div>
                        </div>
          
                        <div class="row">
                          <div class="col-md-6">
                            <div class="contact-occupation">
                              <i class="flaticon-fill-area"></i>
                              <input type="text" formControlName="dn103handler" class="form-control" placeholder="Nama Barang" />
                            </div>
                          </div>
          
                          <div class="col-md-6">
                            <div class="contact-occupation">
                              <i class="flaticon-fill-area"></i>
                              <input type="text" formControlName="dn000custoid" class="form-control" placeholder="Customer ID" />
                            </div>
                          </div>
                        </div>
          
                        <div class="row">
                          <div class="col-md-6">
                            <div class="contact-phone">
                              <i class="flaticon-telephone"></i>
                              <input type="text" formControlName="dn006fulname" class="form-control" placeholder="Full Name" />
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="contact-location">
                              <i class="flaticon-location-1"></i>
                              <input type="text" formControlName="dn200kemasid" class="form-control" placeholder="No Kirim" />
                            </div>
                          </div>
                        </div>
          
                        <div class="row">
                          <div class="col-md-6">
                            <div class="contact-location">
                              <i class="flaticon-location-1"></i>
                              <input type="number" formControlName="dn303dealprc" class="form-control" placeholder="Deal Price" />
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="contact-location">
                              <i class="flaticon-location-1"></i>
                              <input type="number" formControlName="dn304paypric" class="form-control"
                                placeholder="Payment Price" />
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="contact-location">
                              <i class="flaticon-location-1"></i>
                              <textarea cols="50" rows="4" class="form-control" formControlName="dn305catatan"
                                placeholder="Catatan Barang">
                                                                      </textarea>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button (click)="addAddress()" class="btn">
                    Apply <i class="fas fa-cog fa-spin" [hidden]="!isLoading"></i>
                  </button>
          
                  <button class="btn" data-dismiss="modal" (click)="removeModalTrans()">
                    <i class="flaticon-delete-1"></i> Cancel
                  </button>
                </div>
              </div>
            </div>
          </div> -->

          <!-- Modal Photo Barang -->
          <div class="modal fade" [ngClass]="modalPhoto ? 'show' : ''" id="photoModal" tabindex="-1" role="dialog"
            aria-labelledby="photoModal" aria-hidden="true" (click)="closed($event)">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
              <div class="modal-content image-detail-modal">
                <div class="modal-body">
                  <div class="add-contact-box">
                    <div class="add-contact-content">
                      <img src="{{ pictureFile }}" alt="Upload foto barang" title="Upload foto barang" class="img-fluid upload"/>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="searchable-items list">
        <app-loader [isLoading]="isLoading"></app-loader>

        <div class="table-responsive user-list">
          <p-table
            #dt
            [autoLayout]="true"
            [value]="goods | async | searchFilter: searchValue"
            [paginator]="true"
            [rows]="20"
            [showCurrentPageReport]="true"
            [resizableColumns]="true"
            [columns]="selectedColumns"
            class="table"
          >

            <ng-template pTemplate="caption">
              <div class="n-chk" style="margin-bottom: 20px;">
                <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header" [showHeader]="false"
                  selectedItemsLabel="{0} column selected" [style]="{minWidth: '200px'}" placeholder="Choose Columns">
                </p-multiSelect>
              </div>
            </ng-template>

            <ng-template pTemplate="header" let-columns>
              <tr>
                <th></th>
                <ng-container *ngFor="let col of columns">
                  <th pSortableColumn="{{col.field}}">
                    {{col.header}} <p-sortIcon field="{{col.field}}"></p-sortIcon>
                  </th>
                </ng-container>

                <!-- <th pSortableColumn="dm103handler">Nama Barang <p-sortIcon field="dm103handler"></p-sortIcon></th>
                <th pSortableColumn="dm111fotobrg">Foto Barang <p-sortIcon field="dm111fotobrg"></p-sortIcon></th>
                <th pSortableColumn="dm107barcoid">Barcode ID  <p-sortIcon field="dm107barcoid"></p-sortIcon></th>
                <th pSortableColumn="dm101bymaker">Make By <p-sortIcon field="dm101bymaker"></p-sortIcon></th>
                <th pSortableColumn="dm102bseries">Series Name <p-sortIcon field="dm102bseries"></p-sortIcon></th>
                <th pSortableColumn="dm104release">Release Date <p-sortIcon field="dm104release"></p-sortIcon></th>
                <th style="width:30%;" pSortableColumn="dm105catatan">Catatan Barang <p-sortIcon field="dm105catatan"></p-sortIcon></th> -->
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data let-columns="columns">
              <tr>
                <td>
                  <div class="action">
                    <ul class="list-actions">
                      <li>
                        <a
                          (click)="listPhoto(data); $event.stopPropagation()"
                          class="bs-tooltip"
                          data-toggle="tooltip"
                          data-placement="top"
                          title="Lihat Photo Lainnya"
                          data-original-title="Edit"
                        >
                          <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="24"
                              height="24"
                              viewBox="0 0 24 24"
                              fill="none"
                              stroke="currentColor"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              class="feather feather-layers"
                            >
                            <polygon points="12 2 2 7 12 12 22 7 12 2"></polygon>
                            <polyline points="2 17 12 22 22 17"></polyline>
                            <polyline points="2 12 12 17 22 12"></polyline>
                          </svg>
                        </a>
                      </li>
                      <li>
                        <a
                          (click)="createTrans(data); $event.stopPropagation()"
                          class="bs-tooltip"
                          data-toggle="tooltip"
                          data-placement="top"
                          title="Tambah Transaksi"
                          data-original-title="Edit"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="feather feather-edit-2 text-success"
                          >
                            <path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path>
                          </svg>
                        </a>
                      </li>
                      <li>
                        <a
                          (click)="listTransaction(data); $event.stopPropagation()"
                          data-toggle="tooltip"
                          data-placement="top"
                          title="Lihat Transaksi Barang"
                          data-original-title="Delete"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="feather feather-clipboard text-warning"
                          >
                            <path d="M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2"></path>
                            <rect x="8" y="2" width="8" height="4" rx="1" ry="1"></rect>
                          </svg>
                        </a>
                      </li>
                    </ul>
                  </div>
                </td>

                <ng-container *ngFor="let col of columns">
                  <td *ngIf="col.field == 'dm103handler'" class="action" (click)="lulaId(data); $event.stopPropagation()">
                    {{data.dm103handler}}
                  </td>
                  <td *ngIf="col.field == 'dm111fotobrg'" class="action item-photo" (click)="lulaPhoto(data); $event.stopPropagation()">
                    <span *ngIf="!data.dm111fotobrg">
                      <img src="{{ noImage }}" />
                    </span>
                    <span *ngIf="data.dm111fotobrg">
                      <img src="{{ data.dm111fotobrg }}" />
                    </span>
                  </td>
                  <td *ngIf="col.field == 'dm105catatan'" style="white-space: normal; min-width: 300px;">
                    {{data.dm105catatan | slice:0:300}}
                  </td>
                  <td *ngIf="col.field == 'dm104release'">
                    {{data.dm104release?.seconds * 1000 | date: 'MM/dd/yyyy, hh:mm:ss a'}}
                  </td>
                  <td *ngIf="col.field != 'dm103handler' && col.field != 'dm111fotobrg' && col.field != 'dm105catatan' && col.field != 'dm104release'">
                    {{data[col.field]}}
                  </td>
                </ng-container>

                <!-- <td class="action" (click)="lulaId(data); $event.stopPropagation()">{{ data.dm103handler }}</td>
                <td class="action item-photo" (click)="lulaPhoto(data); $event.stopPropagation()">
                  <span *ngIf="!data.dm111fotobrg">
                    <img src="{{ noImage }}" />
                  </span>
                  <span *ngIf="data.dm111fotobrg">
                    <img src="{{ data.dm111fotobrg }}" />
                  </span>
                </td>
                <td>{{ data.dm107barcoid }}</td>
                <td>{{ data.dm101bymaker }}</td>
                <td>{{ data.dm102bseries }}</td>               
                <td>{{ data.dm104release?.seconds * 1000 | date: 'MM/dd/yyyy, hh:mm:ss a' }}</td>
                <td style="white-space: normal;display: block;">{{ data.dm105catatan | slice:0:300 }}</td> -->
              </tr>
            </ng-template>
          </p-table>

          <!-- <table class="table">
            <thead>
              <tr>
                <th></th>       
                <th>Nama Barang</th>  
                <th>Foto Barang</th>       
                <th>Barcode ID</th>
                <th>Make By</th>
                <th>Series Name</th>
                <th>Release Date</th>
                <th>Catatan Barang</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of goods | async; let i = index">
                <td>
                  <div class="action">
                    <ul class="list-actions">
                      <li>
                        <a
                          (click)="createTrans(data); $event.stopPropagation()"
                          class="bs-tooltip"
                          data-toggle="tooltip"
                          data-placement="top"
                          title="Tambah Transaksi"
                          data-original-title="Edit"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="feather feather-edit-2 text-success"
                          >
                            <path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path>
                          </svg>
                        </a>
                      </li>
                      <li>
                        <a
                          (click)="listTransaction(data); $event.stopPropagation()"
                          data-toggle="tooltip"
                          data-placement="top"
                          title="Lihat Transaksi Barang"
                          data-original-title="Delete"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="feather feather-clipboard text-warning"
                          >
                            <path d="M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2"></path>
                            <rect x="8" y="2" width="8" height="4" rx="1" ry="1"></rect>
                          </svg>
                        </a>
                      </li>
                    </ul>
                  </div>
                </td>               
                <td (click)="lulaId(data); $event.stopPropagation()">{{ data.dm103handler }}</td>
                <td>
                  <span>
                    <img src="{{ data.dm111fotobrg }}" style="width: 90px;" />
                  </span>
                </td>
                <td>{{ data.dm107barcoid }}</td>
                <td>{{ data.dm101bymaker }}</td>
                <td>{{ data.dm102bseries }}</td>               
                <td>{{ data.dm104release?.seconds * 1000 | date: 'yyyy/MM/d, hh:mm:ss' }}</td>
                <td>{{ data.dm105catatan }}</td>
              </tr>
            </tbody>
          </table> -->
        </div>

        <div class="text-center" *ngIf="dataCustomer == undefined">There is no data. Please add first...</div>
      </div>
    </div>
  </div>
</div>

<div [ngClass]="modalAdd ? 'show' : ''" class="modal-backdrop fade"></div>
<div [ngClass]="modalDetail ? 'show' : ''" class="modal-backdrop fade"></div>
<div [ngClass]="modalAddress ? 'show' : ''" class="modal-backdrop fade"></div>
<div [ngClass]="modalListAddress ? 'show' : ''" class="modal-backdrop fade"></div>
<div [ngClass]="modalPhoto ? 'show' : ''" class="modal-backdrop fade"></div>
