<!-- Toast Error Message -->
<p-toast key="error" position="top-right" class="error-toast">
  <ng-template let-message pTemplate="message">
    <div class="p-toast-message p-toast-message-info" style="flex: 1">
      <div class="p-toast-message-content">
        <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>

        <div class="p-toast-message-text">
          <div class="p-toast-summary">{{ message.summary }}</div>
          <div class="p-toast-detail">{{ message.detail }}</div>
        </div>
      </div>
    </div>
  </ng-template>
</p-toast>

<div class="form-container bg-login">
  <div class="form-form">
    <div class="form-form-wrap">
      <div class="form-container">
        <div class="form-content">
          <h1 class="">
            Log In to <a href=""><span class="brand-name">Admin</span></a>
          </h1>
          <!-- <p class="signup-link">New Here? <a routerLink="/register">Create an account</a></p> -->
          <div class="text-left">
            <form (ngSubmit)="logIn()" [formGroup]="loginForm" novalidate class="text-left">
              <div class="alert alert-danger" [hidden]="!error || isLoading" translate>
                {{ error }}
              </div>
              <div class="field-wrapper input">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-user"
                >
                  <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                  <circle cx="12" cy="7" r="4"></circle>
                </svg>
                <input
                  id="email"
                  name="email"
                  type="text"
                  class="form-control"
                  formControlName="email"
                  autocomplete="email"
                  [placeholder]="'Email' | translate"
                  [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                />
              </div>

              <div class="field-wrapper input mb-2">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-lock"
                >
                  <rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect>
                  <path d="M7 11V7a5 5 0 0 1 10 0v4"></path>
                </svg>
                <input
                  id="password"
                  name="password"
                  type="password"
                  class="form-control"
                  formControlName="password"
                  autocomplete="current-password"
                  [placeholder]="'Password' | translate"
                  [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                />
              </div>

              <div class="justify-content-between">
                <!-- <div class="field-wrapper toggle-pass">
                  <p class="d-inline-block">Show Password</p>
                  <label class="switch s-primary">
                    <input type="checkbox" id="toggle-password" class="d-none" />
                    <span class="slider round"></span>
                  </label>
                </div> -->
                <div class="field-wrapper">
                  <button type="submit" class="btn btn-primary full-width">
                    <span translate>Log In</span>
                  </button>
                </div>
              </div>

              <div class="field-wrapper text-center keep-logged-in">
                <div class="n-chk new-checkbox checkbox-outline-primary">
                  <label class="new-control new-checkbox checkbox-outline-primary">
                    <input type="checkbox" class="new-control-input" formControlName="remember" />
                    <span class="new-control-indicator" translate></span>Keep me logged in
                  </label>
                </div>
              </div>

              <!-- <div class="field-wrapper">
                <a href="#" class="forgot-pass-link">Forgot Password?</a>
              </div> -->
            </form>
          </div>
          <p class="terms-conditions">
            © 2021 All Rights Reserved. <a href="">Lullabywinds</a>. <small>{{ version }}</small>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
