<div id="load_screen" [hidden]="!isLoading">
  <div class="loader">
    <div class="loader-content">
      <div class="spinner-grow align-self-center"></div>
      {{ message }}
    </div>
  </div>
</div>
