<!-- Toast Success Message -->
<p-toast key="success" position="top-right" class="success-toast">
  <ng-template let-message pTemplate="message">
    <div class="p-toast-message p-toast-message-info" style="flex: 1">
      <div class="p-toast-message-content">
        <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>

        <div class="p-toast-message-text">
          <div class="p-toast-summary">{{ message.summary }}</div>
          <div class="p-toast-detail">{{ message.detail }}</div>
        </div>
      </div>
    </div>
  </ng-template>
</p-toast>

<!-- Toast Error Message -->
<p-toast key="error" position="top-right" class="error-toast">
  <ng-template let-message pTemplate="message">
    <div class="p-toast-message p-toast-message-info" style="flex: 1">
      <div class="p-toast-message-content">
        <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>

        <div class="p-toast-message-text">
          <div class="p-toast-summary">{{ message.summary }}</div>
          <div class="p-toast-detail">{{ message.detail }}</div>
        </div>
      </div>
    </div>
  </ng-template>
</p-toast>

<div class="row layout-spacing layout-top-spacing" id="cancel-row">
  <div class="col-lg-12">
    <div class="widget-content searchable-container list">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 layout-spacing align-self-center">
          <div class="d-flex justify-content-sm-start justify-content-center">
            <!-- <svg id="add-user" xmlns="http://www.w3.org/2000/svg" width="33.438" height="22" viewBox="0 0 33.438 22"
              (click)="addModal()">
              <g id="Barang" transform="translate(-162.658 -442)">
                <g id="Group_1" data-name="Group 1" transform="translate(162 441)">
                  <path id="Path_1" data-name="Path 1" d="M12,2,2,7l10,5L22,7Z" fill="none" stroke="#009688"
                    stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                  <path id="Path_2" data-name="Path 2" d="M2,17l10,5,10-5" fill="none" stroke="#009688" stroke-linecap="round"
                    stroke-linejoin="round" stroke-width="2" />
                  <path id="Path_3" data-name="Path 3" d="M2,12l10,5,10-5" fill="none" stroke="#009688" stroke-linecap="round"
                    stroke-linejoin="round" stroke-width="2" />
                </g>
                <line id="Line_2" data-name="Line 2" y2="6" transform="translate(192.096 450.028)" fill="none" stroke="#009688"
                  stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                <line id="Line_3" data-name="Line 3" x1="6" transform="translate(189.096 453.028)" fill="none" stroke="#009688"
                  stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
              </g>
            </svg> -->
          
            <ul class="navbar-item flex-row ml-md-0 ml-md-auto">
              <li class="nav-item align-self-center search-animated">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="feather feather-search toggle-search">
                  <circle cx="11" cy="11" r="8"></circle>
                  <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                </svg>
                <!-- <div class="form-inline search-full form-inline search" role="search">
                  <div class="search-bar">
                    <input [(ngModel)]="searchValue" type="text" class="form-control search-form-control ml-lg-auto"
                      placeholder="Cari data shipment kirim..." />
                  </div>
                </div> -->

                <div class="form-inline search-full form-inline search">
                  <div class="search-bar">
                    <input pInputText type="text" class="form-control search-form-control ml-lg-auto"
                      (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Cari data shipment kirim..." />
                  </div>
                </div>
              </li>
            </ul>
          </div>

          <!-- Modal Update Shipment -->
          <div class="modal fade" [ngClass]="modalDetail ? 'show' : ''" id="addTransModal" tabindex="-1" role="dialog"
            aria-labelledby="addTransModalTitle" aria-hidden="true" (click)="closed($event)">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header" style="justify-content: center">
                  <h6>Update Shipment - Kirim</h6>
                </div>
                <div class="modal-body">
                  <i class="flaticon-cancel-12 close" data-dismiss="modal"></i>
                  <div class="add-contact-box">
                    <div class="add-contact-content">
                      <form [formGroup]="shipmentForm" novalidate>
                        <div class="row">
                          <div class="col-md-4">
                            <div class="contact-occupation">
                              <i class="flaticon-fill-area"></i>
                              <input type="text" formControlName="hi200kemasid" class="form-control"
                                placeholder="Kemas ID" [attr.disabled]="true" />
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="contact-location">
                              <select
                                formControlName="hi205viakuri"
                                class="form-control"
                                (change)="kurirChange($event)"
                              >
                              <option value="" selected [attr.disabled]="true">Via Kurir</option>
                              <option *ngFor="let data of kurir; let i = index" [value]="data.id">{{ data.name }}</option>
                              </select>
                              <span class="validation-text"></span>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="contact-location">
                              <i class="flaticon-location-1"></i>
                              <input type="number" formControlName="hi206resinum" class="form-control"
                                placeholder="Nomor Resi" />
                            </div>
                          </div>
                        </div>           

                        <div class="row">
                          <div class="col-md-6">
                            <div class="contact-location">
                              <i class="flaticon-location-1"></i>
                              <input type="text" formControlName="hi203onkiprc" class="form-control"
                                placeholder="Ongkos Kirim" />
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="contact-phone">
                              <i class="flaticon-telephone"></i>
                              <input type="number" formControlName="hi204paypric" class="form-control"
                                placeholder="Biaya Bayar" />
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-12">
                            <div class="contact-location">
                              <i class="flaticon-location-1"></i>
                              <textarea cols="50" rows="2" class="form-control" formControlName="hi205catatan"
                                placeholder="Catatan Transaksi"></textarea>
                            </div>
                          </div>
                        </div>                                     

                        <hr class="default">

                        <div class="row">
                          <div class="col-md-6">
                            <div class="contact">
                              <i class="flaticon-fill-area"></i>
                              <input type="text" formControlName="hi000custoid" class="form-control"
                                placeholder="Kustomer id" [attr.disabled]="true" />
                            </div>
                          </div>

                          <div class="col-md-6">
                            <div class="contact">
                              <i class="flaticon-fill-area"></i>
                              <input type="text" formControlName="hi006fulname" class="form-control"
                                placeholder="Full Name" [attr.disabled]="true" />
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-6">
                            <div class="contact-occupation">
                              <i class="flaticon-fill-area"></i>
                              <input type="text" formControlName="hi009namalen" class="form-control"
                                placeholder="Nama Lengkap" [attr.disabled]="true" />
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="contact-occupation">
                              <i class="flaticon-fill-area"></i>
                              <input type="text" formControlName="hi010country" class="form-control"
                                placeholder="Country" [attr.disabled]="true" />
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-4">
                            <div class="contact-occupation">
                              <i class="flaticon-location-1"></i>
                              <input type="text" formControlName="hi011postnum" class="form-control"
                                placeholder="Kode Pos" [attr.disabled]="true" />
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="contact-occupation">
                              <i class="flaticon-location-1"></i>
                              <input type="text" formControlName="hi012prefect" class="form-control"
                                placeholder="Province" [attr.disabled]="true" />
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="contact-occupation">
                              <i class="flaticon-location-1"></i>
                              <input type="text" formControlName="hi013citynam" class="form-control"
                                placeholder="City" [attr.disabled]="true" />
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-4">
                            <div class="contact-occupation">
                              <i class="flaticon-location-1"></i>
                              <input type="text" formControlName="hi014lainnya" class="form-control"
                                placeholder="Lainnya" [attr.disabled]="true" />
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="contact-occupation">
                              <i class="flaticon-location-1"></i>
                              <input type="text" formControlName="hi015telpnum" class="form-control"
                                placeholder="Nomor Telp" [attr.disabled]="true" />
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="contact-occupation">
                              <i class="flaticon-location-1"></i>
                              <input type="text" formControlName="hi016geopoin" class="form-control"
                                placeholder="Geopoint" [attr.disabled]="true" />
                            </div>
                          </div>
                        </div>

                        <hr class="default">

                        <div class="row">
                          <div class="col-md-4">
                            <div class="contact">
                              <i class="flaticon-fill-area"></i>
                              <input type="text" formControlName="hi212alterby" class="form-control"
                                placeholder="Alter By" [attr.disabled]="true" />
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="contact">
                              <i class="flaticon-location-1"></i>
                              <input type="text" formControlName="hi209statudt" class="form-control"
                                placeholder="Status Date" [attr.disabled]="true" />
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="contact">
                              <i class="flaticon-location-1"></i>
                              <input type="number" formControlName="hi210statuss" class="form-control"
                                placeholder="Status" [attr.disabled]="true" />
                            </div>
                          </div>
                        </div>          
                      </form>
                    </div>
                  </div>
                </div>
                <div class="modal-footer text-sm-right" style="display: block">
                  <button class="btn btn-danger" data-dismiss="modal" (click)="moveTrash()" style="float: left">
                    <i class="flaticon-delete-1"></i> Remove
                  </button>

                  <span style="margin-right: 50px;">
                    <button (click)="changeAddress()" class="btn btn-info" style="margin: 0.25rem;">
                      Ganti Tujuan
                    </button>
  
                    <button (click)="printInvoice()" class="btn btn-success" style="margin: 0.25rem;">
                      Print Invoice
                    </button>
                  </span>

                  <button (click)="updateShipment()" class="btn">
                    Apply 
                    <!-- <i class="fas fa-cog fa-spin" [hidden]="!isLoading"></i> -->
                  </button>

                  <button class="btn" data-dismiss="modal" (click)="removeModalTrans()">
                    <i class="flaticon-delete-1"></i> Cancel
                  </button>
                </div>
              </div>
            </div>
          </div>

          <!-- Modal List Address -->
          <div
            class="modal fade"
            [ngClass]="modalListAddress ? 'show' : ''"
            id="addCAddressModal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="addAddressModalTitle"
            aria-hidden="true"
            (click)="closedAddress($event)"
            style="z-index: 10005;"
          >
            <div class="modal-dialog modal-dialog-centered modal-dialog modal-xl modal-customer" role="document">
              <div class="modal-content">
                <div class="modal-header" style="justify-content: center">
                  <h6>{{selectedShipment?.hi000custoid}} - {{selectedShipment?.hi006fulname}} - {{selectedShipment?.hi009namalen}}</h6>
                </div>
                <div class="modal-body">
                  <i class="flaticon-cancel-12 close" data-dismiss="modal"></i>
                  <div class="add-contact-box">
                    <div class="searchable-items list">
                      <app-loader [isLoading]="isLoading"></app-loader>
                      <h6>Alamat Pengiriman Sekarang</h6>
                      <div class="table-responsive customer-list" style="margin-top: 0">
                        <table class="table">
                          <thead>
                            <tr>
                              <th>Ptrima</th>
                              <th>Kdpos</th>
                              <th>Prov</th>
                              <th>Kota</th>
                              <th>Jln</th>
                              <th>Telp</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr style="cursor: default">
                              <td>{{ selectedShipment?.hi009namalen }}</td>
                              <td>{{ selectedShipment?.hi011postnum }}</td>
                              <td>
                                <span>
                                  {{ province[selectedShipment?.hi012prefect - 1]?.name }}
                                </span>
                              </td>
                              <td>{{ selectedShipment?.hi013citynam }}</td>
                              <td style="white-space: normal; min-width: 200px;">
                                <span>
                                  {{ selectedShipment?.hi014lainnya }}
                                </span>
                              </td>
                              <td>{{ selectedShipment?.hi015telpnum }}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>

                      <div class="text-center" *ngIf="readAddressCustomer == undefined">
                        There is no data. Please add first...
                      </div>

                      <hr>

                      <h6>Pilih Alamat</h6>
                      <div class="table-responsive customer-list" style="margin-top: 0">
                        <table class="table" style="background: transparent;">
                          <thead>
                            <tr>
                              <th>Ptrima</th>
                              <th>Kdpos</th>
                              <th>Prov</th>
                              <th>Kota</th>
                              <th>Jln</th>
                              <th>Telp</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr
                              (click)="addressDefault($event, readAddressCustomer); $event.stopPropagation()"
                              [class.highlighted]="readAddressCustomer?.dk006fulname === currentUserCustomer"
                            >
                              <td>{{ readAddressCustomer?.dk006fulname }}</td>
                              <td>{{ readAddressCustomer?.dk011postnum }}</td>
                              <td>
                                <span>
                                  {{ province[readAddressCustomer?.dk012prefect - 1]?.name }}
                                </span>
                              </td>
                              <td>{{ readAddressCustomer?.dk013citynam }}</td>
                              <td style="white-space: normal; min-width: 200px;">
                                <span>
                                  {{ readAddressCustomer?.dk014lainnya }}
                                </span>
                              </td>
                              <td>{{ readAddressCustomer?.dk015telpnum }}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>

                      <div class="text-center" *ngIf="readAddressCustomer == undefined">
                        There is no data. Please add first...
                      </div>

                      <hr>

                      <div style="margin-bottom: 20px;">
                        <div class="d-flex justify-content-sm-start justify-content-center navbar-expand-sm">
                          <h6 style="padding: 7px 0;">Pilih Alamat Lainnya</h6>                         
                        </div>
                      </div>
                      
                      <div class="table-responsive customer-list" style="margin-top: 0">
                        <ul class="navbar-item flex-row ml-md-0 ml-md-auto" style="float: right; position: relative; z-index: 99">
                          <li class="nav-item align-self-center search-animated">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="24"
                              height="24"
                              viewBox="0 0 24 24"
                              fill="none"
                              stroke="currentColor"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              class="feather feather-search toggle-search"
                            >
                              <circle cx="11" cy="11" r="8"></circle>
                              <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                            </svg>
                            <!-- <div class="form-inline search-full form-inline search" role="search">
                              <div class="search-bar">
                                <input 
                                [(ngModel)]="searchValueKemas"
                                type="text" 
                                class="form-control search-form-control ml-lg-auto" 
                                placeholder="Cari data nomor kemas..." />
                              </div>
                            </div> -->

                            <div class="form-inline search-full form-inline search">
                              <div class="search-bar">
                                <input pInputText type="text" class="form-control search-form-control ml-lg-auto"
                                  (input)="ds.filterGlobal($event.target.value, 'contains')" placeholder="Cari data alamat lainnya..." />
                              </div>
                            </div>
                          </li>
                        </ul>

                        <p-table
                          #ds
                          [value]="readAddress | async | searchFilter: searchValueAddress"
                          [paginator]="true"
                          [autoLayout]="true"
                          [rows]="10"
                          [showCurrentPageReport]="true"
                          [columns]="selectedColumnsAddress"
                          class="table"
                        >

                          <ng-template pTemplate="caption">
                            <div class="n-chk" style="margin-bottom: 20px;">
                              <p-multiSelect [options]="colsAddress" [(ngModel)]="selectedColumnsAddress" optionLabel="header" [showHeader]="false"
                                selectedItemsLabel="{0} column selected" [style]="{minWidth: '200px'}" placeholder="Choose Columns">
                              </p-multiSelect>
                            </div>
                          </ng-template>
                          
                          <ng-template pTemplate="header" let-columns>
                            <tr>
                              <ng-container *ngFor="let col of columns">
                                <th pSortableColumn="{{col.field}}">
                                  {{col.header}} <p-sortIcon field="{{col.field}}"></p-sortIcon>
                                </th>
                              </ng-container>

                              <!-- <th>Full Name</th>
                              <th>Post Code</th>
                              <th>Province</th>
                              <th>City</th>
                              <th>Address</th>
                              <th>Telp</th> -->
                            </tr>
                          </ng-template>
                          <ng-template pTemplate="body" let-data let-columns="columns">
                            <tr
                              (click)="addressId($event, data); $event.stopPropagation()"
                              [class.highlighted]="data.ak009namalen === currentUser"
                            >
                              <ng-container *ngFor="let col of columns">
                                <td *ngIf="col.field == 'ak012prefect'">
                                  {{province[data.ak012prefect - 1].name}}
                                </td>
                                <td *ngIf="col.field == 'ak014lainnya'" style="white-space: normal; min-width: 300px;">
                                  {{data.ak014lainnya | slice:0:300}}
                                </td>
                                <td *ngIf="col.field != 'ak012prefect' && col.field != 'ak014lainnya'">
                                  {{data[col.field]}}
                                </td>
                              </ng-container>
                              
                              <!-- <td>{{ data.ak009namalen }}</td>
                              <td>{{ data.ak011postnum }}</td>
                              <td>
                                <span>
                                  {{ province[data.ak012prefect - 1].name }}
                                </span>
                              </td>
                              <td>{{ data.ak013citynam }}</td>
                              <td>
                                <span>
                                  {{ data.ak014lainnya }}
                                </span>
                              </td>
                              <td>{{ data.ak015telpnum }}</td> -->
                            </tr>
                          </ng-template>
                        </p-table>
                      </div>

                      <div class="text-center" *ngIf="readAddress == undefined">
                        There is no data. Please add first...
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button [attr.disabled]="true" class="btn">
                    Apply <i class="fas fa-cog fa-spin" [hidden]="!isLoading"></i>
                  </button>

                  <button class="btn" data-dismiss="modal" (click)="removeModalAddress()">
                    <i class="flaticon-delete-1"></i> Cancel
                  </button>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>

      <div class="searchable-items list">
        <app-loader [isLoading]="isLoading"></app-loader>

        <div class="table-responsive user-list">
          <p-table #dt [autoLayout]="true" [value]="readData | searchFilter: searchValue" [paginator]="true" [rows]="20" [showCurrentPageReport]="true"
            [resizableColumns]="true" [columns]="selectedColumns" class="table">

            <ng-template pTemplate="caption">
              <div class="n-chk" style="margin-bottom: 20px;">
                <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header" [showHeader]="false"
                  selectedItemsLabel="{0} column selected" [style]="{minWidth: '200px'}" placeholder="Choose Columns">
                </p-multiSelect>
              </div>
            </ng-template>

            <ng-template pTemplate="header" let-columns>
              <tr>
                <th style="width: 23px"></th>
                <ng-container *ngFor="let col of columns">
                  <th pSortableColumn="{{col.field}}">
                    {{col.header}} <p-sortIcon field="{{col.field}}"></p-sortIcon>
                  </th>
                </ng-container>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data let-columns="columns">
              <tr>
                <td>
                  <div class="action">
                    <div class="row">
                      <div class="col-md-12">
                        <ul class="list-actions">
                          <li>
                            <a
                              (click)="moveStatus(data); $event.stopPropagation()"
                              data-toggle="tooltip"
                              data-placement="top"
                              title="Barang Sudah Diterima"
                              data-original-title="Delete"
                            >
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="feather feather-box"
                              >
                                <path
                                  d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"
                                ></path>
                                <polyline points="3.27 6.96 12 12.01 20.73 6.96"></polyline>
                                <line x1="12" y1="22.08" x2="12" y2="12"></line>
                              </svg>
                            </a>
                          </li>
                          <li>
                            <a
                              (click)="listTransaction(data); $event.stopPropagation()"
                              data-toggle="tooltip"
                              data-placement="top"
                              title="Lihat Transaksi Shipment"
                              data-original-title="Delete"
                            >
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="feather feather-clipboard text-warning"
                              >
                                <path
                                  d="M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2"
                                ></path>
                                <rect x="8" y="2" width="8" height="4" rx="1" ry="1"></rect>
                              </svg>
                            </a>
                          </li>                          
                        </ul>
                      </div>
                    </div>
                    
                  </div>
                </td>
                <ng-container *ngFor="let col of columns">
                  <td *ngIf="col.field == 'hi200kemasid'" class="action" (click)="lulaId(data); $event.stopPropagation()">
                    {{data.hi200kemasid}}
                  </td>
                  <td *ngIf="col.field == 'hi205viakuri'">
                    {{kurir[data.hi205viakuri]?.name}}
                  </td>
                  <td *ngIf="col.field == 'hi012prefect'">
                    {{ province[data.hi012prefect - 1].name }}
                  </td>
                  <td *ngIf="col.field == 'hi205catatan'" style="white-space: normal; min-width: 300px;">
                    {{data.hi205catatan | slice:0:300}}
                  </td>
                  <td *ngIf="col.field == 'hi014lainnya'" style="white-space: normal; min-width: 300px;">
                    {{data.hi014lainnya | slice:0:300}}
                  </td>
                  
                  <td *ngIf="col.field != 'hi200kemasid' && col.field != 'hi205viakuri' && col.field != 'hi012prefect' && col.field != 'hi205catatan' && col.field != 'hi014lainnya'">
                    {{data[col.field]}}
                  </td>
                </ng-container>
              </tr>
            </ng-template>
          </p-table>
        </div>

        <div class="text-center" *ngIf="readData == ''">There is no data...</div>
      </div>
    </div>
  </div>
</div>

<div [ngClass]="modalAdd ? 'show' : ''" class="modal-backdrop fade"></div>
<div [ngClass]="modalDetail ? 'show' : ''" class="modal-backdrop fade"></div>
<div [ngClass]="modalKirim ? 'show' : ''" class="modal-backdrop fade"></div>
