.collapse {
  &.show {
    height: 100%;
    max-height: 100vh;
    transition: all 1.2s ease-in;
  }

  &:not(.show) {
    display: block;
    visibility: hidden;
    height: 100%;
    max-height: 0;
    transition: all 1s ease;
  }
}
