<nav id="sidebar">
  <!-- <div class="shadow-bottom"></div> -->

  <ul class="list-unstyled menu-categories" id="accordionExample">
    <li class="menu">
      <a
        data-toggle="collapse"
        [attr.aria-expanded]="expandedPackage"
        [ngClass]="package ? 'collapsed' : ''"
        class="dropdown-toggle"
      >
        <div class="">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-users"
          >
            <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
            <circle cx="9" cy="7" r="4"></circle>
            <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
            <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
          </svg>
          <span> Kustomer</span>
        </div>
      </a>
      <ul [ngClass]="package ? 'show' : ''" class="collapse submenu list-unstyled show" id="submenu">
        <li routerLinkActive="active">
          <a routerLink="/home"> Kustomer </a>
        </li>
      </ul>
    </li>

    <li class="menu">
      <a
        data-toggle="collapse"
        [attr.aria-expanded]="expandedPackage"
        [ngClass]="package ? 'collapsed' : ''"
        class="dropdown-toggle"
      >
        <div class="">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-layers"
          >
            <polygon points="12 2 2 7 12 12 22 7 12 2"></polygon>
            <polyline points="2 17 12 22 22 17"></polyline>
            <polyline points="2 12 12 17 22 12"></polyline>
          </svg>
          <span> Barang</span>
        </div>
      </a>
      <ul [ngClass]="package ? 'show' : ''" class="collapse submenu list-unstyled show" id="submenu">
        <li routerLinkActive="active">
          <a routerLink="/goods-active"> Aktif </a>
        </li>
        <!-- <li routerLinkActive="active">
          <a routerLink="/goods-trash"> Sampah </a>
        </li> -->
      </ul>
    </li>

    <li class="menu">
      <a
        data-toggle="collapse"
        [attr.aria-expanded]="expandedPackage"
        [ngClass]="package ? 'collapsed' : ''"
        class="dropdown-toggle"
      >
        <div class="">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-clipboard"
          >
            <path d="M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2"></path>
            <rect x="8" y="2" width="8" height="4" rx="1" ry="1"></rect>
          </svg>
          <span> Transaksi</span>
        </div>
      </a>
      <ul [ngClass]="package ? 'show' : ''" class="collapse submenu list-unstyled show" id="submenu">
        <li routerLinkActive="active">
          <a routerLink="/transaction-start">
            Mulai <span class="badge badge-info" *ngIf="start">{{ start }}</span></a
          >
        </li>
        <li routerLinkActive="active">
          <a routerLink="/transaction-box">
            Kotak <span class="badge badge-info" *ngIf="kotak">{{ kotak }}</span></a
          >
        </li>
        <li routerLinkActive="active">
          <a routerLink="/transaction-otewe">
            Otewe <span class="badge badge-info" *ngIf="otewe">{{ otewe }}</span></a
          >
        </li>
        <li routerLinkActive="active">
          <a routerLink="/transaction-setok">
            Setok <span class="badge badge-info" *ngIf="setok">{{ setok }}</span></a
          >
        </li>
        <li routerLinkActive="active">
          <a routerLink="/transaction-bill">
            Tagih <span class="badge badge-info" *ngIf="tagih">{{ tagih }}</span></a
          >
        </li>
        <li routerLinkActive="active">
          <a routerLink="/transaction-paid">
            Lunas <span class="badge badge-info" *ngIf="lunas">{{ lunas }}</span></a
          >
        </li>
        <li routerLinkActive="active">
          <a routerLink="/transaction-finish">
            Selesai <span class="badge badge-info" *ngIf="selesai">{{ selesai }}</span></a
          >
        </li>
        <li routerLinkActive="active">
          <a routerLink="/transaction-trash">
            Sampah <span class="badge badge-info" *ngIf="sampah">{{ sampah }}</span></a
          >
        </li>
      </ul>
    </li>

    <!-- <li class="menu">
      <a
        data-toggle="collapse"
        [attr.aria-expanded]="expandedPackage"
        [ngClass]="package ? 'collapsed' : ''"
        class="dropdown-toggle"
      >
        <div class="">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-airplay"
          >
            <path d="M5 17H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-1"></path>
            <polygon points="12 15 17 21 7 21 12 15"></polygon>
          </svg>
          <span> Kontainer</span>
        </div>
      </a>
      <ul [ngClass]="package ? 'show' : ''" class="collapse submenu list-unstyled show" id="submenu">
        <li routerLinkActive="active">
          <a routerLink="/container-box">
            Kotak <span class="badge badge-warning" *ngIf="kotak">{{ kotak }}</span></a
          >
        </li>
        <li routerLinkActive="active">
          <a routerLink="/container-otewe">
            Otewe <span class="badge badge-warning" *ngIf="otewe">{{ otewe }}</span></a
          >
        </li>
      </ul>
    </li> -->

    <li class="menu">
      <a
        data-toggle="collapse"
        [attr.aria-expanded]="expandedPackage"
        [ngClass]="package ? 'collapsed' : ''"
        class="dropdown-toggle"
      >
        <div class="">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-box"
          >
            <path
              d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"
            ></path>
            <polyline points="3.27 6.96 12 12.01 20.73 6.96"></polyline>
            <line x1="12" y1="22.08" x2="12" y2="12"></line>
          </svg>
          <span> Shipment</span>
        </div>
      </a>
      <ul [ngClass]="package ? 'show' : ''" class="collapse submenu list-unstyled show" id="submenu">
        <li routerLinkActive="active">
          <a routerLink="/shipment-paid">
            Lunas <span class="badge badge-light" *ngIf="lunasx">{{ lunasx }}</span></a
          >
        </li>
        <li routerLinkActive="active">
          <a routerLink="/shipment-packet">
            Bungkus <span class="badge badge-light" *ngIf="bungkusx">{{ bungkusx }}</span></a
          >
        </li>
        <li routerLinkActive="active">
          <a routerLink="/shipment-send">
            Kirim <span class="badge badge-light" *ngIf="kirimx">{{ kirimx }}</span></a
          >
        </li>
        <li routerLinkActive="active">
          <a routerLink="/shipment-finish">
            Selesai <span class="badge badge-light" *ngIf="selesaix">{{ selesaix }}</span></a
          >
        </li>
        <li routerLinkActive="active">
          <a routerLink="/shipment-trash">
            Sampah <span class="badge badge-light" *ngIf="sampahx">{{ sampahx }}</span></a
          >
        </li>
      </ul>
    </li>
  </ul>
</nav>
