/*
 * Global application theme.
 * Framework overrides and customization goes here.
 */

html {
  min-height: 100%;
}
body {
  color: #888ea8;
  height: 100%;
  font-size: 0.875rem;
  background: #060818;
  overflow-x: hidden;
  overflow-y: auto;
  letter-spacing: 0.0312rem;
  font-family: "Nunito", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #3b3f5c;
}
:focus {
  outline: none;
}
::-moz-selection {
  /* Code for Firefox */
  color: #48cec3;
  background: transparent;
}
::selection {
  color: #48cec3;
  background: transparent;
}
/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #1b2e4b orange;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 7px;
}

*::-webkit-scrollbar-track {
  background: #0e1726;
}

*::-webkit-scrollbar-thumb {
  background-color: #009688;
  border-radius: 20px;
  border: 3px solid transparent;

  &:hover {
    background-color: #00d0bb;
  }
}
a {
  cursor: pointer;
}
p {
  margin-top: 0;
  margin-bottom: 0.625rem;
  color: #515365;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border-top: 1px solid #191e3a;

  &.default {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
strong {
  font-weight: 600;
}
code {
  color: #e7515a;
}

.white {
  color: white;
}

.modal,
.detail {
  display: block;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;

  &.show {
    z-index: 9998;
    display: block;
    opacity: 1;
    visibility: visible;
    top: 10px;
    transition: all 0.5s ease;
  }
}

.modal-backdrop {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;

  &.show {
    opacity: 0.5;
    visibility: visible;
    transition: all 0.5s ease;
  }
}

.input-group {
  span {
    cursor: pointer;
  }
}

.table table {
  table-layout: auto !important;
}

.progress {
  opacity: 0;
  height: 0;
  margin-top: 11px;
  visibility: hidden;
  transition: all 0.5s ease;

  &.active {
    opacity: 1;
    height: 7px;    
    visibility: visible;
    transition: all 0.5s ease;
  }
}

// Button
.btn {
  font-weight: 700;
  border: 1px solid #f1f2f3;
  padding: 10px 25px;
  // padding: 0.4375rem 1.25rem;
  text-shadow: none;
  font-size: 14px;
  color: #3b3f5c;
  font-weight: normal;
  white-space: normal;
  word-wrap: break-word;
  transition: 0.2s ease-out;
  touch-action: manipulation;
  cursor: pointer;
  background-color: #f1f2f3;
  box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.1);
  will-change: opacity, transform;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}
.btn svg {
  width: 20px;
  height: 20px;
  vertical-align: bottom;
}
.btn.rounded-circle {
  height: 40px;
  width: 40px;
  padding: 8px 8px;
}
.btn:hover,
.btn:focus {
  color: #3b3f5c;
  background-color: #f1f2f3;
  border-color: #d3d3d3;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
}
.btn-group .btn:hover,
.btn-group .btn:focus {
  -webkit-transform: none;
  transform: none;
}
.btn.disabled,
.btn.btn[disabled] {
  background-color: #f1f2f3;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.13);
}
.btn.disabled:hover,
.btn.btn[disabled]:hover {
  cursor: not-allowed;
}
.btn .caret {
  border-top-color: #0e1726;
  margin-top: 0;
  margin-left: 3px;
  vertical-align: middle;
}
.btn + .caret,
.btn + .dropdown-toggle .caret {
  margin-left: 0;
}
.btn-group > .btn,
.btn-group .btn {
  padding: 8px 14px;
}
.btn-group-lg > .btn,
.btn-group-lg .btn {
  font-size: 1.125rem;
}
.btn-group-lg > .btn,
.btn-lg,
.btn-group > .btn.btn-lg,
.btn-group .btn.btn-lg {
  padding: 0.625rem 1.5rem;
  font-size: 16px;
}
.btn-group-lg > .btn,
.btn-group-lg .btn {
  font-size: 1.125rem;
}
.btn-group-sm > .btn,
.btn-sm,
.btn-group > .btn.btn-sm,
.btn-group .btn.btn-sm {
  font-size: 0.6875rem;
}
.btn-group .dropdown-menu {
  border: 1px solid #1b2e4b;
  padding: 10px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  background: #1b2e4b;
}
.btn-group .dropdown-menu a.dropdown-item {
  border-radius: 5px;
  font-size: 12px;
  font-weight: 400;
  color: #bfc9d4;
  padding: 11px 8px;
}
.btn-group .dropdown-menu .dropdown-divider {
  border-top: 1px solid #3b3f5c;
}

.btn-group .dropdown-menu a.dropdown-item:hover,
.btn-group .dropdown-menu .dropdown-item:hover {
  background-color: #0e1726;
}
.btn-group .dropdown-menu a.dropdown-item svg {
  cursor: pointer;
  color: #888ea8;
  margin-right: 6px;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  fill: rgba(0, 23, 55, 0.08);
}

.btn-group .dropdown-menu a.dropdown-item:hover svg {
  color: #1b55e2;
}

.export {
  button {
    &.btn {
      padding: 3px 25px;
    }
  }
}

.full-width {
  width: 100%;
}

.display-none {
  display: none !important;
}

.chat-height {
  height: 100% !important;
  position: absolute;
  top: 0;
  width: 100%;
}

.chat-active {
  &.bottom {
    position: absolute !important;
    bottom: 0;
    width: 100%;
  }
}

img {
  &.upload {
    height: 350px;
    object-fit: cover;
    width: 100%;
  }
}

.p-dropdown {
  width: 100%;

  .p-dropdown-panel {
    width: 100%;
  }
}

.p-dropdown-panel {
  background: #ffffff;
  color: #495057;
  border: 0 none;
  border-radius: 3px;
  padding-bottom: 7px;
  box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%);
}

.custom-dropdown {
  padding: 5px 20px;
}

.result-dropdown {
  padding: 3px 3px;
}

.p-dropdown-items-wrapper {
  padding: 3px 11px;
}

.p-dropdown-filter-container {
  padding: 11px;
}

.p-dropdown-filter {
  border: 1px solid #ccc;
  padding: 5px 9px;
  border-radius: 7px;
}

.p-dropdown-filter-icon {
  right: 20px;
}

.navbar-item {
  li {
    position: relative;
    display: inline-flex;
  }

  .nav-item {
    &.search-animated {
      svg {
        font-weight: 600;
        margin: 0 9.6px;
        cursor: pointer;
        color: #888ea8;
        position: absolute;
        width: 18px;
        height: 18px;
        top: 9px;
      }
    }

    .form-inline {
      &.search {
        .search-form-control {
          border: 1px solid rgba(81, 83, 101, 0.28);
          width: 370px;
        }
      }

      input {
        &.search-form-control {
          font-size: 14px;
          border-radius: 6px;
          color: #888ea8;
          letter-spacing: 1px;
          padding: 0px 4px 0px 35px;
          height: 36px;
          font-weight: 600;
        }
      }
    }
  }

  &.no-space {
    margin: 0;
    padding: 0;
  }
}

.list {
  .item-photo {
    img {
      width: 90px;
      height: 60px;
      object-fit: cover;
    }
  }
}

.table {
  color: #888ea8;

  // p-sorticon {
  //   position: absolute;
  // }

  tbody {
    tr {
      td {
        vertical-align: middle;
        
        &.action {
          cursor: pointer;
        }

          .list-actions {
            display: inline;

            li {
              padding: 2px 0;
            }
          }
      }
    }
  }
}

.customer-list {
  margin-top: 30px;
}

.customer-list,
.user-list {
  margin-bottom: 20px;
}

.customer-list {
  .table thead tr th {
    font-size: 12px;
  }

  .table tbody tr td {
    font-size: 12px;
  }

  .table tbody tr {
    cursor: pointer;

    &.highlighted {
      background-color: #263245;
    }
  }

  .p-datatable {
    table {
      table-layout: auto;
    }
  }
}

.p-paginator {
  margin-top: 20px;

  button {
    height: 27px !important;
    min-width: 27px !important;
    padding: 0;
  }

  .p-paginator-pages {
    .p-paginator-page {
      background-color: transparent;
      border: 0 none;
      color: #6c757d;
      min-width: 2.357rem;
      height: 2.357rem;
      margin: 0.143rem;
      transition: box-shadow 0.2s;
      border-radius: 3px;

      &.p-highlight {
        background: #e3f2fd;
        border-color: #e3f2fd;
        color: #495057;
      }
    }
  }
}

.p-paginator .p-paginator-first,
.p-paginator .p-paginator-prev,
.p-paginator .p-paginator-next,
.p-paginator .p-paginator-last {
  background-color: transparent;
  border: 0 none;
  color: #6c757d;
  min-width: 2.357rem;
  height: 2.357rem;
  margin: 0.143rem;
  transition: box-shadow 0.2s;
  border-radius: 3px;
}

.p-paginator .p-paginator-last {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.p-paginator .p-paginator-first {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

// Badge
.badge {
  font-weight: 600;
  line-height: 1.4;
  padding: 2px 6px;
  font-size: 12px;
  font-weight: 600;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}
.badge:hover {
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
}
.badge.badge-enabled {
  background-color: #8dbf42;
  color: #fff;
}
.badge.badge-disable {
  background-color: #e7515a;
  color: #fff;
}
.badge-pills {
  border-radius: 30px;
}
.badge-classic {
  border-radius: 0;
}
.badge-collapsed-img img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: 2px solid #515365;
  margin-left: -21px;
}
.badge-collapsed-img.badge-tooltip img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: 2px solid #ffffff;
  box-shadow: 0px 0px 15px 1px rgba(113, 106, 202, 0.3);
  margin-left: -21px;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.badge-collapsed-img.badge-tooltip img:hover {
  -webkit-transform: translateY(-5px) scale(1.02);
  transform: translateY(-5px) scale(1.02);
}
.badge-collapsed-img.translateY-axis img {
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.badge-collapsed-img.translateY-axis img:hover {
  -webkit-transform: translateY(-5px) scale(1.02);
  transform: translateY(-5px) scale(1.02);
}
.badge-collapsed-img.rectangle-collapsed img {
  width: 45px;
  height: 32px;
}
.badge-collapsed-img.translateX-axis img {
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.badge-collapsed-img.translateX-axis img:hover {
  -webkit-transform: translateX(5px) scale(1.02);
  transform: translateX(5px) scale(1.02);
}
.badge-primary {
  color: #fff;
  background-color: #1b55e2;
}
.badge-info {
  color: #fff;
  background-color: #2196f3;
}
.badge-success {
  color: #fff;
  background-color: #8dbf42;
}
.badge-danger {
  color: #fff;
  background-color: #e7515a;
}
.badge-warning {
  color: #fff;
  background-color: #e2a03f;
}
.badge-dark {
  color: #fff;
  background-color: #3b3f5c;
}
.badge-secondary {
  background-color: #5c1ac3;
}

// Helper
.no-padding {
  padding: 0 !important;
}

// Form Checkbox
.form-form .form-form-wrap form .field-wrapper .n-chk .new-control-indicator {
  top: 1px;
  border: 1px solid #515365;
  background-color: #515365;
}
.form-form .form-form-wrap form .field-wrapper .n-chk .new-control-indicator:after {
  top: 52%;
}

.p-checkbox .p-checkbox-box {
  border: 1px solid #cccccc;
  background: transparent;
  padding: 5px;
  font-size: 11px;
  height: 24px;
  width: 24px;

  &.p-highlight {
    border: 1px solid #009688;
    background: #009688;
    padding: 5px;
    font-size: 11px;
    height: 24px;
    width: 24px;
  }
}

// Disable form
.custom-control-input:disabled ~ .custom-control-label {
  color: #d3d3d3;
  cursor: no-drop;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: #3b3f5c;
  cursor: no-drop;
  color: #d3d3d3;
}
.custom-control-input:disabled ~ .custom-control-label::before,
.custom-control-input[disabled] ~ .custom-control-label::before {
  background-color: #3b3f5c;
  cursor: no-drop;
}

// Form Control

.form-control {
  height: auto;
  border: 1px solid #1b2e4b;
  color: #009688;
  font-size: 15px;
  padding: 8px 10px;
  letter-spacing: 1px;
  height: calc(1.4em + 1.4rem + 2px);
  border-radius: 6px;
  background: transparent;
}
@supports (-webkit-overflow-scrolling: touch) {
  /* CSS specific to iOS devices */

  .form-control {
    color: #0e1726;
  }
}
.form-control[type="range"] {
  padding: 0;
}
.form-control:focus {
  box-shadow: none;
  border-color: #009688;
  color: #009688;
  background-color: transparent;
}
.form-control::-webkit-input-placeholder {
  color: #acb0c3;
  font-size: 15px;
}
.form-control::-ms-input-placeholder {
  color: #acb0c3;
  font-size: 15px;
}
.form-control::-moz-placeholder {
  color: #acb0c3;
  font-size: 15px;
}
.form-control:focus::-webkit-input-placeholder {
  color: #d3d3d3;
  font-size: 15px;
}
.form-control:focus::-ms-input-placeholder {
  color: #d3d3d3;
  font-size: 15px;
}
.form-control:focus::-moz-placeholder {
  color: #d3d3d3;
  font-size: 15px;
}
.form-control.form-control-lg {
  font-size: 19px;
  padding: 11px 20px;
}
.form-control.form-control-sm {
  padding: 7px 16px;
  font-size: 13px;
}

// Modal

.modal {
  .modal-dialog {
    .modal-footer {
      position: sticky;
      bottom: -1px;
      width: 100%;
      padding-top: 12px !important;
      background: #0e1726;
    }
  }
}

.modal-open {
  padding-right: 0;
  overflow-y: auto;
}

.modal-content {
  background: #0e1726;
  overflow-y: scroll;
  max-height: 650px;

  &.image-detail-modal {
    overflow: hidden;

    img {
      &.upload {
        height: 550px;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}

// Loader

div#load_screen[hidden] {
  display: block !important;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in;
}

div#load_screen {
  display: block !important;
  visibility: visible;
  opacity: 1;
  transition: all 0.5s ease-out;
}

// Scrolling

.ps--active-y {
  &.ps--scrolling-y {
    & > .ps__rail-y {
      background-color: #191e3a !important;
    }
  }
}

// Sidebar
.sidebar-closed {
  &.main-container {
    padding-left: 0;
  }

  .main-container {
    width: 100%;
  }
}

.sidebar-theme {
  border-right: 1px solid #555;
}

// Apex Chart
.apexcharts-legend-text {
  color: #bfc9d4 !important;
}

.apexcharts-canvas {
  margin: 0 auto;
}

.widget-chart-two {
  .apexcharts-legend-marker {
    left: -1px !important;
    top: 1px !important;
  }
}

.apexcharts-theme-light {
  height: 380px !important;

  svg {
    height: 380px !important;

    foreignObject {
      height: 380px !important;
    }
  }
}

// Toast
p-toastitem {
  margin-bottom: 12px;
  display: block;
}

.error-toast {
  .p-toast {
    z-index: 9999 !important;

    .p-toast-message {
      &.p-toast-message-error {
        background: #ffcdd2;
        border: solid #e60017;
        border-width: 0 0 0 6px;
        color: #73000c;
      }

      .p-toast-icon-close {
        position: absolute;
        right: 0;
        padding: 5px 12px;
      }
    }

    .p-toast-message-content {
      padding: 8px;
      border-width: 0 0 0 15px;
    }

    .p-toast-close-icon {
      padding: 5px;
    }
  }

  .p-toast-message-content {
    display: flex;

    i {
      font-size: 1.7rem !important;
      padding: 5px 10px 5px 5px;
    }

    .p-toast-summary {
      font-size: 14px;
      font-weight: bold;
    }

    .p-toast-detail {
      font-size: 13px;
    }
  }
}

.success-toast {
  .p-toast {
    z-index: 9999 !important;

    .p-toast-message {
      &.p-toast-message-success {
        background: #c8e6c9;
        border: solid #439446;
        border-width: 0 0 0 6px;
        color: #224a23;
      }

      .p-toast-icon-close {
        position: absolute;
        right: 0;
        padding: 5px 12px;
      }
    }

    .p-toast-message-content {
      padding: 8px;
      border-width: 0 0 0 15px;
    }

    .p-toast-close-icon {
      padding: 5px;
    }
  }

  .p-toast-message-content {
    display: flex;

    i {
      font-size: 1.7rem !important;
      padding: 5px 10px 5px 5px;
    }

    .p-toast-summary {
      font-size: 14px;
      font-weight: bold;
    }

    .p-toast-detail {
      font-size: 13px;
    }
  }
}

.warning-toast {
  .p-toast {
    z-index: 9999 !important;

    .p-toast-message {
      &.p-toast-message-warning {
        background: #ffe9cd;
        border: solid #e6a500;
        border-width: 0 0 0 6px;
        color: #735800;
      }

      .p-toast-icon-close {
        position: absolute;
        right: 0;
        padding: 5px 12px;
      }
    }

    .p-toast-message-content {
      padding: 8px;
      border-width: 0 0 0 15px;
    }

    .p-toast-close-icon {
      padding: 5px;
    }
  }

  .p-toast-message-content {
    display: flex;

    i {
      font-size: 1.7rem !important;
      padding: 5px 10px 5px 5px;
    }

    .p-toast-summary {
      font-size: 14px;
      font-weight: bold;
    }

    .p-toast-detail {
      font-size: 13px;
    }
  }
}

// Form
.field-wrapper {
  .editor {
    margin-top: 35px;
    display: block;
  }

  .is-invalid {
    border-bottom: 1px solid #dc3545 !important;
  }
}

// Login
.bg-login {
  background-image: url(/assets/bg.png);
  background-size: cover;
  background-position: 100% center;
  background-repeat: no-repeat;
  overflow-y: auto;
}

// Profile
.profile {
  text-align: center;
  margin-bottom: 30px;

  .avatar-display {
    height: 110px;
    width: 110px;
    margin: 0 auto;
    padding-bottom: 15px;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 12px;
    }
  }
}

// Chat
.chat-system {
  .chat-box {
    .bubble {
      font-size: 14px;
      padding: 5px 15px;

      &.me {
        animation: none;

        .name {
          display: block;
          font-size: 12px;
          text-align: right;
          border-bottom: 1px solid #81c7ff;
          margin-bottom: 5px;
        }

        .message {
          margin-right: 12px;
        }

        small {
          font-size: 75%;
          color: #ffffff91;
        }
      }
    }

    .chat-footer {
      &.chat-active {
        .msg-btn {
          position: absolute;
          right: 16px;
          top: 0;
          margin-top: 12px;
          width: 70px;
          background: #060818;
          padding: 7px 15px;
          border-radius: 5px;
          text-align: center;
          cursor: pointer;

          &:hover {
            color: #fff;
          }
        }
      }
    }
  }
}

.user-list {
  table {
    > tbody {
      > tr {
        &:first-child {
          // display: none;
        }
      }
    }
  }
}

.action {
  .list-actions {
    list-style: none;
    padding: 0;
    display: flex;

    li {
      padding: 0 5px;

      svg {
        width: 20px;
      }
    }
  }
}

#sidebar ul.menu-categories {
  overflow: auto;
}

.widget-content {
  .table-responsive {
    overflow-x: auto !important;
  }
}

.update-payment {
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: "";
  }
}

input[type="datetime-local"]:invalid::-webkit-datetime-edit {
  color: #ffffff;
}

// p-multiselect
.p-multiselect {
  background: transparent;
  border: 1px solid #009688;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  border-radius: 3px;
}
.p-multiselect:not(.p-disabled).p-focus {
  outline: 0 none;
  outline-offset: 0;
  border-color: #20c997;
  background: #009688;
  color: #ffffff;

  .p-multiselect-trigger {
    color: #ffffff;
  }
}
.p-multiselect .p-multiselect-label {
  padding: 0.5rem 0.5rem;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
}
.p-multiselect .p-multiselect-label.p-placeholder {
  color: #6c757d;
}
.p-multiselect.p-multiselect-chip .p-multiselect-token {
  padding: 0.25rem 0.5rem;
  margin-right: 0.5rem;
  background: #E3F2FD;
  color: #495057;
  border-radius: 3px;
}
.p-multiselect.p-multiselect-chip .p-multiselect-token .p-multiselect-token-icon {
  margin-left: 0.5rem;
}
.p-multiselect .p-multiselect-trigger {
  background: transparent;
  color: #6c757d;
  width: 2.357rem;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.p-inputwrapper-filled .p-multiselect.p-multiselect-chip .p-multiselect-label {
  padding: 0.25rem 0.5rem;
}

.p-multiselect-panel {
  background: #0e1f18;
  color: #495057;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}
.p-multiselect-panel .p-multiselect-header {
  padding: 0.5rem 1rem;
  border-bottom: 0 none;
  color: #495057;
  background: #f8f9fa;
  margin: 0;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.p-multiselect-panel .p-multiselect-header .p-multiselect-filter-container .p-inputtext {
  padding-right: 1.5rem;
}
.p-multiselect-panel .p-multiselect-header .p-multiselect-filter-container .p-multiselect-filter-icon {
  right: 0.5rem;
  color: #6c757d;
}
.p-multiselect-panel .p-multiselect-header .p-checkbox {
  margin-right: 0.5rem;
}
.p-multiselect-panel .p-multiselect-header .p-multiselect-close {
  margin-left: 0.5rem;
  width: 2rem;
  height: 2rem;
  color: #6c757d;
  border: 0 none;
  background: transparent;
  border-radius: 50%;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
}
.p-multiselect-panel .p-multiselect-header .p-multiselect-close:enabled:hover {
  color: #495057;
  border-color: transparent;
  background: #e9ecef;
}
.p-multiselect-panel .p-multiselect-header .p-multiselect-close:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem #a6d5fa;
}
.p-multiselect-panel .p-multiselect-items:not(.p-multiselect-virtualscroll) {
  padding: 0.5rem 0;
}
.p-multiselect-panel .p-multiselect-items.p-multiselect-virtualscroll .cdk-virtual-scroll-content-wrapper {
  padding: 0.5rem 0;
}
.p-multiselect-panel .p-multiselect-items .p-multiselect-item {
  margin: 0;
  padding: 0.5rem 0.7rem;
  border: 0 none;
  color: #cccccc;
  background: transparent;
  transition: box-shadow 0.2s;
  border-radius: 0;
}
.p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-highlight {
  color: #cccccc;
  background: #223b50;
}
// .p-multiselect-panel .p-multiselect-items .p-multiselect-item:not(.p-highlight):not(.p-disabled):hover {
//   color: #495057;
//   background: #e9ecef;
// }
.p-multiselect-panel .p-multiselect-items .p-multiselect-item:focus {
  outline: 0 none;
  outline-offset: 0;
  // box-shadow: inset 0 0 0 0.15rem #a6d5fa;
}
.p-multiselect-panel .p-multiselect-items .p-multiselect-item .p-checkbox {
  margin-right: 0.5rem;
}
.p-multiselect-panel .p-multiselect-items .p-multiselect-item-group {
  margin: 0;
  padding: 0.75rem 1rem;
  color: #495057;
  background: #ffffff;
  font-weight: 600;
}
.p-multiselect-panel .p-multiselect-items .p-multiselect-empty-message {
  padding: 0.5rem 1rem;
  color: #495057;
  background: transparent;
}

p-multiselect.ng-dirty.ng-invalid > .p-multiselect {
  border-color: #f44336;
}

.p-input-filled .p-multiselect {
  background: #f8f9fa;
}

.p-input-filled .p-multiselect:not(.p-disabled).p-focus {
  background-color: #ffffff;
}

.invoice-list {
  .head-address {
    display: flex;
  }
}

.searchable-items {
  &.list {
    overflow-x: visible !important;

    .table-responsive {
      overflow-x: visible !important;
    }
  }
}