.layout-spacing {
  padding-bottom: 25px;
}
.widget {
  position: relative;
  padding: 20px;
  border-radius: 8px;
  border: none;
  background: #0e1726;
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12),
    0 3px 5px -1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
}
.widget .widget-heading {
  margin-bottom: 15px;
}
.widget h5 {
  font-size: 19px;
  letter-spacing: 0px;
  margin-bottom: 0;
  color: #e0e6ed;
}

.apexcharts-legend-text {
  color: #bfc9d4 !important;
}
.apexcharts-tooltip.dark {
  background: #191e3a !important;
  box-shadow: none;
}
.apexcharts-tooltip.dark .apexcharts-tooltip-title {
  background: #191e3a !important;
  border-bottom: 1px solid #191e3a;
}

/*
    ==================
        Total Sales
    ==================
*/

.widget-two {
  position: relative;
  background: #0e1726;
  padding: 0;
  border-radius: 8px;
  height: 100%;
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12),
    0 3px 5px -1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
}
.widget-two .widget-content {
  font-size: 17px;
}
.widget-two .w-chart {
  position: absolute;
  bottom: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.widget-two .w-numeric-value {
  display: flex;
  color: #fff;
  font-weight: 500;
  padding: 20px;
  justify-content: space-between;
}
.widget-two .w-numeric-value .w-icon {
  display: inline-block;
  background: #e2a03f;
  padding: 13px 12px;
  border-radius: 50%;
  display: inline-flex;
  align-self: center;
  height: 45px;
  width: 45px;
}
.widget-two .w-numeric-value svg {
  display: block;
  color: #0e1726;
  width: 20px;
  height: 20px;
}
.widget-two .w-numeric-value .w-value {
  font-size: 19px;
  display: block;
  color: #e0e6ed;
  font-weight: 700;
  margin-bottom: -9px;
}
.widget-two .w-numeric-value .w-numeric-title {
  font-size: 13px;
  color: #888ea8;
  font-weight: 600;
}

/*
    ==================
        Widget
    ==================
*/

.widget-one {
  position: relative;
  background: #1b55e2;
  padding: 0;
  border-radius: 8px;
  height: 100%;
}
.widget-one .widget-content {
  font-size: 17px;
}
.widget-one .w-numeric-value {
  position: absolute;
  display: flex;
  color: #fff;
  font-weight: 500;
  padding: 20px;
}
.widget-one .w-numeric-value .w-icon {
  display: inline-block;
  background: #c2d5ff;
  padding: 13px 12px;
  border-radius: 50%;
  display: inline-flex;
  align-self: center;
  height: 45px;
  width: 45px;
  margin-right: 14px;
}
.widget-one .w-numeric-value svg {
  display: block;
  color: #1b55e2;
  width: 20px;
  height: 20px;
}
.widget-one .w-numeric-value .w-value {
  font-size: 26px;
  display: block;
  color: #fff;
  font-weight: 600;
  margin-bottom: -9px;
}
.widget-one .w-numeric-value .w-numeric-title {
  font-size: 13px;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 600;
}

/*
    ====================
        Order Summary
    ====================
*/

.widget-three {
  position: relative;
  background: #0e1726;
  padding: 20px;
  border-radius: 8px;
  height: 100%;
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12),
    0 3px 5px -1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
}
.widget-three .widget-heading {
  margin-bottom: 54px;
}
.widget-three .widget-heading h5 {
  font-size: 19px;
  display: block;
  color: #e0e6ed;
  font-weight: 600;
  margin-bottom: 0;
}
.widget-three .widget-content {
  font-size: 17px;
}
.widget-three .widget-content .summary-list {
  display: flex;
}
.widget-three .widget-content .summary-list:not(:last-child) {
  margin-bottom: 30px;
}
.widget-three .widget-content .w-icon {
  display: inline-block;
  padding: 8px 8px;
  border-radius: 50%;
  display: inline-flex;
  align-self: center;
  height: 34px;
  width: 34px;
  margin-right: 12px;
}
.widget-three .widget-content .w-icon svg {
  display: block;
  width: 17px;
  height: 17px;
}
.widget-three .widget-content .summary-list:nth-child(1) .w-icon {
  background: #5c1ac3;
}
.widget-three .widget-content .summary-list:nth-child(2) .w-icon {
  background: #009688;
}
.widget-three .widget-content .summary-list:nth-child(3) .w-icon {
  background: #e2a03f;
}
.widget-three .widget-content .summary-list:nth-child(1) .w-icon svg {
  color: #dccff7;
}
.widget-three .widget-content .summary-list:nth-child(2) .w-icon svg {
  color: #e6ffbf;
}
.widget-three .widget-content .summary-list:nth-child(3) .w-icon svg {
  color: #ffeccb;
}
.widget-three .widget-content .w-summary-details {
  width: 100%;
  align-self: center;
}
.widget-three .widget-content .w-summary-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1px;
}
.widget-three .widget-content .w-summary-info h6 {
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 0;
  color: #888ea8;
}
.widget-three .widget-content .w-summary-info p {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 0;
  color: #888ea8;
}
.widget-three .widget-content .w-summary-stats .progress {
  margin-bottom: 0;
  height: 6px;
  border-radius: 20px;
  box-shadow: none;
}

/*
    ==================
        Revenue
    ==================
*/
.widget-chart-one .widget-heading {
  display: flex;
  justify-content: space-between;
}
.widget-chart-one .apexcharts-legend-marker {
  left: -5px !important;
}
.widget-chart-one .apexcharts-yaxis-title {
  font-weight: 600;
  fill: #bfc9d4;
}
.widget-chart-one .apexcharts-xaxis-title {
  font-weight: 600;
  fill: #bfc9d4;
}
.widget-chart-one .widget-heading .tabs {
  padding: 0;
  margin: 0;
}
.widget-chart-one .widget-heading .tabs li {
  display: inline-block;
  list-style: none;
  padding: 0 0;
}
.widget-chart-one .widget-heading .tabs a {
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 600;
  padding: 5px 7px;
  background: #1b55e2;
  color: #fff;
  border-radius: 4px;
}

/*
    =======================
        Sold By cateory
    =======================
*/

.widget-chart-two {
  padding: 0;
}
.widget.widget-chart-two .widget-heading {
  padding: 20px 20px 0 20px;
}
.widget.widget-chart-two .widget-content {
  padding: 0 0 20px 0;
}
.widget-chart-two .apexcharts-canvas {
  margin: 0 auto;
}
.widget-chart-two .apexcharts-legend-marker {
  left: -5px !important;
}

/*
    ==================
        Transaction
    ==================
*/

.widget-table-one .widget-heading {
  display: flex;
}
.widget-table-one .transactions-list {
  padding: 12px 12px;
  border: 1px dashed #3b3f5c;
  border-radius: 6px;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
.widget-table-one .transactions-list:not(:last-child) {
  margin-bottom: 15px;
}
.widget-table-one .transactions-list:hover {
  -webkit-transform: translateY(-1px) scale(1.01);
  transform: translateY(-1px) scale(1.01);
}
.widget-table-one .transactions-list .t-item {
  display: flex;
  justify-content: space-between;
}
.widget-table-one .transactions-list .t-item .t-company-name {
  display: flex;
}
.widget-table-one .transactions-list .t-item .t-icon {
  margin-right: 12px;
}
.widget-table-one .transactions-list .t-item .t-icon .avatar {
  position: relative;
  display: inline-block;
  width: 38px;
  height: 38px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
}
.widget-table-one .transactions-list .t-item .t-icon .avatar .avatar-title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #e7515a;
  color: #ffe1e2;
}
.widget-table-one .transactions-list .t-item .t-icon .icon {
  position: relative;
  display: inline-block;
  padding: 10px;
  background-color: #e2a03f;
  border-radius: 50%;
}
.widget-table-one .transactions-list .t-item .t-icon .icon svg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 19px;
  height: 19px;
  color: #ffeccb;
  stroke-width: 2;
}
.widget-table-one .transactions-list .t-item .t-name {
  align-self: center;
}
.widget-table-one .transactions-list .t-item .t-name h4 {
  font-size: 15px;
  letter-spacing: 0px;
  font-weight: 600;
  margin-bottom: 0;
}
.widget-table-one .transactions-list .t-item .t-name .meta-date {
  font-size: 12px;
  margin-bottom: 0;
  font-weight: 600;
  color: #888ea8;
}
.widget-table-one .transactions-list .t-item .t-rate {
  align-self: center;
}
.widget-table-one .transactions-list .t-item .t-rate p {
  margin-bottom: 0;
  font-size: 13px;
  letter-spacing: 0px;
}
.widget-table-one .transactions-list .t-item .t-rate svg {
  width: 14px;
  height: 14px;
  vertical-align: baseline;
}
.widget-table-one .transactions-list .t-item .t-rate.rate-inc p {
  color: #009688;
}
.widget-table-one .transactions-list .t-item .t-rate.rate-inc svg {
  color: #009688;
}
.widget-table-one .transactions-list .t-item .t-rate.rate-dec p {
  color: #e7515a;
}
.widget-table-one .transactions-list .t-item .t-rate.rate-dec svg {
  color: #e7515a;
}

/*
    ========================
        Recent Activities
    ========================
*/
.widget-activity-one .widget-content {
}
.widget-activity-one .widget-content select {
  padding: 0;
  width: auto;
  font-size: 13px;
  border: none;
  height: auto;
  box-shadow: none;
  color: #acb0c3;
  background: transparent;
  font-weight: 600;
  letter-spacing: 2px;
  margin: 0 0 0 auto;
  margin-bottom: 20px;
}
.widget-activity-one .mt-container {
  position: relative;
  height: 232px;
  overflow: auto;
}
.timeline-line .item-timeline {
  display: flex;
}
.timeline-line .item-timeline .t-dot {
  position: relative;
}
.timeline-line .item-timeline .t-dot:before {
  content: '';
  position: absolute;
  border-color: inherit;
  border-width: 3px;
  border-style: solid;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  border-color: #888ea8;
  background: #515365;
}
.timeline-line .item-timeline .t-dot:after {
  content: '';
  position: absolute;
  border-color: inherit;
  border-width: 1px;
  border-style: solid;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  border-color: #bfc9d4;
  width: 0;
  height: auto;
  top: 25px;
  bottom: -15px;
  border-right-style: 0;
  border-top-style: 0;
  border-bottom-style: 0;
  border-radius: 0;
}
.timeline-line .item-timeline.timeline-new .t-dot:before {
  background: #1b55e2;
  border-color: #c2d5ff;
}
.timeline-line .item-timeline:last-child .t-dot:after {
  display: none;
}
.timeline-line .item-timeline .t-meta-time {
  margin: 0;
  min-width: 100px;
  max-width: 100px;
  font-size: 12px;
  font-weight: 700;
  color: #888ea8;
  align-self: center;
}
.timeline-line .item-timeline .t-text {
  padding: 10px;
  align-self: center;
  margin-left: 10px;
}
.timeline-line .item-timeline .t-text p {
  font-size: 13px;
  margin: 0;
  color: #bfc9d4;
  font-weight: 600;
}
.timeline-line .item-timeline .t-text p span {
  color: #888ea8;
  font-weight: 600;
}
.timeline-line .item-timeline .t-text p a {
  color: #888ea8;
  font-weight: 600;
}
.timeline-line .item-timeline .t-time {
  margin: 0;
  min-width: 80px;
  max-width: 80px;
  font-size: 13px;
  font-weight: 600;
  color: #acb0c3;
  padding: 10px 0;
  letter-spacing: 1px;
}
.widget-activity-one .tm-action-btn {
  text-align: center;
  padding-top: 20px;
}
.widget-activity-one .tm-action-btn button {
  background: transparent;
  box-shadow: none;
  padding: 0;
  color: #d3d3d3;
  font-weight: 700;
  letter-spacing: 1px;
  border: none;
  font-size: 15px;
}
.widget-activity-one .tm-action-btn svg {
  width: 15px;
  height: 15px;
  vertical-align: inherit;
}

/*
    =====================
        Account Info
    =====================
*/

.widget-account-invoice-one .invoice-box {
}
.widget-account-invoice-one .invoice-box .acc-total-info {
  padding: 0 0;
  margin-bottom: 18px;
  padding-bottom: 18px;
  border-bottom: 1px dashed #3b3f5c;
}
.widget-account-invoice-one .invoice-box h5 {
  text-align: center;
  font-size: 20px;
  letter-spacing: 1px;
  margin-bottom: 10px;
  color: #bfc9d4;
}
.widget-account-invoice-one .invoice-box .acc-amount {
  text-align: center;
  font-size: 23px;
  font-weight: 700;
  margin-bottom: 0;
  color: #009688;
}
.widget-account-invoice-one .invoice-box .inv-detail {
  margin-bottom: 18px;
  padding-bottom: 18px;
  border-bottom: 1px dashed #3b3f5c;
}
.widget-account-invoice-one .invoice-box [class*='info-detail-']:not(.info-sub) {
  display: flex;
  justify-content: space-between;
}
.widget-account-invoice-one .invoice-box [class*='info-detail-']:not(.info-sub) p {
  margin-bottom: 13px;
  font-weight: 700;
  font-size: 14px;
}
.widget-account-invoice-one .invoice-box [class*='info-detail-'].info-sub .info-detail {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 14px;
}
.widget-account-invoice-one .invoice-box [class*='info-detail-'].info-sub .info-detail p {
  margin-bottom: 0;
}
.widget-account-invoice-one .invoice-box [class*='info-detail-'].info-sub .info-detail-sub {
  margin-left: 9px;
}
.widget-account-invoice-one .invoice-box [class*='info-detail-'].info-sub .info-detail-sub p {
  color: #888ea8;
  margin-bottom: 2px;
  font-weight: 600;
}
.widget-account-invoice-one .invoice-box .inv-action {
  text-align: center;
  display: flex;
  justify-content: space-around;
}
.widget-account-invoice-one .invoice-box .inv-action a {
  transform: none;
}

/*
    =====================
        Recent Orders
    =====================
*/
.widget-table-two {
  position: relative;
}
.widget-table-two h5 {
  font-size: 19px;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
.widget-table-two .widget-content {
  background: transparent;
}
.widget-table-two .table {
  border-collapse: separate;
  border-spacing: 0 5px;
  margin-bottom: 0;
  background: transparent;
}
.widget-table-two .table > thead > tr > th {
  text-transform: initial;
  font-weight: 600;
  border-top: none;
  background: #191e3a;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  padding-left: 0;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  padding: 10px 0 10px 5px;
}
.widget-table-two .table > thead > tr > th:first-child {
  border-bottom-left-radius: 6px;
}
.widget-table-two .table > thead > tr > th:first-child {
  border-top-left-radius: 6px;
}
.widget-table-two .table > thead > tr > th:last-child {
  border-bottom-right-radius: 6px;
}
.widget-table-two .table > thead > tr > th:last-child {
  border-top-right-radius: 6px;
}
.widget-table-two .table > thead > tr > th .th-content {
  color: #25d5e4;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
}
.widget-table-two .table > thead > tr > th:first-child .th-content {
  margin-left: 10px;
}
.widget-table-two .table > thead > tr > th:last-child .th-content {
  text-align: right;
  margin-right: 10px;
}
.widget-table-two .table > thead > tr > th:nth-last-child(2) .th-content {
  text-align: center;
  padding: 0 15px 0 0;
}
.widget-table-two .table > tbody > tr > td {
  border-top: none;
  background: transparent;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  padding-left: 0;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
.widget-table-two .table > tbody > tr:hover > td {
  transform: translateY(-1px) scale(1.01);
}
.widget-table-two .table > tbody > tr > td .td-content {
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 1px;
  color: #888ea8;
}
.widget-table-two .table > tbody > tr:hover > td .td-content {
  color: #bfc9d4;
}
.widget-table-two .table > tbody > tr > td:first-child {
  border-top-left-radius: 6px;
  padding: 10px 0 10px 15px;
}
.widget-table-two .table > tbody > tr > td:first-child {
  border-bottom-left-radius: 6px;
}
.widget-table-two .table > tbody > tr > td:last-child {
  border-top-right-radius: 6px;
  padding: 15.5px 15px 15.5px 0;
  text-align: right;
}
.widget-table-two .table > tbody > tr > td:last-child {
  border-bottom-right-radius: 6px;
}
.widget-table-two .table .td-content.customer-name {
  color: #bfc9d4;
}
.widget-table-two .table .td-content.product-brand {
  letter-spacing: 1px;
}
.widget-table-two .table .td-content img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 13px;
}
.widget-table-two .table tr > td:nth-last-child(2) .td-content {
  text-align: center;
}
.widget-table-two .table .td-content .badge {
  transform: none;
}
.widget-table-two .table tr:hover .td-content .badge {
  transform: translateY(-3px);
  background-color: transparent;
}
.widget-table-two .table tr .td-content .outline-badge-success {
  color: #009688;
  border-color: #009688;
}
[id*='apexcharts-donut-slice-'] {
  filter: none;
}

/*
    ===========================
        Top Selling Product
    ===========================
*/

.widget-table-three {
  position: relative;
}
.widget-table-three h5 {
  font-size: 19px;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
.widget-table-three .widget-content {
  background: transparent;
}
.widget-table-three .table {
  border-collapse: separate;
  border-spacing: 0 5px;
  margin-bottom: 0;
  background: transparent;
}
.widget-table-three .table > thead > tr > th:first-child .th-content {
  margin-left: 10px;
}
.widget-table-three .table > thead > tr > th:last-child .th-content {
  text-align: right;
  margin-right: 10px;
}
.widget-table-three .table > thead > tr > th {
  text-transform: initial;
  font-weight: 600;
  border-top: none;
  background: #191e3a;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  padding-left: 0;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  padding: 10px 0 10px 15px;
}
.widget-table-three .table > thead > tr > th {
}
.widget-table-three .table > thead > tr > th:first-child {
  border-bottom-left-radius: 6px;
}
.widget-table-three .table > thead > tr > th:first-child {
  border-top-left-radius: 6px;
}
.widget-table-three .table > thead > tr > th:last-child {
  border-bottom-right-radius: 6px;
}
.widget-table-three .table > thead > tr > th:last-child {
  border-top-right-radius: 6px;
}
.widget-table-three .table > thead > tr > th .th-content {
  color: #25d5e4;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
}
.widget-table-three .table > thead > tr > th:nth-last-child(2) .th-content {
}
.widget-table-three .table > tbody > tr > td {
  border-top: none;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  padding-left: 0;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
.widget-table-three .table > tbody > tr:hover > td {
  transform: translateY(-1px) scale(1.01);
}
.widget-table-three .table > tbody > tr {
  background: transparent;
}
.widget-table-three .table > tbody > tr > td .td-content {
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 1px;
  color: #888ea8;
}
.widget-table-three .table > tbody > tr:hover > td .td-content {
  color: #bfc9d4;
}
.widget-table-three .table > tbody > tr > td:first-child {
  border-top-left-radius: 6px;
  padding: 10px 0px 10px 15px;
}
.widget-table-three .table > tbody > tr > td:first-child {
  border-bottom-left-radius: 6px;
}
.widget-table-three .table > tbody > tr > td:last-child {
  border-top-right-radius: 6px;
}
.widget-table-three .table > tbody > tr > td:last-child {
  border-bottom-right-radius: 6px;
}
.widget-table-three .table > tbody > tr > td:last-child .td-content {
  text-align: right;
  padding: 0 15px 0 0;
}
.widget-table-three .table tr > td:nth-last-child(2) .td-content {
  padding: 10px 0 10px 15px;
}
.widget-table-three .table .td-content .discount-pricing {
  padding: 10px 0 10px 15px;
}
.widget-table-three .table .td-content.product-name {
  color: #bfc9d4;
  letter-spacing: 1px;
}
.widget-table-three .table .td-content img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
}
.widget-table-three .table .td-content .pricing {
  padding: 10px 0 10px 15px;
}
.widget-table-three .table .td-content .tag {
  background: transparent;
  transform: none;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 2px 5px;
  border-radius: 6px;
}
.widget-table-three .table .td-content .tag-primary {
  color: #1b55e2;
  border: 1px dashed #1b55e2;
  background: #c2d5ff;
}
.widget-table-three .table .td-content .tag-success {
  color: #009688;
  border: 1px dashed #009688;
  background: #e6ffbf;
}
.widget-table-three .table .td-content .tag-danger {
  color: #e7515a;
  border: 1px dashed #e7515a;
  background: #ffe1e2;
}
.widget-table-three .table .td-content a {
  padding: 0;
  font-size: 13px;
  background: transparent;
  transform: none;
  letter-spacing: 1px;
  border-bottom: 1px dashed #bfc9d4;
  color: #d3d3d3;
}

/*
    ====================
        Media Object
    ====================
*/

@media (min-width: 1200px) {
  .table-responsive {
    overflow-x: hidden;
  }
}
@media (max-width: 1430px) and (min-width: 1200px) {
  /*
        ===========================
            Top Selling Product
        ===========================
    */
  .widget-table-two .table .td-content img {
    display: block;
  }

  /*
        ===========================
            Top Selling Product
        ===========================
    */
  .widget-table-three .table .td-content img {
    display: block;
  }
}

@media (max-width: 767px) {
  .widget-notification-two button {
    display: none;
  }
}
@media (max-width: 575px) {
  /*
        ==================
            Total Sales
        ==================
    */

  .widget-two .w-chart {
    position: inherit;
  }

  /*
        ========================
            Recent Activities
        ========================
    */

  .widget-activity-one .mt-container {
    height: auto;
  }

  /*
        ===========================
            Top Selling Product
        ===========================
    */
  .widget-table-two .table > thead > tr > th {
    padding-right: 15px;
  }
  .widget-table-two .table > tbody > tr > td {
    border-top: none;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 12px;
    padding-left: 12px;
  }
  .widget-table-two .table .td-content.customer-name {
    color: #515365;
    text-align: center;
  }
  .widget-table-two .table .td-content.product-brand {
    text-align: center;
  }
  .widget-table-two .table .td-content img {
    display: block;
    margin: 0 auto 5px auto;
  }

  /*
        ===========================
            Top Selling Product
        ===========================
    */
  .widget-table-three .table > thead > tr > th {
    padding-right: 15px;
  }
  .widget-table-three .table > tbody > tr > td {
    border-top: none;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 12px;
    padding-left: 12px;
  }
  .widget-table-three .table .td-content.product-name {
    text-align: center;
  }
  .widget-table-three .table .td-content img {
    display: block;
    margin: 0 auto 5px auto;
  }
}
