.layout-spacing {
  padding-bottom: 25px;
}
.widget {
  position: relative;
  padding: 0;
  border-radius: 6px;
  border: none;
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12),
    0 3px 5px -1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
}

.apexcharts-xaxis text {
  fill: #888ea8;
}
.apexcharts-yaxis text {
  fill: #888ea8;
}
.apexcharts-legend-text {
  color: #bfc9d4 !important;
}
.apexcharts-tooltip.dark {
  background: #191e3a !important;
  box-shadow: none;
}
.apexcharts-tooltip.dark .apexcharts-tooltip-title {
  background: #191e3a !important;
  border-bottom: 1px solid #191e3a;
}

/*
    ==================
        Notification
    ==================
*/
.widget-card-four {
  padding: 25px 32px;
  background: #0e1726;
}
.widget-card-four .w-content {
  display: flex;
  justify-content: space-between;
}
.widget-card-four .w-info h6 {
  font-weight: 600;
  margin-bottom: 0;
  color: #e0e6ed;
  font-size: 23px;
  letter-spacing: 0;
}
.widget-card-four .w-info p {
  font-weight: 600;
  margin-bottom: 0;
  color: #dccff7;
  font-size: 16px;
}
.widget-card-four .w-icon {
  color: #dccff7;
  background-color: #5c1ac3;
  height: 45px;
  display: inline-flex;
  width: 45px;
  align-self: center;
  justify-content: center;
  border-radius: 50%;
  padding: 10px;
}
.widget-card-four .progress {
  height: 8px;
  margin-bottom: 0;
  margin-top: 62px;
  margin-bottom: 0;
  height: 22px;
  padding: 4px;
  border-radius: 20px;
  box-shadow: none;
}
.widget-card-four .progress-bar {
  position: relative;
}
.widget-card-four .progress-bar:before {
  content: '';
  height: 7px;
  width: 7px;
  background: #0e1726;
  position: absolute;
  right: 3px;
  border-radius: 50%;
  top: 3.4px;
}

/*
    =====================
        User Analytics
    =====================
*/

.widget.widget-one {
  padding: 22px 18px;
  background: #0e1726;
}
.widget.widget-one .widget-heading h6 {
  color: #e0e6ed;
  margin-bottom: 41px;
  font-size: 17px;
  display: block;
  font-weight: 600;
}
.widget.widget-one .w-chart {
  display: flex;
}
.widget.widget-one .w-chart .w-chart-section {
  width: 50%;
  padding: 0 12px;
}
.widget.widget-one .w-chart .w-chart-section .w-detail {
  position: absolute;
  color: #fff;
}
.widget.widget-one .w-chart .w-chart-section .w-title {
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 0;
}
.widget.widget-one .w-chart .w-chart-section .w-stats {
  color: #f8538d;
  font-size: 20px;
  letter-spacing: 1px;
  margin-bottom: 0;
  font-weight: 700;
}

/*
    =====================
        Unique Visitors
    =====================
*/

.widget.widget-chart-three {
  background: #0e1726;
}
.widget.widget-chart-three .widget-heading {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dashed #3b3f5c;
  padding: 20px 20px;
  margin-bottom: 0;
  padding-bottom: 20px;
}
.widget.widget-chart-three .widget-heading h5 {
  font-size: 17px;
  display: block;
  color: #e0e6ed;
  margin-bottom: 0;
}
.widget.widget-chart-three .widget-heading .dropdown {
  align-self: center;
}
.widget.widget-chart-three .widget-heading .dropdown a svg {
  color: #888ea8;
  width: 19px;
  height: 19px;
}
.widget.widget-chart-three .widget-heading .dropdown .dropdown-menu {
  padding: 8px 8px;
  min-width: 10rem;
  border-radius: 6px;
  top: 5px !important;
}
.widget.widget-chart-three .apexcharts-legend-marker {
  left: -5px !important;
}

/*
    =========================
        Organic Vs Direct
    =========================
*/

/*
    ========================
        Recent Activities
    ========================
*/

.widget.widget-activity-two {
  position: relative;
  background: #0e1726;
  border-radius: 8px;
  height: 100%;
}
.widget.widget-activity-two .widget-heading {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dashed #3b3f5c;
  padding: 20px 20px;
  padding-bottom: 20px;
}
.widget.widget-activity-two .widget-heading h5 {
  font-size: 17px;
  display: block;
  color: #e0e6ed;
  margin-bottom: 0;
}
.widget-activity-two .widget-content {
  padding: 20px 20px 20px 20px;
}
.widget-activity-two .mt-container {
  position: relative;
  height: 293px;
  overflow: auto;
  padding: 0 0 0 12px;
}
.timeline-line .item-timeline {
  display: flex;
}
.timeline-line .item-timeline .t-dot {
  position: relative;
}
.timeline-line .item-timeline .t-dot:before {
  content: '';
  position: absolute;
  border-color: inherit;
  border-width: 3px;
  border-style: solid;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  border-color: #e0e6ed;
  background: #bfc9d4;
}
.timeline-line .item-timeline .t-dot:after {
  content: '';
  position: absolute;
  border-color: inherit;
  border-width: 1px;
  border-style: solid;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  border-color: #bfc9d4;
  width: 0;
  height: auto;
  top: 25px;
  bottom: -15px;
  border-right-style: 0;
  border-top-style: 0;
  border-bottom-style: 0;
  border-radius: 0;
}
.timeline-line .item-timeline.timeline-new .t-dot:before {
  background: #1b55e2;
  border-color: #c2d5ff;
}
.timeline-line .item-timeline:last-child .t-dot:after {
  display: none;
}
.timeline-line .item-timeline .t-meta-time {
  margin: 0;
  min-width: 100px;
  max-width: 100px;
  font-size: 12px;
  font-weight: 700;
  color: #888ea8;
  align-self: center;
}
.timeline-line .item-timeline .t-text {
  padding: 10px;
  align-self: center;
  margin-left: 10px;
}
.timeline-line .item-timeline .t-text p {
  font-size: 13px;
  margin: 0;
  color: #bfc9d4;
  font-weight: 600;
}
.timeline-line .item-timeline .t-text p span {
  color: #888ea8;
  font-weight: 600;
}
.timeline-line .item-timeline .t-text p a {
  color: #888ea8;
  font-weight: 600;
}
.widget-activity-two .tm-action-btn {
  text-align: center;
  margin-top: 9px;
}
.widget-activity-two .tm-action-btn button {
  box-shadow: none;
  font-weight: 700;
  letter-spacing: 0px;
  font-size: 15px;
  padding: 0;
  background: transparent;
  color: #1b55e2;
  border: none;
}

/*
    ==================
        Statistics
    ==================
*/

.widget-one_hybrid {
  background: #0e1726;
}
.widget-one_hybrid .widget-heading {
  padding: 20px 13px;
}
.widget-one_hybrid .widget-heading .w-icon {
  display: inline-block;
  padding: 7px 8px;
  border-radius: 50%;
  margin-bottom: 15px;
}
.widget-one_hybrid .widget-heading svg {
  height: 18px;
  width: 18px;
}
.widget-one_hybrid .widget-heading .w-value {
  font-size: 21px;
  font-weight: 700;
  margin-bottom: 0;
  color: #e0e6ed;
}
.widget-one_hybrid .widget-heading h5 {
  margin-bottom: 0;
  font-size: 15px;
  color: #888ea8;
}
.widget-one_hybrid.widget-followers .widget-heading .w-icon {
  color: #fff;
  border: 1px solid #1b55e2;
  background-color: #1b55e2;
}
.widget-one_hybrid.widget-referral .widget-heading .w-icon {
  color: #fff;
  border: 1px solid #e7515a;
  background-color: #e7515a;
}
.widget-one_hybrid.widget-social .widget-heading .w-icon {
  color: #fff;
  border: 1px solid #2196f3;
  background-color: #2196f3;
}
.widget-one_hybrid.widget-engagement .widget-heading .w-icon {
  color: #fff;
  border: 1px solid #009688;
  background-color: #009688;
}

/*
    ==================
        Balance
    ==================
*/

.widget-account-invoice-two {
  padding: 22px 19px;
  background: #e2a03f;
  background: linear-gradient(to left, #6b7764 0%, #2f384f 100%);
}
.widget-account-invoice-two .account-box .info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 84px;
}
.widget-account-invoice-two .account-box h5 {
  color: #e0e6ed;
  margin-bottom: 0;
  font-size: 17px;
  font-weight: 600;
}
.widget-account-invoice-two .account-box p {
  color: #e0e6ed;
  font-weight: 700;
  margin-bottom: 0;
  align-self: center;
}
.widget-account-invoice-two .account-box .acc-action {
  margin-top: 23px;
  display: flex;
  justify-content: space-between;
}
.widget-account-invoice-two .account-box .acc-action a {
  display: inline-block;
  padding: 8px;
  border-radius: 6px;
  color: #e0e6ed;
  font-weight: 600;
  box-shadow: 0px 0px 2px 0px #bfc9d4;
}
.widget-account-invoice-two .account-box .acc-action a:first-child {
  margin-right: 2px;
}
.widget-account-invoice-two .account-box .acc-action a svg {
  width: 18px;
  height: 18px;
}

/*
    ==================
        Statistics
    ==================
*/
.widget-card-one {
  background: #0e1726;
  padding: 20px 0;
  height: 100%;
}
.widget-card-one .widget-content .media {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 19px;
  padding-bottom: 21px;
  border-bottom: 1px dashed #3b3f5c;
}
.widget-card-one .widget-content .media .w-img {
  margin-right: 9px;
  align-self: center;
}
.widget-card-one .widget-content .media img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid #191e3a;
}
.widget-card-one .widget-content .media-body {
  align-self: center;
}
.widget-card-one .widget-content .media-body h6 {
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 0;
  margin-bottom: 0;
}
.widget-card-one .widget-content .media-body p {
  font-size: 14px;
  letter-spacing: 1px;
  margin-bottom: 0;
  font-weight: 600;
  color: #888ea8;
  padding: 0;
}
.widget-card-one .widget-content p {
  font-weight: 600;
  font-size: 13px;
  margin-bottom: 61px;
  padding: 0 20px;
}
.widget-card-one .widget-content .w-action {
  padding: 0 20px;
}
.widget-card-one .widget-content .w-action svg {
  color: #25d5e4;
}
.widget-card-one .widget-content .w-action span {
  vertical-align: sub;
  font-weight: 600;
  color: #25d5e4;
  letter-spacing: 1px;
}

/*
    ====================
        Visitors by Browser
    ====================
*/

.widget-four {
  position: relative;
  background: #0e1726;
  padding: 20px;
  border-radius: 8px;
  height: 100%;
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12),
    0 3px 5px -1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
}
.widget-four .widget-heading {
  margin-bottom: 54px;
}
.widget-four .widget-heading h5 {
  font-size: 17px;
  display: block;
  color: #e0e6ed;
  margin-bottom: 0;
}
.widget-four .widget-content {
  font-size: 17px;
}
.widget-four .widget-content .browser-list {
  display: flex;
}
.widget-four .widget-content .browser-list:not(:last-child) {
  margin-bottom: 30px;
}
.widget-four .widget-content .w-icon {
  display: inline-block;
  padding: 9px 8px;
  border-radius: 50%;
  display: inline-flex;
  align-self: center;
  height: 34px;
  width: 34px;
  margin-right: 12px;
}
.widget-four .widget-content .w-icon svg {
  display: block;
  width: 17px;
  height: 17px;
}
.widget-four .widget-content .browser-list:nth-child(1) .w-icon {
  background: #1b55e2;
}
.widget-four .widget-content .browser-list:nth-child(2) .w-icon {
  background: #e7515a;
}
.widget-four .widget-content .browser-list:nth-child(3) .w-icon {
  background: #e2a03f;
}
.widget-four .widget-content .browser-list:nth-child(1) .w-icon svg {
  color: #c2d5ff;
}
.widget-four .widget-content .browser-list:nth-child(2) .w-icon svg {
  color: #ffe1e2;
}
.widget-four .widget-content .browser-list:nth-child(3) .w-icon svg {
  color: #ffeccb;
}
.widget-four .widget-content .w-browser-details {
  width: 100%;
  align-self: center;
}
.widget-four .widget-content .w-browser-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1px;
}
.widget-four .widget-content .w-browser-info h6 {
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 0;
  color: #888ea8;
}
.widget-four .widget-content .w-browser-info p {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 0;
  color: #888ea8;
}
.widget-four .widget-content .w-browser-stats .progress {
  margin-bottom: 0;
  height: 22px;
  padding: 4px;
  border-radius: 20px;
  box-shadow: none;
}
.widget-four .widget-content .w-browser-stats .progress .progress-bar {
  position: relative;
}
.widget-four .widget-content .w-browser-stats .progress .progress-bar:before {
  content: '';
  height: 7px;
  width: 7px;
  background: #0e1726;
  position: absolute;
  right: 3px;
  border-radius: 50%;
  top: 3.49px;
}
/*
    ==================
        Dev Summit
    ==================
*/
.widget-card-two {
  background: #0e1726;
  padding: 20px 0px;
}
.widget-card-two .media {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 19px;
  padding-bottom: 21px;
  border-bottom: 1px dashed #3b3f5c;
}
.widget-card-two .media .w-img {
  margin-right: 10px;
}
.widget-card-two .media .w-img img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid #e0e6ed;
}
.widget-card-two .media .media-body {
  align-self: center;
}
.widget-card-two .media .media-body h6 {
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 0;
  margin-bottom: 0;
}
.widget-card-two .media .media-body p {
  margin-bottom: 0;
  font-weight: 600;
  color: #888ea8;
}
.widget-card-two .card-bottom-section {
  text-align: center;
}
.widget-card-two .card-bottom-section h5 {
  font-size: 14px;
  color: #009688;
  font-weight: 700;
  margin-bottom: 20px;
}
.widget-card-two .card-bottom-section .img-group img {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  border: 2px solid #3b3f5c;
}
.widget-card-two .card-bottom-section .img-group img:not(:last-child) {
  margin-right: 5px;
}
.widget-card-two .card-bottom-section a {
  display: block;
  margin-top: 18px;
  background: #1b55e2;
  color: #fff;
  padding: 10px 10px;
  transform: none;
  margin-right: 15px;
  margin-left: 15px;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1px;
}
.widget-card-two .card-bottom-section a.btn:hover,
.widget-card-two .card-bottom-section a.btn:focus {
  border-color: #1b55e2;
}

/*
    =====================
        Task Indicator
    =====================
*/
.widget-five {
  background: #0e1726;
  padding: 28px 0 0 0;
  height: 100%;
}
.widget-five .widget-content .header {
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 23px;
  border-bottom: 1px dashed #3b3f5c;
}
.widget-five .widget-content .header-body {
  align-self: center;
}
.widget-five .widget-content .header-body h6 {
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 0;
  margin-bottom: 0;
}
.widget-five .widget-content .header-body p {
  margin-bottom: 0;
  font-weight: 600;
  color: #888ea8;
  padding: 0;
}
.widget-five .widget-content .task-action {
  display: flex;
}
.widget-five .widget-content .task-action .dropdown.custom-dropdown {
  align-self: center;
}
.widget-five .widget-content .task-action .dropdown.custom-dropdown a.dropdown-toggle svg {
  color: #888ea8;
}
.widget-five .widget-content .task-action .dropdown.custom-dropdown .dropdown-menu {
  padding: 8px 8px;
  min-width: 10rem;
  border-radius: 6px;
  top: 5px !important;
}
.widget-five .w-content {
  text-align: center;
  height: 100%;
  padding: 20px 26px;
}
.widget-five .w-content div .task-left {
  margin-bottom: 0;
  font-size: 30px;
  color: #25d5e4;
  background: #060818;
  font-weight: 600;
  border-radius: 50%;
  display: inline-flex;
  height: 76px;
  width: 76px;
  justify-content: center;
  padding: 13px 0px;
  border: 5px solid #191e3a;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 0px 8px 2px #e0e6ed;
  box-shadow: 0px 0px 8px 2px rgba(172, 176, 195, 0.23921568627450981);
}
.widget-five .w-content div .task-completed {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 4px;
  color: #009688;
}
.widget-five .w-content div .task-hight-priority {
  color: #acb0c3;
  font-weight: 500;
  margin-bottom: 0;
}
.widget-five .w-content div .task-hight-priority span {
  color: #2196f3;
  font-weight: 700;
}

/*
    =====================
        Media Query
    =====================
*/

@media (max-width: 1199px) {
  .widget-activity-two .widget-content {
    padding-top: 0;
  }
  .widget-activity-two .mt-container {
    position: relative;
    height: 177px;
  }
}
@media (max-width: 575px) {
  .widget-card-four .w-content-img img {
    height: 94px;
  }
  .widget-notification-one .noti-action a span {
    display: none;
  }
  .widget-statistic .col-12:not(:last-child) .widget-one_hybrid {
    margin-bottom: 40px;
  }
}
