<!-- <header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="https://github.com/ngx-rocket" translate>APP_NAME</a>
    <button
      class="navbar-toggler"
      type="button"
      aria-controls="navbar-menu"
      aria-label="Toggle navigation"
      (click)="toggleMenu()"
      [attr.aria-expanded]="!menuHidden"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbar-menu" class="collapse navbar-collapse float-xs-none" [ngbCollapse]="menuHidden">
      <div class="navbar-nav">
        <a class="nav-item nav-link text-uppercase" routerLink="/home" routerLinkActive="active">
          <i class="fas fa-home"></i>
          <span translate>Home</span>
        </a>
        <a class="nav-item nav-link text-uppercase" routerLink="/about" routerLinkActive="active">
          <i class="fas fa-question-circle"></i>
          <span translate>About</span>
        </a>
      </div>
      <div class="navbar-nav ml-auto">
        <app-language-selector inNavbar="true" menuClass="dropdown-menu dropdown-menu-right"></app-language-selector>
        <div class="nav-item" ngbDropdown>
          <a id="user-dropdown" class="nav-link" ngbDropdownToggle>
            <i class="fas fa-user-circle"></i>
          </a>
          <div ngbDropdownMenu aria-labelledby="user-dropdown" class="dropdown-menu dropdown-menu-right">
            <h6 class="dropdown-header">
              <span translate>Logged in as</span> <b>{{ username }}</b>
            </h6>
            <div class="dropdown-divider"></div>
            <button class="dropdown-item" (click)="logout()" translate>Logout</button>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header> -->

<header class="header navbar navbar-expand-sm">
  <ul class="navbar-item theme-brand flex-row text-center">
    <li class="nav-item theme-logo">
      <!-- <a routerLink="/">
        <img src="assets/logo.png" class="navbar-logo" alt="Lullabywinds logo" />
      </a> -->
    </li>
    <li class="nav-item theme-text">
      <a routerLink="/" class="nav-link"> Lullabywinds </a>
    </li>
  </ul>

  <!-- <ul class="navbar-item flex-row ml-md-0 ml-md-auto">
    <li class="nav-item align-self-center search-animated">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="feather feather-search toggle-search"
      >
        <circle cx="11" cy="11" r="8"></circle>
        <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
      </svg>
      <form class="form-inline search-full form-inline search" role="search">
        <div class="search-bar">
          <input type="text" class="form-control search-form-control ml-lg-auto" placeholder="Search..." />
        </div>
      </form>
    </li>
  </ul> -->

  <ul class="navbar-item flex-row flex-row ml-md-0 ml-md-auto">
    <li class="nav-item dropdown language-dropdown" ngbDropdown display="dynamic" placement="bottom-right">
      <a class="nav-link dropdown-toggle" id="language-dropdown" data-toggle="dropdown" ngbDropdownToggle>
        <img src="assets/language/{{ currentLanguage }}.png" class="flag-width" alt="flag" />
      </a>
      <div class="dropdown-menu position-absolute" ngbDropdownMenu aria-labelledby="language-dropdown">
        <a class="dropdown-item d-flex" *ngFor="let language of languages" (click)="setLanguage(language)"
          ><img src="assets/language/{{ language }}.png" class="flag-width" alt="flag" />
          <span class="align-self-center">&nbsp;{{ language }}</span></a
        >
      </div>
    </li>

    <!-- <li class="nav-item dropdown message-dropdown" ngbDropdown display="dynamic" placement="bottom-right">
      <a class="nav-link dropdown-toggle" id="messageDropdown" data-toggle="dropdown" ngbDropdownToggle>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-mail"
        >
          <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path>
          <polyline points="22,6 12,13 2,6"></polyline>
        </svg>
      </a>
      <div class="dropdown-menu p-0 position-absolute" ngbDropdownMenu aria-labelledby="messageDropdown">
        <div class="">
          <a class="dropdown-item">
            <div class="">
              <div class="media">
                <div class="user-img">
                  <img class="usr-img rounded-circle" src="assets/profile-11.jpg" alt="profile" />
                </div>
                <div class="media-body">
                  <div class="">
                    <h5 class="usr-name">Admin 1</h5>
                    <p class="msg-title">UPDATE BOX #001</p>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </li> -->

    <!-- <li class="nav-item dropdown notification-dropdown" ngbDropdown display="dynamic" placement="bottom-right">
      <a
        href="javascript:void(0);"
        class="nav-link dropdown-toggle"
        id="notificationDropdown"
        data-toggle="dropdown"
        ngbDropdownToggle
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-bell"
        >
          <path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path>
          <path d="M13.73 21a2 2 0 0 1-3.46 0"></path>
        </svg>
        <span class="badge badge-success"></span>
      </a>
      <div class="dropdown-menu position-absolute" ngbDropdownMenu aria-labelledby="notificationDropdown">
        <div class="notification-scroll">
          <div class="dropdown-item">
            <div class="media">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-tag"
              >
                <path d="M20.59 13.41l-7.17 7.17a2 2 0 0 1-2.83 0L2 12V2h10l8.59 8.59a2 2 0 0 1 0 2.82z"></path>
                <line x1="7" y1="7" x2="7" y2="7"></line>
              </svg>
              <div class="media-body">
                <div class="notification-para"><span class="user-name">Admin 1</span> Move shipment #001 to bungkus.</div>
              </div>
            </div>
          </div>

          <div class="dropdown-item">
            <div class="media">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-tag"
              >
                <path d="M20.59 13.41l-7.17 7.17a2 2 0 0 1-2.83 0L2 12V2h10l8.59 8.59a2 2 0 0 1 0 2.82z"></path>
                <line x1="7" y1="7" x2="7" y2="7"></line>
              </svg>
              <div class="media-body">
                <div class="notification-para"><span class="user-name">Admin 1</span> Update merchandise #001 data.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li> -->

    <li class="nav-item dropdown user-profile-dropdown" ngbDropdown display="dynamic" placement="bottom-right">
      <a
        href="javascript:void(0);"
        class="nav-link dropdown-toggle user"
        id="userProfileDropdown"
        data-toggle="dropdown"
        ngbDropdownToggle
      >
        <img src="assets/profile-11.jpg" alt="avatar" />
      </a>
      <div class="dropdown-menu position-absolute" ngbDropdownMenu aria-labelledby="userProfileDropdown">
        <div class="">
          <h6 class="dropdown-header">
            <span translate>Hi</span> <b>, {{ email }}</b>
          </h6>
          <div class="dropdown-divider"></div>
          <div class="dropdown-item">
            <a href="javascript:void(0);">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-user"
              >
                <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                <circle cx="12" cy="7" r="4"></circle>
              </svg>
              <span translate>Profile</span>
            </a>
          </div>
          <!-- <div class="dropdown-item">
            <a href="javascript:void(0);">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-inbox"
              >
                <polyline points="22 12 16 12 14 15 10 15 8 12 2 12"></polyline>
                <path
                  d="M5.45 5.11L2 12v6a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-6l-3.45-6.89A2 2 0 0 0 16.76 4H7.24a2 2 0 0 0-1.79 1.11z"
                ></path>
              </svg>
              <span translate>Inbox</span>
            </a>
          </div> -->
          <div class="dropdown-item">
            <a href="javascript:void(0);" (click)="logout()">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-log-out"
              >
                <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path>
                <polyline points="16 17 21 12 16 7"></polyline>
                <line x1="21" y1="12" x2="9" y2="12"></line>
              </svg>
              <span translate>Logout</span>
            </a>
          </div>
        </div>
      </div>
    </li>
  </ul>
</header>
