<!-- Toast Success Message -->
<p-toast key="success" position="top-right" class="success-toast">
  <ng-template let-message pTemplate="message">
    <div class="p-toast-message p-toast-message-info" style="flex: 1">
      <div class="p-toast-message-content">
        <i class="pi pi-check-circle" style="font-size: 3rem"></i>

        <div class="p-toast-message-text">
          <div class="p-toast-summary">{{ message.summary }}</div>
          <div class="p-toast-detail">{{ message.detail }}</div>
        </div>
      </div>
    </div>
  </ng-template>
</p-toast>

<!-- Toast Error Message -->
<p-toast key="error" position="top-right" class="error-toast">
  <ng-template let-message pTemplate="message">
    <div class="p-toast-message p-toast-message-info" style="flex: 1">
      <div class="p-toast-message-content">
        <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>

        <div class="p-toast-message-text">
          <div class="p-toast-summary">{{ message.summary }}</div>
          <div class="p-toast-detail">{{ message.detail }}</div>
        </div>
      </div>
    </div>
  </ng-template>
</p-toast>

<!-- Toast Warning Message -->
<p-toast key="warning" position="top-right" class="warning-toast">
  <ng-template let-message pTemplate="message">
    <div class="p-toast-message p-toast-message-info" style="flex: 1">
      <div class="p-toast-message-content">
        <i class="pi pi-info-circle" style="font-size: 3rem"></i>

        <div class="p-toast-message-text">
          <div class="p-toast-summary">{{ message.summary }}</div>
          <div class="p-toast-detail">{{ message.detail }}</div>
        </div>
      </div>
    </div>
  </ng-template>
</p-toast>

<div class="row layout-spacing layout-top-spacing" id="cancel-row">
  <div class="col-lg-12">
    <div class="widget-content searchable-container list">
      <div class="row">
        <!-- <div class="col-xl-4 col-lg-5 col-md-5 col-sm-7 filtered-list-search layout-spacing align-self-center">
          <div class="form-inline my-2 my-lg-0">
            <div class="search">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-search"
              >
                <circle cx="11" cy="11" r="8"></circle>
                <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
              </svg>

              <input
                type="text"
                class="form-control product-search"
                (keyup)="search()"
                [(ngModel)]="searchValue"
                placeholder="Search Users..."
              />
            </div>
          </div>
        </div> -->

        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 text-sm-right text-center layout-spacing align-self-center">
          <div class="d-flex justify-content-sm-start justify-content-center navbar-expand-sm">
            <svg
              id="add-user"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="feather feather-user-plus"
              (click)="addModal()"
            >
              <path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
              <circle cx="8.5" cy="7" r="4"></circle>
              <line x1="20" y1="8" x2="20" y2="14"></line>
              <line x1="23" y1="11" x2="17" y2="11"></line>
            </svg>

            <ul class="navbar-item flex-row ml-md-0 ml-md-auto">
              <li class="nav-item align-self-center search-animated">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-search toggle-search"
                >
                  <circle cx="11" cy="11" r="8"></circle>
                  <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                </svg>
                <!-- <div class="form-inline search-full form-inline search" role="search">
                  <div class="search-bar">
                    <input 
                    [(ngModel)]="searchValue"
                    type="text" 
                    class="form-control search-form-control ml-lg-auto" 
                    placeholder="Cari data kustomer..." />
                  </div>
                </div> -->

                <div class="form-inline search-full form-inline search">
                  <div class="search-bar">
                    <input pInputText type="text" class="form-control search-form-control ml-lg-auto"
                      (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Cari data kustomer..." />
                  </div>
                </div>
              </li>
            </ul>

            <!-- <div class="switch align-self-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-list view-list active-view view-grid"
              >
                <line x1="8" y1="6" x2="21" y2="6"></line>
                <line x1="8" y1="12" x2="21" y2="12"></line>
                <line x1="8" y1="18" x2="21" y2="18"></line>
                <line x1="3" y1="6" x2="3" y2="6"></line>
                <line x1="3" y1="12" x2="3" y2="12"></line>
                <line x1="3" y1="18" x2="3" y2="18"></line>
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-grid view-grid"
              >
                <rect x="3" y="3" width="7" height="7"></rect>
                <rect x="14" y="3" width="7" height="7"></rect>
                <rect x="14" y="14" width="7" height="7"></rect>
                <rect x="3" y="14" width="7" height="7"></rect>
              </svg>

              <svg
                viewBox="0 0 24 24"
                width="24"
                height="24"
                stroke="currentColor"
                stroke-width="2"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="view-grid"
                (click)="refreshUsers()"
              >
                <polyline points="1 4 1 10 7 10"></polyline>
                <path d="M3.51 15a9 9 0 1 0 2.13-9.36L1 10"></path>
              </svg>

              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="view-grid"
              >
                <line x1="21" y1="10" x2="3" y2="10"></line>
                <line x1="21" y1="6" x2="3" y2="6"></line>
                <line x1="21" y1="14" x2="3" y2="14"></line>
                <line x1="21" y1="18" x2="3" y2="18"></line>
              </svg>
            </div> -->
          </div>

          <!-- Modal Create User -->
          <div
            class="modal fade"
            [ngClass]="modalAdd ? 'show' : ''"
            id="addContactModal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="addContactModalTitle"
            aria-hidden="true"
            (click)="closed($event)"
          >
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header" style="justify-content: center">
                  <h6>Tambah Kustomer Baru</h6>
                </div>
                <div class="modal-body">
                  <i class="flaticon-cancel-12 close" data-dismiss="modal"></i>
                  <div class="add-contact-box">
                    <div class="add-contact-content">
                      <form [formGroup]="userForm" novalidate>
                        <!-- <div class="row">
                          <div class="col-md-6">
                            <div class="contact-name">
                              <i class="flaticon-user-11"></i>
                              <input type="text" formControlName="dk000custoid" class="form-control" placeholder="Customer ID" />
                              <span class="validation-text"></span>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="contact-email">
                              <i class="flaticon-mail-26"></i>
                              <input type="text" formControlName="dk001emaddre" class="form-control" placeholder="Email" />
                              <span class="validation-text"></span>
                            </div>
                          </div>
                        </div> -->
                        <!-- <input type="text" formControlName="dk000custoid" class="form-control" placeholder="Customer ID" hidden /> -->

                        <div class="row">
                          <div class="col-md-12">
                            <div class="contact-location">
                              <i class="flaticon-location-1"></i>
                              <input
                                type="text"
                                formControlName="dk001emaddre"
                                class="form-control"
                                placeholder="Email"
                              />
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-6">
                            <div class="contact-occupation">
                              <i class="flaticon-fill-area"></i>
                              <input
                                type="text"
                                formControlName="dk006fulname"
                                class="form-control"
                                (change)="checkName($event)"
                                placeholder="Full Name"
                              />
                            </div>
                            <!-- <div class="alert-form" color="danger" *ngIf="f.dk006fulname.touched && f.dk006fulname.invalid">
                              <span *ngIf="f.dk006fulname.errors.required">Full Name is required.</span>
                              <span *ngIf="f.dk006fulname.errors.maxlength">Full Name max 50 character.</span>
                              <span *ngIf="f.dk006fulname.errors.minlength">Full Name min 3 character.</span>
                            </div> -->
                          </div>

                          <div class="col-md-6">
                            <div class="contact-phone">
                              <i class="flaticon-telephone"></i>
                              <select
                                formControlName="dk010country"
                                class="form-control"
                                (change)="countryChange($event)"
                              >
                              <option value="" selected [attr.disabled]="true">Select Country</option>
                              <option *ngFor="let data of country; let i = index" [value]="data.id">{{ data.name }}</option>
                              </select>
                              <span class="validation-text"></span>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-6">
                            <div class="contact-phone">
                              <i class="flaticon-telephone"></i>
                              <select
                                formControlName="dk012prefect"
                                class="form-control"
                                (change)="provinceChange($event)"
                              >
                                <option value="" selected [attr.disabled]="true">Select Province</option>
                                <option *ngFor="let data of province; let i = index" [value]="data.id">
                                  {{ data.name }}
                                </option>
                              </select>
                              <span class="validation-text"></span>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="contact-occupation">
                              <i class="flaticon-fill-area"></i>
                              <input
                                type="text"
                                formControlName="dk013citynam"
                                class="form-control"
                                placeholder="City Name"
                              />
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-6">
                            <div class="contact-occupation">
                              <i class="flaticon-fill-area"></i>
                              <input
                                type="text"
                                formControlName="dk011postnum"
                                class="form-control"
                                placeholder="Post Code"
                              />
                            </div>
                          </div>

                          <div class="col-md-6">
                            <div class="contact-occupation">
                              <i class="flaticon-fill-area"></i>
                              <input
                                type="text"
                                formControlName="dk015telpnum"
                                class="form-control"
                                placeholder="Phone Number"
                              />
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-12">
                            <div class="contact-phone">
                              <i class="flaticon-telephone"></i>
                              <textarea
                                cols="50"
                                rows="4"
                                class="form-control"
                                formControlName="dk014lainnya"
                                placeholder="Address"
                              >
                              </textarea>
                              <span class="validation-text"></span>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-12">
                            <div class="contact-location">
                              <i class="flaticon-location-1"></i>
                              <input
                                type="textarea"
                                formControlName="dk016geopoin"
                                class="form-control"
                                placeholder="Coordinate"
                              />
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-12">
                            <div class="contact-location">
                              <i class="flaticon-location-1"></i>
                              <textarea
                                cols="50"
                                rows="4"
                                class="form-control"
                                formControlName="dk005catatan"
                                placeholder="Customer's Note"
                              >
                              </textarea>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button (click)="addCustomer()" class="btn">
                    Apply <i class="fas fa-cog fa-spin" [hidden]="!isLoading"></i>
                  </button>

                  <button class="btn" data-dismiss="modal" (click)="removeModalCreate()">
                    <i class="flaticon-delete-1"></i> Cancel
                  </button>
                </div>
              </div>
            </div>
          </div>

          <!-- Modal Update User -->
          <div
            class="modal fade"
            [ngClass]="modalDetail ? 'show' : ''"
            id="updateCustomerModal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="updateCustomer"
            aria-hidden="true"
            (click)="closed($event)"
          >
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header" style="justify-content: center">
                  <h6>Ubah Data Kustomer</h6>
                </div>
                <div class="modal-body">
                  <i class="flaticon-cancel-12 close" data-dismiss="modal"></i>
                  <div class="add-contact-box">
                    <div class="add-contact-content">
                      <form [formGroup]="userForm" novalidate>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="contact-name">
                              <i class="flaticon-user-11"></i>
                              <input
                                type="text"
                                formControlName="dk000custoid"
                                class="form-control"
                                placeholder="Customer ID"
                                [attr.disabled]="true"
                              />
                              <span class="validation-text"></span>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-12">
                            <div class="contact-location">
                              <i class="flaticon-location-1"></i>
                              <input
                                type="text"
                                formControlName="dk001emaddre"
                                class="form-control"
                                placeholder="Email"
                              />
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-6">
                            <div class="contact-occupation">
                              <i class="flaticon-fill-area"></i>
                              <input
                                type="text"
                                formControlName="dk006fulname"
                                class="form-control"
                                (change)="checkName($event)"
                                placeholder="Full Name"
                              />
                            </div>
                            <!-- <div class="alert-form" color="danger" *ngIf="f.dk006fulname.touched && f.dk006fulname.invalid">
                             <span *ngIf="f.dk006fulname.errors.required">Full Name is required.</span>
                             <span *ngIf="f.dk006fulname.errors.maxlength">Full Name max 50 character.</span>
                             <span *ngIf="f.dk006fulname.errors.minlength">Full Name min 3 character.</span>
                           </div> -->
                          </div>

                          <div class="col-md-6">
                            <div class="contact-phone">
                              <i class="flaticon-telephone"></i>
                              <select
                                formControlName="dk010country"
                                class="form-control"
                                [(ngModel)]="selectedCountry"
                                (change)="countryChange($event)"
                              >
                              <option value="" selected [attr.disabled]="true">Select Country</option>
                              <option *ngFor="let data of country; let i = index" [value]="data.id">{{ data.name }}</option>
                              </select>
                              <span class="validation-text"></span>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-6">
                            <div class="contact-phone">
                              <i class="flaticon-telephone"></i>
                              <select
                                formControlName="dk012prefect"
                                class="form-control"
                                (change)="provinceChange($event)"
                              >
                              <option value="" selected [attr.disabled]="true">Select Province</option>
                                <option *ngFor="let data of province; let i = index" [value]="data.id">
                                  {{ data.name }}
                                </option>
                              </select>
                              <span class="validation-text"></span>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="contact-occupation">
                              <i class="flaticon-fill-area"></i>
                              <input
                                type="text"
                                formControlName="dk013citynam"
                                class="form-control"
                                placeholder="City Name"
                              />
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-6">
                            <div class="contact-occupation">
                              <i class="flaticon-fill-area"></i>
                              <input
                                type="text"
                                formControlName="dk011postnum"
                                class="form-control"
                                placeholder="Post Code"
                              />
                            </div>
                          </div>

                          <div class="col-md-6">
                            <div class="contact-occupation">
                              <i class="flaticon-fill-area"></i>
                              <input
                                type="text"
                                formControlName="dk015telpnum"
                                class="form-control"
                                placeholder="Phone Number"
                              />
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-12">
                            <div class="contact-phone">
                              <i class="flaticon-telephone"></i>
                              <textarea
                                cols="50"
                                rows="4"
                                class="form-control"
                                formControlName="dk014lainnya"
                                placeholder="Address"
                              >
                              </textarea>
                              <span class="validation-text"></span>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-12">
                            <div class="contact-location">
                              <i class="flaticon-location-1"></i>
                              <input
                                type="text"
                                formControlName="dk016geopoin"
                                class="form-control"
                                placeholder="Coordinate"
                              />
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-12">
                            <div class="contact-location">
                              <i class="flaticon-location-1"></i>
                              <textarea
                                cols="50"
                                rows="4"
                                class="form-control"
                                formControlName="dk005catatan"
                                placeholder="Customer's Note"
                              >
                              </textarea>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-12">
                            <div class="contact-location">
                              <i class="flaticon-location-1"></i>
                              <input
                                type="text"
                                formControlName="dk007created"
                                class="form-control"
                                placeholder="Create Date"
                                [attr.disabled]="true"
                              />
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="modal-footer" style="display: block">
                  <button class="btn btn-danger" data-dismiss="modal" (click)="deleteCustomer()" style="float: left">
                    <i class="flaticon-delete-1"></i> Remove
                  </button>

                  <button (click)="updateCustomer()" class="btn">
                    Apply <i class="fas fa-cog fa-spin" [hidden]="!isLoading"></i>
                  </button>

                  <button class="btn" data-dismiss="modal" (click)="removeModal()">
                    <i class="flaticon-delete-1"></i> Cancel
                  </button>
                </div>
              </div>
            </div>
          </div>

          <!-- Modal Create Address -->
          <div
            class="modal fade"
            [ngClass]="modalAddress ? 'show' : ''"
            id="addCAddressModal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="addAddressModalTitle"
            aria-hidden="true"
            (click)="closed($event)"
          >
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header" style="justify-content: center">
                  <h6>Tambah Alamat Baru Kustomer</h6>
                </div>
                <div class="modal-body">
                  <i class="flaticon-cancel-12 close" data-dismiss="modal"></i>
                  <div class="add-contact-box">
                    <div class="add-contact-content">
                      <form [formGroup]="addressForm" novalidate>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="contact-occupation">
                              <i class="flaticon-fill-area"></i>
                              <input
                                type="text"
                                formControlName="ak009namalen"
                                class="form-control"
                                placeholder="Full Name"
                              />
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-6">
                            <div class="contact-phone">
                              <i class="flaticon-telephone"></i>
                              <select
                                formControlName="ak010country"
                                class="form-control"
                                (change)="countryAddressChange($event)"
                              >
                              <option value="" selected [attr.disabled]="true">Select Country</option>
                              <option *ngFor="let data of country; let i = index" [value]="data.id">{{ data.name }}</option>
                              </select>
                              <span class="validation-text"></span>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="contact-phone">
                              <i class="flaticon-telephone"></i>
                              <select
                                formControlName="ak012prefect"
                                class="form-control"
                                (change)="provinceAddressChange($event)"
                              >
                                <option value="" selected [attr.disabled]="true">Select Province</option>
                                <option *ngFor="let data of province; let i = index" [value]="data.id">
                                  {{ data.name }}
                                </option>
                              </select>
                              <span class="validation-text"></span>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-12">
                            <div class="contact-occupation">
                              <i class="flaticon-fill-area"></i>
                              <input
                                type="text"
                                formControlName="ak013citynam"
                                class="form-control"
                                placeholder="City Name"
                              />
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-6">
                            <div class="contact-occupation">
                              <i class="flaticon-fill-area"></i>
                              <input
                                type="text"
                                formControlName="ak011postnum"
                                class="form-control"
                                placeholder="Post Code"
                              />
                            </div>
                          </div>

                          <div class="col-md-6">
                            <div class="contact-occupation">
                              <i class="flaticon-fill-area"></i>
                              <input
                                type="text"
                                formControlName="ak015telpnum"
                                class="form-control"
                                placeholder="Phone Number"
                              />
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-12">
                            <div class="contact-phone">
                              <i class="flaticon-telephone"></i>
                              <textarea
                                cols="50"
                                rows="4"
                                class="form-control"
                                formControlName="ak014lainnya"
                                placeholder="Address"
                              >
                              </textarea>
                              <span class="validation-text"></span>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-12">
                            <div class="contact-location">
                              <i class="flaticon-location-1"></i>
                              <input
                                type="textarea"
                                formControlName="ak016geopoin"
                                class="form-control"
                                placeholder="Coordinate"
                              />
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button (click)="addAddress()" class="btn">
                    Apply <i class="fas fa-cog fa-spin" [hidden]="!isLoading"></i>
                  </button>

                  <button class="btn" data-dismiss="modal" (click)="removeModalCreate()">
                    <i class="flaticon-delete-1"></i> Cancel
                  </button>
                </div>
              </div>
            </div>
          </div>

          <!-- Modal List Address -->
          <div
            class="modal fade"
            [ngClass]="modalListAddress ? 'show' : ''"
            id="getAddressModal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="getAddressModalTitle"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
              <div class="modal-content">
                <div class="modal-header" style="justify-content: center">
                  <h6>List User Address</h6>
                </div>
                <div class="modal-body">
                  <i class="flaticon-cancel-12 close" data-dismiss="modal"></i>
                  <div class="add-contact-box">
                    <div class="add-contact-content">
                      <div class="table-responsive user-list">
                        <table class="table">
                          <thead>
                            <tr>
                              <th>Full Name</th>
                              <!-- <th>Country</th> -->
                              <th>Province</th>
                              <th>City</th>
                              <th>Address</th>
                              <th>Post Code</th>
                              <th>Telp</th>
                              <th>Coordinate</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let data of address | async; let i = index">
                              <td>
                                <span (click)="lulaName(data); $event.stopPropagation()">{{ data.ak009namalen }} </span>
                              </td>
                              <ng-container *ngFor="let address of data.ak008address">
                                <!-- <td>{{ address.ak010country }}</td> -->
                                <td>
                                  <span>
                                    {{ province[address.ak012prefect - 1].name }}
                                  </span>
                                </td>
                                <td>{{ address.ak013citynam }}</td>
                                <td>
                                  <span>
                                    {{ address.ak014lainnya | slice:0:300 }}
                                  </span>
                                </td>
                                <td>{{ address.ak011postnum }}</td>
                              </ng-container>
                              <td>{{ data.ak015telpnum }}</td>
                              <td>{{ data.ak016geopoin.latitude }}, {{ data.ak016geopoin.longitude }}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>

                      <div class="text-center" *ngIf="dataCustomer == undefined">There is no data...</div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button class="btn" data-dismiss="modal" (click)="removeModal()">
                    <i class="flaticon-delete-1"></i> Close
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="searchable-items list">
        <app-loader [isLoading]="isLoading"></app-loader>

        <div class="table-responsive user-list">
          <!-- <p-table [columns]="cols" #dt [value]="students" [autoLayout]="true" [paginator]="true" [rows]="10"
            (onSort)="onSort($event)">
            <ng-template pTemplate="caption">
              <div style="text-align: right">
                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                <input type="text" pInputText size="30" placeholder="Search" (input)="myFilter($event)" class="filter">
              </div>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th class="row-header" *ngFor="let col of columns" [pSortableColumn]="col.field">
                  {{col.header}}
                  <p-sortIcon class="" [field]="col.field" ariaLabel="Activate to sort"
                    ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
                  </p-sortIcon>
                </th>
          
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-student let-columns="columns">
              <tr class="center-text">
                <td class="row-cell">{{student.name}}</td>
                <td class="row-cell">
                  {{student.email}}
                </td>
                <td class="row-cell">
                  {{student.phnNumber}}
                </td>
                <td class="row-cell">{{student.grades[0].grade1}}</td>
          
              </tr>
            </ng-template>
          </p-table> -->

          <p-table
            #dt
            [autoLayout]="true"
            [value]="customer | async | searchFilter: searchValue"
            [paginator]="true"
            [rows]="20"
            [showCurrentPageReport]="true"
            [resizableColumns]="true"
            [columns]="selectedColumns"
            class="table"
          >
            <ng-template pTemplate="caption">
              <div class="n-chk" style="margin-bottom: 20px;">
                <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header" [showHeader]="false"
                  selectedItemsLabel="{0} column selected" [style]="{minWidth: '200px'}" placeholder="Choose Columns">
                </p-multiSelect>
              </div>
            </ng-template>

            <ng-template pTemplate="header" let-columns>
              <tr>
                <th></th>
                <ng-container *ngFor="let col of columns">
                  <th pSortableColumn="{{col.field}}">
                    {{col.header}} <p-sortIcon field="{{col.field}}"></p-sortIcon>
                  </th>
                </ng-container>
               
                <!-- <th pSortableColumn="dk000custoid">Customer ID <p-sortIcon field="dk000custoid"></p-sortIcon></th>
                <th pSortableColumn="dk001emaddre">Email <p-sortIcon field="dk001emaddre"></p-sortIcon></th>
                <th pSortableColumn="dk006fulname">Full Name <p-sortIcon field="dk006fulname"></p-sortIcon></th>
                <th pSortableColumn="dk011postnum">Post Code <p-sortIcon field="dk011postnum"></p-sortIcon></th>
                <th pSortableColumn="dk012prefect">Province <p-sortIcon field="dk012prefect"></p-sortIcon></th>
                <th pSortableColumn="dk013citynam">City <p-sortIcon field="dk013citynam"></p-sortIcon></th>
                <th style="width:30%" pSortableColumn="dk014lainnya">Address <p-sortIcon field="dk014lainnya"></p-sortIcon></th>
                <th pSortableColumn="dk015telpnum">Telp  <p-sortIcon field="dk015telpnum"></p-sortIcon></th> -->
                <!-- <th>Coordinate</th> -->
                <!-- <th>Note</th> -->
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-user let-columns="columns">
              <tr>
                <td>
                  <div class="action">
                    <ul class="list-actions">
                      <li>
                        <a
                          (click)="listAddressModal(user); $event.stopPropagation()"
                          data-toggle="tooltip"
                          data-placement="top"
                          title="Lihat Alamat Tujuan"
                          data-original-title="Delete"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="feather feather-map text-primary"
                          >
                            <polygon points="1 6 1 22 8 18 16 22 23 18 23 2 16 6 8 2 1 6"></polygon>
                            <line x1="8" y1="2" x2="8" y2="18"></line>
                            <line x1="16" y1="6" x2="16" y2="22"></line>
                          </svg>
                        </a>
                      </li>
                      <li>
                        <a
                          (click)="listTransaction(user); $event.stopPropagation()"
                          data-toggle="tooltip"
                          data-placement="top"
                          title="Lihat Transaksi Kustomer"
                          data-original-title="Delete"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="feather feather-clipboard text-warning"
                          >
                            <path d="M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2"></path>
                            <rect x="8" y="2" width="8" height="4" rx="1" ry="1"></rect>
                          </svg>
                        </a>
                      </li>
                    </ul>
                  </div>
                </td>
                <!-- <td class="action" (click)="lulaId(user); $event.stopPropagation()">{{ user.dk000custoid }}</td> -->
                <ng-container *ngFor="let col of columns">
                  <td *ngIf="col.field == 'dk000custoid'" class="action" (click)="lulaId(user); $event.stopPropagation()">
                    {{user.dk000custoid}}
                  </td>
                  <td *ngIf="col.field == 'dk012prefect'">
                    {{province[user.dk012prefect - 1].name}}
                  </td>
                  <td *ngIf="col.field == 'dk014lainnya'" style="white-space: normal; min-width: 300px;">
                    {{user.dk014lainnya | slice:0:300}}
                  </td>
                  <td *ngIf="col.field != 'dk000custoid' && col.field != 'dk012prefect' && col.field != 'dk014lainnya'">
                    {{user[col.field]}}
                  </td>
                </ng-container>

                <!-- <td>{{ user.dk001emaddre }}</td>
                <td>{{ user.dk006fulname }}</td>
                <td>{{ user.dk011postnum }}</td>
                <td>{{ province[user.dk012prefect - 1].name }}</td>
                <td>{{ user.dk013citynam }}</td>
                <td>{{ user.dk014lainnya | slice:0:300 }}</td> -->
              </tr>
            </ng-template>
          </p-table>

          <!-- <table class="table">
            <thead>
              <tr>
                <th></th>
                <th>Customer ID</th>
                <th>Email</th>
                <th>Full Name</th>
                <th>Post Code</th>
                <th>Province</th>
                <th>City</th>
                <th>Address</th>
                <th>Telp</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of customer | async | searchFilter: searchValue; let i = index">
                <td>
                  <div class="action">
                    <ul class="list-actions">
                      
                      <li>
                        <a
                          (click)="listAddressModal(user); $event.stopPropagation()"
                          data-toggle="tooltip"
                          data-placement="top"
                          title="Lihat Data Tujuan"
                          data-original-title="Delete"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="feather feather-map text-primary"
                          >
                            <polygon points="1 6 1 22 8 18 16 22 23 18 23 2 16 6 8 2 1 6"></polygon>
                            <line x1="8" y1="2" x2="8" y2="18"></line>
                            <line x1="16" y1="6" x2="16" y2="22"></line>
                          </svg>
                        </a>
                      </li>
                      <li>
                        <a
                          (click)="listTransaction(user); $event.stopPropagation()"
                          data-toggle="tooltip"
                          data-placement="top"
                          title="Lihat Transaksi Kustomer"
                          data-original-title="Delete"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="feather feather-clipboard text-warning"
                          >
                            <path d="M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2"></path>
                            <rect x="8" y="2" width="8" height="4" rx="1" ry="1"></rect>
                          </svg>
                        </a>
                      </li>
                    </ul>
                  </div>
                </td>
                <td class="action" (click)="lulaId(user); $event.stopPropagation()">{{ user.dk000custoid }}</td>
                <td>{{ user.dk001emaddre }}</td>
                <td>
                  <span>{{ user.dk006fulname }} </span>
                </td>
                 <td>{{ user.dk004birthdt }}</td>
                <td>
                  <span *ngIf="user.dk005xgender == 1"> Man </span>
                  <span *ngIf="user.dk005xgender == 2"> Woman </span>
                  <span *ngIf="user.dk005xgender == ''"> - </span>
                </td> 
                <ng-container *ngFor="let address of user.dk008address">
                  <td>{{ address.dk011postnum }}</td>
                  <td>
                    <span>
                      {{ province[address.dk012prefect - 1].name }}
                    </span>
                  </td>
                  <td>{{ address.dk013citynam }}</td>
                  <td>
                    <span>
                      {{ address.dk014lainnya }}
                    </span>
                  </td>
                </ng-container>
                <td>{{ user.dk015telpnum }}</td>
              </tr>
            </tbody>
          </table> -->
        </div>

        <div class="text-center" *ngIf="dataCustomer == undefined">There is no data. Please add first...</div>

        <!-- <div class="items items-header-section">
          <div class="item-content">
            <div class="user-profile">
              <div class="n-chk align-self-center text-center">
                <label class="new-control new-checkbox checkbox-primary">
                  <input type="checkbox" class="new-control-input" id="contact-check-all" />
                  <span class="new-control-indicator"></span>
                </label>
              </div>
              <h4>Lula ID</h4>             
            </div>           
            <div class="user-header">
              <h4>Email</h4>
            </div>
            <div class="user-header">
              <h4 style="margin-left: 0;">Membership</h4>
            </div>
            <div class="user-header">
              <h4 style="margin-left: 3px;">Birthday</h4>
            </div>
            <div class="user-header">
              <h4 style="margin-left: 3px;">Gender</h4>
            </div>
            <div class="user-header">
              <h4>Lula Name</h4>
            </div>
            <div class="user-header">
              <h4 style="margin-left: 3px;">Picture</h4>
            </div>
            <div class="user-header">
              <h4 style="margin-left: 3px;">Introduction</h4>
            </div>
            <div class="user-header">
              <h4 style="margin-left: 3px;">Full Name</h4>
            </div>
            <div class="user-header">
              <h4 style="margin-left: 3px;">Country</h4>
            </div>
            <div class="user-header">
              <h4 style="margin-left: 3px;">Post Code</h4>
            </div>
            <div class="user-header">
              <h4 style="margin-left: 3px;">Province</h4>
            </div>
            <div class="user-header">
              <h4 style="margin-left: 3px;">City</h4>
            </div>
            <div class="user-header">
              <h4 style="margin-left: 3px;">Address</h4>
            </div>
            <div class="user-header">
              <h4 style="margin-left: 3px;">Phone Number</h4>
            </div>
            <div class="user-header">
              <h4 style="margin-left: 3px;">Coordinate</h4>
            </div>
            <div class="user-header">
              <h4 style="margin-left: 3px;">Bank Name</h4>
            </div>
            <div class="user-header">
              <h4 style="margin-left: 3px;">Branch Name</h4>
            </div>
            <div class="user-header">
              <h4 style="margin-left: 3px;">Accounty Type</h4>
            </div>
            <div class="user-header">
              <h4 style="margin-left: 3px;">Account Number</h4>
            </div>
            <div class="user-header">
              <h4 style="margin-left: 3px;">Account Name</h4>
            </div>
            <div class="user-header">
              <h4 style="margin-left: 3px;">Status Verified</h4>
            </div>
            <div class="user-header">
              <h4 style="margin-left: 3px;">Last Login</h4>
            </div>
            <div class="action-btn">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-trash-2  delete-multiple"
              >
                <polyline points="3 6 5 6 21 6"></polyline>
                <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path>
                <line x1="10" y1="11" x2="10" y2="17"></line>
                <line x1="14" y1="11" x2="14" y2="17"></line>
              </svg>
            </div>
          </div>
        </div>

        <div class="items" *ngFor="let user of dataUsers">
          <div class="item-content">
            <div class="user-profile">
              <div class="n-chk align-self-center text-center">
                <label class="new-control new-checkbox checkbox-primary">
                  <input type="checkbox" class="new-control-input contact-chkbox" />
                  <span class="new-control-indicator"></span>
                </label>
              </div>
              <span *ngIf="user.dk007ipictur == '' || user.dk007ipictur == null">
                <img src="assets/boy.png" alt="avatar {{ user.dk006lulname }}" />
              </span>
              <span *ngIf="user.dk007ipictur">
                <img src="{{ user.dk007ipictur }}" alt="avatar {{ user.dk006lulname }}" />
              </span>
              <div class="user-meta-info">
                <p class="user-name">{{ user.dk006lulname }}</p>
                <p class="user-work">
                  <span *ngIf="user.dk005xgender == 1">
                    Man
                  </span>
                  <span *ngIf="user.dk005xgender == 2">
                    Woman
                  </span>
                  <span *ngIf="user.dk005xgender == ''">
                    -
                  </span>
                </p>
              </div>
            </div>
            <div class="user-email">
              <p class="info-title">Email:</p>
              <p class="usr-email-addr">{{ user.dk001emaddre }}</p>
            </div>
            <div class="user-location">
              <p class="info-title">Location:</p>
              <p class="usr-location">{{ user.dk014address }}</p>
            </div>
            <div class="user-phone">
              <p class="info-title">Phone:</p>
              <p class="usr-ph-no">{{ user.dk015telpnum }}</p>
            </div>
            <div class="user-phone">
              <p class="info-title">Phone:</p>
              <p class="usr-ph-no">{{ user.dk015telpnum }}</p>
            </div>
            <div class="action-btn">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-edit-2 edit"
              >
                <path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path>
              </svg>

              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-user-minus delete"
              >
                <path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                <circle cx="8.5" cy="7" r="4"></circle>
                <line x1="23" y1="11" x2="17" y2="11"></line>
              </svg>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>

<div [ngClass]="modalAdd ? 'show' : ''" class="modal-backdrop fade"></div>
<div [ngClass]="modalDetail ? 'show' : ''" class="modal-backdrop fade"></div>
<div [ngClass]="modalAddress ? 'show' : ''" class="modal-backdrop fade"></div>
<div [ngClass]="modalListAddress ? 'show' : ''" class="modal-backdrop fade"></div>
