<!-- Toast Success Message -->
<p-toast key="success" position="top-right" class="success-toast">
    <ng-template let-message pTemplate="message">
      <div class="p-toast-message p-toast-message-info" style="flex: 1">
        <div class="p-toast-message-content">
          <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
  
          <div class="p-toast-message-text">
            <div class="p-toast-summary">{{ message.summary }}</div>
            <div class="p-toast-detail">{{ message.detail }}</div>
          </div>
        </div>
      </div>
    </ng-template>
  </p-toast>
  
  <!-- Toast Error Message -->
  <p-toast key="error" position="top-right" class="error-toast">
    <ng-template let-message pTemplate="message">
      <div class="p-toast-message p-toast-message-info" style="flex: 1">
        <div class="p-toast-message-content">
          <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
  
          <div class="p-toast-message-text">
            <div class="p-toast-summary">{{ message.summary }}</div>
            <div class="p-toast-detail">{{ message.detail }}</div>
          </div>
        </div>
      </div>
    </ng-template>
  </p-toast>
  
  <!-- Toast Warning Message -->
  <p-toast key="warning" position="top-right" class="warning-toast">
    <ng-template let-message pTemplate="message">
      <div class="p-toast-message p-toast-message-info" style="flex: 1">
        <div class="p-toast-message-content">
          <i class="pi pi-info-circle" style="font-size: 3rem"></i>
  
          <div class="p-toast-message-text">
            <div class="p-toast-summary">{{ message.summary }}</div>
            <div class="p-toast-detail">{{ message.detail }}</div>
          </div>
        </div>
      </div>
    </ng-template>
  </p-toast>
  
  <div class="row layout-spacing layout-top-spacing" id="cancel-row">
    <div class="col-lg-12">
      <div class="widget-content searchable-container list">
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 text-sm-left layout-spacing">
            <h6>{{docMerchant?.dm100merchid}} - {{docMerchant?.dm103handler}} </h6>
            <hr>
            <div class="d-flex justify-content-sm-start justify-content-center">
              <svg
                id="add-user"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-user-plus"
                (click)="addPhotoModal()"
              >
                <path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                <circle cx="8.5" cy="7" r="4"></circle>
                <line x1="20" y1="8" x2="20" y2="14"></line>
                <line x1="23" y1="11" x2="17" y2="11"></line>
              </svg>
              
            </div>
          </div>
        </div>
  
        <!-- Modal Create Address -->
        <div
          class="modal fade"
          [ngClass]="modalAddPhoto ? 'show' : ''"
          id="addCAddressModal"
          tabindex="-1"
          role="dialog"
          aria-labelledby="addPhotoModalTitle"
          aria-hidden="true"
          (click)="closed($event)"
        >
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header" style="justify-content: center">
                <h6>Tambah Photo Baru</h6>
              </div>
              <div class="modal-body">
                <i class="flaticon-cancel-12 close" data-dismiss="modal"></i>
                <div class="add-contact-box">
                  <div class="add-contact-content">
                    <form [formGroup]="photoForm" novalidate> 
                          <div class="row">
                            <div class="col-md-12 text-center">
                              <div class="contact-occupation">
                                <button (click)="selectFile()" class="btn btn-small">
                                  Upload Foto 
                                </button>
                                <!-- <button (click)="selectCamera()" class="btn btn-small">
                                  Take Camera 
                                </button> -->
                              </div>
                            </div>
                          </div>    
  
                          <div class="row">
                            <div class="col-md-12 text-center">
                              <div class="contact-occupation">
                                <input type="file" (change)="uploadPicture($event)" #addAvatar hidden />
                                <img
                                  src="{{ pictureFile }}"
                                  alt="Upload foto barang"
                                  title="Upload foto barang"
                                  class="img-fluid upload"
                                />
                              </div>
                            </div>
                            <!-- <div class="col-md-6 text-center">
                              <div class="contact-occupation">
                                <input type="file" (change)="uploadPicture($event)" hidden />
                                <img
                                  src="{{ pictureCamera }}"
                                  alt="Upload foto barang dari kamera"
                                  title="Upload foto barang dari kamera"
                                  class="img-fluid upload"
                                  (click)="selectCamera()"
                                />
                              </div>
                            </div> -->
                        </div>
                        
                        <div class="row">
                            <div class="col-md-12">
                                <div class="contact-occupation">
                                    <i class="flaticon-location-1"></i>
                                    <input type="text" formControlName="hm112caption" class="form-control" placeholder="Caption" />
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="progress" [class.active]="isActive">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [style.width]="progressBar + '%'" aria-valuenow="progressBar" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <hr>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button (click)="addData()" class="btn">
                  Apply <i class="fas fa-cog fa-spin" [hidden]="!isLoading"></i>
                </button>
  
                <button class="btn" data-dismiss="modal" (click)="removeModalCreate()">
                  <i class="flaticon-delete-1"></i> Cancel
                </button>
              </div>
            </div>
          </div>
        </div>
  
        <!-- Modal Update Address -->
        <div
          class="modal fade"
          [ngClass]="modalPhoto ? 'show' : ''"
          id="addCAddressModal"
          tabindex="-1"
          role="dialog"
          aria-labelledby="addPhotoModalTitle"
          aria-hidden="true"
          (click)="closed($event)"
        >
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header" style="justify-content: center">
                <h6>Update Alamat Kustomer</h6>
              </div>
              <div class="modal-body">
                <i class="flaticon-cancel-12 close" data-dismiss="modal"></i>
                <div class="add-contact-box">
                  <div class="add-contact-content">
                    <form [formGroup]="photoForm" novalidate>
                        <div class="row">
                            <div class="col-md-12 text-center">
                              <div class="contact-occupation">
                                <button (click)="selectFile()" class="btn btn-small">
                                  Upload Foto 
                                </button>
                                <!-- <button (click)="selectCamera()" class="btn btn-small">
                                  Take Camera 
                                </button> -->
                              </div>
                            </div>
                          </div>    
  
                          <div class="row">
                            <div class="col-md-12 text-center">
                              <div class="contact-occupation">
                                <input type="file" (change)="uploadPicture($event)" #addAvatar hidden />
                                <img
                                  src="{{ pictureFile }}"
                                  alt="Upload foto barang"
                                  title="Upload foto barang"
                                  class="img-fluid upload"
                                />
                              </div>
                            </div>
                            <!-- <div class="col-md-6 text-center">
                              <div class="contact-occupation">
                                <input type="file" (change)="uploadPicture($event)" hidden />
                                <img
                                  src="{{ pictureCamera }}"
                                  alt="Upload foto barang dari kamera"
                                  title="Upload foto barang dari kamera"
                                  class="img-fluid upload"
                                  (click)="selectCamera()"
                                />
                              </div>
                            </div> -->
                        </div>
                        
                        <div class="row">
                            <div class="col-md-12">
                                <div class="contact-occupation">
                                    <i class="flaticon-location-1"></i>
                                    <input type="text" formControlName="hm112caption" class="form-control" placeholder="Caption" />
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="progress" [class.active]="isActive">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [style.width]="progressBar + '%'" aria-valuenow="progressBar" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <hr>
                  </div>
                </div>
              </div>
              <div class="modal-footer" style="display: block">
                <div class="float-left">
                  <button class="btn btn-danger" data-dismiss="modal" (click)="deleteData()">
                    <i class="flaticon-delete-1"></i> Remove
                  </button>
                </div>
                <div class="float-right">
                  <button (click)="updateData()" class="btn">
                    Apply <i class="fas fa-cog fa-spin" [hidden]="!isLoading"></i>
                  </button>
  
                  <button class="btn" data-dismiss="modal" (click)="removeModal()">
                    <i class="flaticon-delete-1"></i> Cancel
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

         <!-- Modal Detail Photo Barang -->
        <div class="modal fade" [ngClass]="modalDetailPhoto ? 'show' : ''" id="photoDetailModal" tabindex="-1" role="dialog"
            aria-labelledby="photoModal" aria-hidden="true" (click)="closed($event)">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content image-detail-modal">
                    <div class="modal-body">
                        <div class="add-contact-box">
                            <div class="add-contact-content">
                                <img src="{{ pictureFile }}" alt="Detail foto barang" title="Detail foto barang"
                                    class="img-fluid upload" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  
        <div class="searchable-items list">
          <app-loader [isLoading]="isLoading"></app-loader>
  
          <div class="table-responsive user-list">
            <p-table
              [autoLayout]="true"
              [value]="photo | async"
              [paginator]="true"
              [rows]="20"
              [showCurrentPageReport]="true"
              class="table"
            >
              <ng-template pTemplate="header" >
                <tr>
                  <th width="30%">Note</th>
                  <th>Foto</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-data>
                <tr>
                  <td class="action" (click)="lulaPhoto(data); $event.stopPropagation()">{{ data.hm112caption }}</td>
                  <td class="action item-photo" (click)="lulaDetailPhoto(data); $event.stopPropagation()">
                    <span>
                        <img src="{{ data.hm111fotobrg }}" />
                      </span>
                  </td>
                </tr>
              </ng-template>
            </p-table>
            
          </div>
  
          <div class="text-center" *ngIf="dataPhoto == undefined">
            There is no data. Please add first...
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div [ngClass]="modalAddPhoto ? 'show' : ''" class="modal-backdrop fade"></div>
  <div [ngClass]="modalPhoto ? 'show' : ''" class="modal-backdrop fade"></div>
  <div [ngClass]="modalDetailPhoto ? 'show' : ''" class="modal-backdrop fade"></div>
  <div [ngClass]="modalListPhoto ? 'show' : ''" class="modal-backdrop fade"></div>
  