@import "src/theme/theme-variables";
@import "~bootstrap/scss/mixins/_breakpoints";

// Third Party
@import "src/theme/css/forms/theme-checkbox-radio";
@import "src/theme/css/apps/contacts";
@import "src/theme/css/dashboard/dash_1";

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ebedf2;
}

p {
  color: #ebedf2;
}

.progress {
  background-color: #191e3a;
}

.btn-dark {
  background-color: #3b3f5c;
  border-color: #3b3f5c;
}

.btn-danger {
  background-color: #e7515a;
  border-color: #e7515a;
}

.form-control {
  background: #1b2e4b;
}

svg.view-grid {
  margin-right: 5px;
}

.searchable-container {
  .searchable-items {
    &.list {
      .items {
        &.items-header-section {
          h4 {
            margin-left: 0;
          }

          .user-profile {
            width: 40%;

            h4 {
              margin-left: 25px;
            }
          }

          .user-email {
            width: 30%;
          }

          .user-location {
            width: 20%;
          }

          .user-phone {
            width: 15%;
          }

          .action-btn {
            width: 5%;
          }
        }
      }
    }
  }
}

.searchable-items {
  &.list {
    position: relative;
    width: 100%;
    overflow-x: auto;

    .items {
      .user-profile {
        width: 40%;
      }

      .user-email {
        width: 30%;

        p {
          margin-bottom: 0;
          color: #888ea8;
          font-weight: 600;
        }
      }

      .user-location {
        width: 20%;
      }

      .user-phone {
        width: 15%;
      }

      .action-btn {
        width: 5%;
        text-align: right;
      }
    }
  }
}

.user-list {
  .avatar-display {
    width: 100%;
    height: 100%;
    display: block;

    img {
      width: 70px;
      height: 70px;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  .limit {
    text-overflow: ellipsis;
    height: 95px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
  }

  table {
    tbody {
      tr {
      }
    }
  }
}

.contact-box {
  .contact-content {
    .contact {
      padding-top: 20px;
    }
  }
}
