<!-- Toast Success Message -->
<p-toast key="success" position="top-right" class="success-toast">
  <ng-template let-message pTemplate="message">
    <div class="p-toast-message p-toast-message-info" style="flex: 1">
      <div class="p-toast-message-content">
        <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>

        <div class="p-toast-message-text">
          <div class="p-toast-summary">{{ message.summary }}</div>
          <div class="p-toast-detail">{{ message.detail }}</div>
        </div>
      </div>
    </div>
  </ng-template>
</p-toast>

<!-- Toast Error Message -->
<p-toast key="error" position="top-right" class="error-toast">
  <ng-template let-message pTemplate="message">
    <div class="p-toast-message p-toast-message-info" style="flex: 1">
      <div class="p-toast-message-content">
        <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>

        <div class="p-toast-message-text">
          <div class="p-toast-summary">{{ message.summary }}</div>
          <div class="p-toast-detail">{{ message.detail }}</div>
        </div>
      </div>
    </div>
  </ng-template>
</p-toast>

<div class="row layout-spacing layout-top-spacing" id="cancel-row">
  <div class="col-lg-12">
    <div class="widget-content searchable-container list">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 text-sm-right text-center layout-spacing align-self-center">
          <div class="d-flex justify-content-sm-start justify-content-center">
            <ul class="navbar-item flex-row no-space">
              <li class="nav-item align-self-center search-animated">
                <div class="row">
                  <div class="col-md-12 text-center">
                    <div class="contact-location export">
                      <label>Export &nbsp;</label>
                      <div class="n-chk form-check form-check-inline">
                        <label class="new-control new-radio new-radio-text radio-primary">
                          <!-- <input type="radio" class="new-control-input" name="export-box" value="1" (click)="onChangeExport($event)"> -->
                          <button [attr.disabled]="true" class="btn">A</button>
                        </label>
                      </div>
                      <div class="n-chk form-check form-check-inline">
                        <label class="new-control new-radio new-radio-text radio-primary">
                          <!-- <input type="radio" class="new-control-input" name="export-box" value="2" (click)="onChangeExport($event)"> -->
                          <button [attr.disabled]="true" class="btn">B</button>
                        </label>
                      </div>
                      <div class="n-chk form-check form-check-inline">
                        <label class="new-control new-radio new-radio-text radio-primary">
                          <!-- <input type="radio" class="new-control-input" name="export-box" value="3" (click)="onChangeExport($event)"> -->
                          <button [attr.disabled]="true"[value]="3" class="btn">C</button>
                        </label>
                      </div>
                      <div class="n-chk form-check form-check-inline">
                        <label class="new-control new-radio new-radio-text radio-primary">
                          <!-- <input type="radio" class="new-control-input" name="export-box" value="4" (click)="onChangeExport($event)"> -->
                          <button [attr.disabled]="true" [value]="4" class="btn">D</button>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>

            <ul class="navbar-item flex-row ml-md-0 ml-md-auto">
              <li class="nav-item align-self-center search-animated">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-search toggle-search"
                >
                  <circle cx="11" cy="11" r="8"></circle>
                  <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                </svg>
                <!-- <div class="form-inline search-full form-inline search" role="search">
                  <div class="search-bar">
                    <input 
                    [(ngModel)]="searchValue"
                    type="text" 
                    class="form-control search-form-control ml-lg-auto" 
                    placeholder="Cari data transaksi lunas..." />
                  </div>
                </div> -->

                <div class="form-inline search-full form-inline search">
                  <div class="search-bar">
                    <input pInputText type="text" class="form-control search-form-control ml-lg-auto"
                      (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Cari data transaksi lunas..." />
                  </div>
                </div>
              </li>
            </ul>
          </div>

          <!-- Modal Update Transaction -->
          <div class="modal fade" [ngClass]="modalDetail ? 'show' : ''" id="addTransModal" tabindex="-1" role="dialog"
            aria-labelledby="addTransModalTitle" aria-hidden="true" (click)="closed($event)">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header" style="justify-content: center">
                  <h6>Update Transaction - Lunas</h6>
                </div>
                <div class="modal-body">
                  <i class="flaticon-cancel-12 close" data-dismiss="modal"></i>
                  <div class="add-contact-box">
                    <div class="add-contact-content">
                      <form [formGroup]="transactionForm" novalidate>
                        <div class="row">
                          <div class="col-md-6 text-left">
                            <div class="contact-location">
                              <p-dropdown class="form-control" [options]="readDataCustomer | async"
                                [(ngModel)]="selectedData" [ngModelOptions]="{standalone: true}"
                                optionLabel="dk006fulname" [filter]="true" filterBy="dk006fulname" [showClear]="false"
                                placeholder="Select User">
                                <ng-template pTemplate="selectedItem">
                                  <div class="user-item user-item-value" *ngIf="selectedData">
                                    <div class="result-dropdown">
                                      <div class="select-user">{{selectedData.dk006fulname}} -
                                        {{selectedData.dk000custoid}}</div>
                                    </div>
                                  </div>
                                </ng-template>
                                <ng-template let-user pTemplate="item">
                                  <div class="custom-dropdown">
                                    <div class="user-item">
                                      <div (click)="userId($event, user)">{{user.dk006fulname}} - {{user.dk000custoid}}
                                      </div>
                                    </div>
                                  </div>
                                </ng-template>
                              </p-dropdown>
                            </div>
                          </div>

                          <div class="col-md-6">
                            <div class="contact-location">
                              <i class="flaticon-location-1"></i>
                              <input type="text" formControlName="dn107barcoid" class="form-control"
                                placeholder="Barcode ID" [attr.disabled]="true" />
                            </div>
                          </div>
                          <!-- <div class="col-md-6">
                                      <div class="contact-occupation">
                                        <i class="flaticon-fill-area"></i>
                                        <input
                                          type="text"
                                          formControlName="dn000custoid"
                                          class="form-control"
                                          placeholder="Customer ID"
                                           [attr.disabled]="true"
                                        />
                                        <select
                                          class="form-control"
                                          formControlName="dn000custoid"
                                          (change)="selectCustomer($event)"
                                        >
                                          <option value=""  [attr.disabled]="true" selected>Select Customer ID:</option>
                                          <option *ngFor="let item of readDataCustomer | async" [value]="item.dk000custoid">
                                            {{ item.dk000custoid }}
                                          </option>
                                        </select>
                                      </div>
                                    </div>
                                    <div class="col-md-6">
                                      <div class="contact-phone">
                                        <i class="flaticon-telephone"></i>
                                        <input
                                          type="text"
                                          formControlName="dn006fulname"
                                          class="form-control"
                                          placeholder="Full Name"
                                           [attr.disabled]="true"
                                        />
                                      </div>
                                    </div> -->
                        </div>

                        <div class="row">
                          <div class="col-md-12 text-center">
                            <!-- <div class="contact-phone">
                                        <i class="flaticon-telephone"></i>
                                        <input
                                          type="text"
                                          formControlName="dn308whatbox"
                                          class="form-control"
                                          placeholder="What Box"
                                        />
                                      </div> -->
                            <div class="contact-location">
                              <label>Pilih Kotak &nbsp;</label>

                              <div class="n-chk form-check form-check-inline">
                                <label class="new-control new-radio new-radio-text radio-classic-primary">
                                  <input type="radio" class="new-control-input" formControlName="dn308whatbox"
                                    [checked]="0" [value]="0" value="0" [attr.disabled]="true">
                                  <span class="new-control-indicator"></span><span class="new-radio-content">&nbsp;
                                    Out</span>
                                </label>
                              </div>
                              <div class="n-chk form-check form-check-inline">
                                <label class="new-control new-radio new-radio-text radio-classic-primary">
                                  <input type="radio" class="new-control-input" formControlName="dn308whatbox"
                                    [checked]="1" [value]="1" value="1" [attr.disabled]="true">
                                  <span class="new-control-indicator"></span><span class="new-radio-content">&nbsp;
                                    A</span>
                                </label>
                              </div>
                              <div class="n-chk form-check form-check-inline">
                                <label class="new-control new-radio new-radio-text radio-classic-primary">
                                  <input type="radio" class="new-control-input" formControlName="dn308whatbox"
                                    [checked]="2" [value]="2" value="2" [attr.disabled]="true">
                                  <span class="new-control-indicator"></span><span class="new-radio-content">&nbsp;
                                    B</span>
                                </label>
                              </div>
                              <div class="n-chk form-check form-check-inline">
                                <label class="new-control new-radio new-radio-text radio-classic-primary">
                                  <input type="radio" class="new-control-input" formControlName="dn308whatbox"
                                    [checked]="3" [value]="3" value="3" [attr.disabled]="true">
                                  <span class="new-control-indicator"></span><span class="new-radio-content">&nbsp;
                                    C</span>
                                </label>
                              </div>
                              <div class="n-chk form-check form-check-inline">
                                <label class="new-control new-radio new-radio-text radio-classic-primary">
                                  <input type="radio" class="new-control-input" formControlName="dn308whatbox"
                                    [checked]="4" [value]="4" value="4" [attr.disabled]="true">
                                  <span class="new-control-indicator"></span><span class="new-radio-content">&nbsp;
                                    D</span>
                                </label>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-4">
                            <div class="contact-occupation">
                              <i class="flaticon-fill-area"></i>
                              <input type="text" formControlName="dn307expordt" class="form-control"
                                placeholder="Export Date" [attr.disabled]="true"/>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="contact-location">
                              <i class="flaticon-location-1"></i>
                              <input type="text" formControlName="dn200kemasid" class="form-control"
                                placeholder="No Kirim" [attr.disabled]="true" />
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="contact-phone">
                              <i class="flaticon-telephone"></i>
                              <input type="number" formControlName="dn302qantity" class="form-control"
                                placeholder="Quantity"/>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-4">
                            <div class="contact-occupation">
                              <i class="flaticon-fill-area"></i>
                              <input type="text" formControlName="dn300transid" class="form-control"
                                placeholder="Transaction ID" [attr.disabled]="true" />
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="contact-location">
                              <i class="flaticon-location-1"></i>
                              <input type="number" formControlName="dn303dealprc" class="form-control"
                                placeholder="Deal Price" />
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="contact-location">
                              <i class="flaticon-location-1"></i>
                              <input type="number" formControlName="dn304paypric" class="form-control"
                                placeholder="Payment Price" />
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-12">
                            <div class="contact-location">
                              <i class="flaticon-location-1"></i>
                              <textarea cols="50" rows="2" class="form-control" formControlName="dn305catatan"
                                placeholder="Catatan Transaksi">
                                        </textarea>
                            </div>
                          </div>
                        </div>

                        <hr class="default">

                        <div class="row">
                          <div class="col-md-6">
                            <div class="contact">
                              <i class="flaticon-fill-area"></i>
                              <input type="text" formControlName="dn103handler" class="form-control"
                                placeholder="Nama Barang" [attr.disabled]="true" />
                            </div>
                          </div>

                          <div class="col-md-6">
                            <div class="contact">
                              <i class="flaticon-fill-area"></i>
                              <input type="text" formControlName="dn102bseries" class="form-control"
                                placeholder="Series Name" [attr.disabled]="true" />
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-6">
                            <div class="contact-occupation">
                              <i class="flaticon-fill-area"></i>
                              <input type="text" formControlName="dn101bymaker" class="form-control"
                                placeholder="Make By" [attr.disabled]="true" />
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="contact-occupation">
                              <i class="flaticon-fill-area"></i>
                              <input type="text" formControlName="dn104release" class="form-control"
                                placeholder="Release Date" [attr.disabled]="true" />
                            </div>
                          </div>
                        </div>

                        <hr class="default">

                        <div class="row">
                          <div class="col-md-4">
                            <div class="contact">
                              <i class="flaticon-location-1"></i>
                              <input type="text" formControlName="dn312alterby" class="form-control"
                                placeholder="Alter By" [attr.disabled]="true" />
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="contact">
                              <i class="flaticon-location-1"></i>
                              <input type="text" formControlName="dn309statudt" class="form-control"
                                placeholder="Status Date" [attr.disabled]="true" />
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="contact">
                              <i class="flaticon-location-1"></i>
                              <input type="number" formControlName="dn310sstatus" class="form-control"
                                placeholder="Status Transsaksi" [attr.disabled]="true" />
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="modal-footer" style="display: block">
                  <button class="btn btn-danger" data-dismiss="modal" [attr.disabled]="true" style="float: left">
                    <i class="flaticon-delete-1"></i> Remove
                  </button>

                  <button (click)="updateTransaction()" class="btn">
                    Apply <i class="fas fa-cog fa-spin" [hidden]="!isLoading"></i>
                  </button>

                  <button class="btn" data-dismiss="modal" (click)="removeModalTrans()">
                    <i class="flaticon-delete-1"></i> Cancel
                  </button>
                </div>
              </div>
            </div>
          </div>

          <!-- Modal Select No Kemas -->
          <div
            class="modal fade"
            [ngClass]="modalKemas ? 'show' : ''"
            id="addKemasModal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="addKemasModalTitle"
            aria-hidden="true"
            (click)="closedKemas($event)"
          >
            <div class="modal-dialog modal-dialog-centered modal-dialog modal-xl modal-customer" role="document">
              <div class="modal-content">               

                <div class="modal-header" style="width: 100; display: inline-block">
                  <div class="row">
                    <div class="col-md-4">
                      <!-- <button class="btn btn-success" (click)="updateCount(filterKemas); $event.stopPropagation()" style="float: left">
                        <i class="far fa-plus-square"></i>&nbsp; Kemasan Baru
                      </button> -->
                    </div>
                    <div class="col-md-4" style="display: table; text-align: center;">
                      <h6 style="vertical-align: middle; display: table-cell">{{custoIdTrans}} - {{fulnameTrans}} - {{kemasIdTrans}}</h6>      
                    </div>
                    <div class="col-md-4">
                      
                    </div>
                  </div>
                </div>
                
                <div class="modal-body text-left">
                 
                  <i class="flaticon-cancel-12 close" data-dismiss="modal"></i>
                  <div class="add-contact-box">
                    <div class="searchable-items list">
                      <app-loader [isLoading]="isLoading"></app-loader>
                      <h6>Nomor Kemas Yang Digunakan</h6>
                      <div class="table-responsive customer-list" style="margin-top: 0">
                        <table class="table">
                          <thead>
                            <tr>
                              <th>KmasID</th>
                              <th>CustID</th>
                              <th>Pmbeli</th>
                              <th>Onkr</th>
                              <th>Ptrima</th>
                              <th>Prov</th>
                              <th>Kota</th>
                              <th>Jln</th>
                              <th>Telp</th>
                              <th>Via</th>
                              <th>ResiNo</th>
                              <th>CatS</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr style="cursor: default">
                              <td>{{ currentKemas?.hi200kemasid }}</td>
                              <td>{{ currentKemas?.hi000custoid }}</td>
                              <td>{{ currentKemas?.hi006fulname }}</td>
                              <td>{{ currentKemas?.hi203onkiprc }}</td>
                              <td>{{ currentKemas?.hi009namalen }}</td>
                              <td>{{ province[currentKemas?.hi012prefect - 1]?.name }}</td>
                              <td>{{ currentKemas?.hi013citynam }}</td>
                              <td style="white-space: normal; max-width: 200px;">{{ currentKemas?.hi014lainnya }}</td>
                              <td>{{ currentKemas?.hi015telpnum }}</td>
                              <td>{{ kurir[currentKemas?.hi205viakuri]?.name }}</td>
                              <td>{{ currentKemas?.hi206resinum }}</td>
                              <td style="white-space: normal; max-width: 200px;">{{ currentKemas?.hi205catatan }}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>

                      <div style="margin-bottom: 20px;">
                        <div class="d-flex justify-content-sm-start justify-content-center navbar-expand-sm">
                          <h6 style="padding: 7px 0;">Pilih Nomor Kemas</h6>                          
                        </div>
                      </div>

                      <div class="table-responsive customer-list" style="margin-top: 0">
                        <ul class="navbar-item flex-row ml-md-0 ml-md-auto" style="float: right; position: relative; z-index: 99">
                          <li class="nav-item align-self-center search-animated">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="24"
                              height="24"
                              viewBox="0 0 24 24"
                              fill="none"
                              stroke="currentColor"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              class="feather feather-search toggle-search"
                            >
                              <circle cx="11" cy="11" r="8"></circle>
                              <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                            </svg>
                            <!-- <div class="form-inline search-full form-inline search" role="search">
                              <div class="search-bar">
                                <input 
                                [(ngModel)]="searchValueKemas"
                                type="text" 
                                class="form-control search-form-control ml-lg-auto" 
                                placeholder="Cari data nomor kemas..." />
                              </div>
                            </div> -->

                            <div class="form-inline search-full form-inline search">
                              <div class="search-bar">
                                <input pInputText type="text" class="form-control search-form-control ml-lg-auto"
                                  (input)="ds.filterGlobal($event.target.value, 'contains')" placeholder="Cari data nomor kemas..." />
                              </div>
                            </div>
                          </li>
                        </ul>
                        
                        <p-table
                          #ds
                          [value]="filterKemas | searchFilter: searchValueKemas"
                          [paginator]="true"
                          [rows]="10"
                          [showCurrentPageReport]="true"
                          [columns]="selectedColumnsKemas"
                          [resizableColumns]="true"
                          class="table"
                        >

                          <ng-template pTemplate="caption">
                            <div class="n-chk" style="margin-bottom: 20px;">
                              <p-multiSelect [options]="colsKemas" [(ngModel)]="selectedColumnsKemas" optionLabel="header" [showHeader]="false"
                                selectedItemsLabel="{0} column selected" [style]="{minWidth: '200px'}" placeholder="Choose Columns">
                              </p-multiSelect>
                            </div>
                          </ng-template>

                          <ng-template pTemplate="header" let-columns>
                            <tr>
                              <ng-container *ngFor="let col of columns">
                                <th pSortableColumn="{{col.field}}">
                                  {{col.header}} <p-sortIcon field="{{col.field}}"></p-sortIcon>
                                </th>
                              </ng-container>

                              <!-- <th pSortableColumn="hi200kemasid">Kemas ID <p-sortIcon field="hi200kemasid"></p-sortIcon></th>
                              <th pSortableColumn="hi009namalen">Nama Penerima  <p-sortIcon field="hi009namalen"></p-sortIcon></th>
                              <th pSortableColumn="hi011postnum">Post Code  <p-sortIcon field="hi011postnum"></p-sortIcon></th>
                              <th pSortableColumn="hi012prefect">Province  <p-sortIcon field="hi012prefect"></p-sortIcon></th>
                              <th pSortableColumn="hi013citynam">City  <p-sortIcon field="hi013citynam"></p-sortIcon></th>
                              <th pSortableColumn="hi014lainnya">Address  <p-sortIcon field="hi014lainnya"></p-sortIcon></th>
                              <th pSortableColumn="hi015telpnum">Telp Number  <p-sortIcon field="hi015telpnum"></p-sortIcon></th>
                              <th pSortableColumn="hi203onkiprc">Ongkir Price  <p-sortIcon field="hi203onkiprc"></p-sortIcon></th>
                              <th pSortableColumn="hi204paypric">Payment Price  <p-sortIcon field="hi204paypric"></p-sortIcon></th>
                              <th pSortableColumn="hi205catatan">Catatan  <p-sortIcon field="hi205catatan"></p-sortIcon></th> -->
                            </tr>
                          </ng-template>
                          <ng-template pTemplate="body" let-data let-columns="columns">
                            <tr
                              (click)="kemasId($event, data); $event.stopPropagation()"
                              [class.highlighted]="data.hi200kemasid === currentUser"
                            >       
                            <ng-container *ngFor="let col of columns">
                              <td *ngIf="col.field == 'hi012prefect'">
                                {{province[data.hi012prefect - 1]?.name}}
                              </td>
                              <td *ngIf="col.field == 'hi014lainnya'" style="white-space: normal; max-width: 300px;">
                                {{data.hi014lainnya | slice:0:300}}
                              </td>
                              <td *ngIf="col.field == 'hi205viakuri'">
                                {{kurir[data.hi205viakuri]?.name}}
                              </td>
                              <td *ngIf="col.field == 'hi205catatan'" style="white-space: normal; max-width: 300px;">
                                {{kurir[data.hi205catatan]?.name}}
                              </td>
                              <td *ngIf="col.field != 'hi012prefect' && col.field != 'hi014lainnya' && col.field != 'hi205viakuri' && col.field != 'hi205catatan'">
                                {{data[col.field]}}
                              </td>
                            </ng-container>

                              <!-- <td>{{ data.hi200kemasid }}</td>
                              <td>{{ data.hi009namalen }}</td>
                              <td>{{ data.hi011postnum }}</td>
                              <td>{{ province[data.hi012prefect - 1]?.name }}</td>
                              <td>{{ data.hi013citynam }}</td>
                              <td>{{ data.hi014lainnya }}</td>
                              <td>{{ data.hi015telpnum }}</td>
                              <td>{{ data.hi203onkiprc }}</td>
                              <td>{{ data.hi204paypric }}</td>
                              <td>{{ data.hi205catatan }}</td> -->
                            </tr>
                          </ng-template>
                        </p-table>
                      </div>

                      <div style="float:left">                       
                        <!-- <span>
                          Pilih No Kemas Baru: &nbsp;
                        </span> -->
                        <button class="btn btn-default" (click)="newKemasId($event, countId);" [class.highlighted]="countId === selectKemas" value={{countId}}>
                           Buat Kemas Baru - {{countId}}
                        </button>
                      </div>

                      <div class="text-center" *ngIf="filterKemas == ''">
                        There is no data nomor kemas...
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer" style="display: block">
                  <!-- <button class="btn btn-success" (click)="updateCount(filterKemas); $event.stopPropagation()" style="float: left">
                    <i class="far fa-plus-square"></i>&nbsp; Kemasan Baru
                  </button> -->

                  <button (click)="updateKemas()" class="btn">
                    Apply <i class="fas fa-cog fa-spin" [hidden]="!isLoading"></i>
                  </button>

                  <button class="btn" data-dismiss="modal" (click)="removeModalKemas()">
                    <i class="flaticon-delete-1"></i> Cancel
                  </button>
                </div>
              </div>
            </div>
          </div>
        
          <!-- Modal Photo Barang -->
          <div class="modal fade" [ngClass]="modalPhoto ? 'show' : ''" id="photoModal" tabindex="-1" role="dialog"
            aria-labelledby="photoModal" aria-hidden="true" (click)="closed($event)">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
              <div class="modal-content image-detail-modal">
                <div class="modal-body">
                  <div class="add-contact-box">
                    <div class="add-contact-content">
                      <img src="{{ pictureFile }}" alt="Upload foto barang" title="Upload foto barang"
                        class="img-fluid upload" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        
        </div>
      </div>

      <div class="searchable-items list">
        <app-loader [isLoading]="isLoading"></app-loader>

        <div class="table-responsive user-list">
          <p-table #dt [autoLayout]="true" [value]="readData | searchFilter: searchValue" [paginator]="true" [rows]="20" [showCurrentPageReport]="true"
            [resizableColumns]="true" [columns]="selectedColumns" class="table">

            <ng-template pTemplate="caption">
              <div class="n-chk" style="margin-bottom: 20px;">
                <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header" [showHeader]="false"
                  selectedItemsLabel="{0} column selected" [style]="{minWidth: '200px'}" placeholder="Choose Columns">
                </p-multiSelect>
              </div>
            </ng-template>

            <ng-template pTemplate="header" let-columns>
              <tr>
                <th></th>
                <ng-container *ngFor="let col of columns">
                  <th pSortableColumn="{{col.field}}">
                    {{col.header}} <p-sortIcon field="{{col.field}}"></p-sortIcon>
                  </th>
                </ng-container>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data let-columns="columns">
              <tr>
                <td>
                  <div class="action">
                    <ul class="list-actions">
                      <li>
                        <a
                          (click)="noKemas(data); $event.stopPropagation()"
                          class="bs-tooltip"
                          data-toggle="tooltip"
                          data-placement="top"
                          title="Ganti No Kemas"
                          data-original-title="Edit"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="feather feather-edit-2 text-success"
                          >
                            <path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path>
                          </svg>
                        </a>
                      </li>
                    </ul>
                  </div>
                </td>
                <ng-container *ngFor="let col of columns">
                  <td *ngIf="col.field == 'dn107barcoid'" class="action" (click)="lulaId(data); $event.stopPropagation()">
                    {{data.dn107barcoid}}
                  </td>
                  <td *ngIf="col.field == 'dn307expordt'">
                    {{data.dn307expordt?.seconds * 1000 | date: 'MM/dd/yyyy, hh:mm:ss a'}}
                  </td>
                  <td *ngIf="col.field == 'dn111fotobrg'" class="action item-photo" (click)="lulaPhoto(data); $event.stopPropagation()">
                    <span *ngIf="!data.dn111fotobrg">
                      <img src="{{ noImage }}" />
                    </span>
                    <span *ngIf="data.dn111fotobrg">
                      <img src="{{ data.dn111fotobrg }}" />
                    </span>
                  </td>
                  <td *ngIf="col.field == 'dn305catatan'" style="white-space: normal; min-width: 300px;">
                    {{data.dn305catatan | slice:0:300}}
                  </td>
                  <td *ngIf="col.field == 'dn308whatbox'">
                    <span *ngIf="data.dn308whatbox == 0">Out</span>
                    <span *ngIf="data.dn308whatbox == 1">A</span>
                    <span *ngIf="data.dn308whatbox == 2">B</span>
                    <span *ngIf="data.dn308whatbox == 3">C</span>
                    <span *ngIf="data.dn308whatbox == 4">D</span>
                  </td>
                  <td *ngIf="col.field != 'dn107barcoid' && col.field != 'dn307expordt' && col.field != 'dn111fotobrg' && col.field != 'dn305catatan' && col.field != 'dn308whatbox'">
                    {{data[col.field]}}
                  </td>
                </ng-container>
              </tr>
            </ng-template>
          </p-table>
        </div>

        <div class="text-center" *ngIf="readData == ''">There is no data...</div>
      </div>
    </div>
  </div>
</div>

<div [ngClass]="modalKemas ? 'show' : ''" class="modal-backdrop fade"></div>
<div [ngClass]="modalAdd ? 'show' : ''" class="modal-backdrop fade"></div>
<div [ngClass]="modalDetail ? 'show' : ''" class="modal-backdrop fade"></div>
<div [ngClass]="modalKirim ? 'show' : ''" class="modal-backdrop fade"></div>
<div [ngClass]="modalPhoto ? 'show' : ''" class="modal-backdrop fade"></div>
